@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: 'Black-Chancery';
  src: url("../font/BLKCHCRY.TTF") format("truetype");
}

.fancy-font {
  font-family: "Black-Chancery";
  font-size: 13pt;
}

.primary-font {
  font-family: "Roboto", sans-serif;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.item-form {
  font-family: "Roboto", sans-serif;
}

header.sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

header.sheet-header img.profile-img {
  height: 100px;
  margin-right: 10px;
}

header.sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

header.sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 0 0 5px 0;
  border-bottom: 0;
}

header.sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.sheet-block {
  padding: 2px;
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.22) solid;
  background-color: rgba(0, 0, 0, 0.05);
}

.tox .tox-editor-container {
  background: #fff;
}

.tox .tox-edit-area {
  padding: 0 8px;
}

.line-height {
  height: 30px;
  line-height: 1;
  font-size: 18px;
}

.pad-sm {
  padding: 2px;
}

.pad-md {
  padding: 5px;
}

.pad-lg {
  padding: 10px;
}

.input-slim {
  max-width: 40px;
  width: 40px;
}

a.button {
  padding: 2px;
}

.resize-vertical {
  resize: vertical;
}

.roll-button {
  font-size: 1.2rem;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.items-header > * {
  font-size: 14px;
  text-align: center;
}

.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-list .item-name h3, .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.items-list .item:last-child {
  border-bottom: none;
}

.items-list .item .item-name {
  color: #191813;
}

.items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

/* Example style for Boilerplate (can be removed if not needed) */
.item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.fate-card {
  width: 130px;
  height: 260px;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.22) solid;
  background-color: rgba(0, 0, 0, 0.05);
}

.attribute-column-roll {
  max-width: 30px;
  width: 30px;
  text-align: center;
}

.attribute-column-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.attribute-column-abbreviation {
  max-width: 80px;
  width: 80px;
}

.attribute-column-level {
  max-width: 40px;
  width: 40px;
}

.attribute-column-requirements {
  max-width: 80px;
  width: 80px;
  text-align: center;
}

.attribute-column-successes, .attribute-column-failures {
  max-width: 40px;
  width: 40px;
}

.attribute-table th {
  padding: 0 3px;
}

.skill-table th {
  padding: 0 3px;
}

.skill-column-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.skill-column-roll, .skill-column-delete {
  max-width: 30px;
  width: 30px;
  text-align: center;
}

.skill-column-attribute {
  max-width: 80px;
  width: 80px;
}

.skill-column-attribute > select {
  width: 100%;
}

.skill-column-level {
  max-width: 40px;
  width: 40px;
}

.skill-column-requirements {
  max-width: 80px;
  width: 80px;
  text-align: center;
}

.skill-column-successes, .skill-column-failures {
  max-width: 40px;
  width: 40px;
}
