@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: 'Black-Chancery';
  src: url("../font/BLKCHCRY.TTF") format("truetype");
}

.fancy-font {
  font-family: "Black-Chancery";
  font-size: 1rem;
}

.primary-font {
  font-family: "Roboto", sans-serif;
}

.secondary-font {
  font-family: "Roboto", sans-serif;
}

.text-align-l {
  text-align: left;
}

.text-align-r {
  text-align: right;
}

.text-align-c {
  text-align: center;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

header.message-header span.flavor-text {
  margin-bottom: 12px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-shrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dice-rolls-container {
  overflow: hidden;
}

ol.dice-rolls {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

li.die.d6.roll-obstacle {
  width: auto;
  padding: 0 3px;
  background-color: transparent;
}

.dice-rolls li.roll {
  position: relative;
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  font-size: 16px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}

li.roll.die.d6.roll-failure {
  color: #712625;
}

li.roll.die.d6.roll-success {
  color: #18520b;
}

.dice-result {
  font-size: 1.1rem;
  width: 100%;
  display: block;
  border-radius: 5px;
  text-align: center;
}

.dice-result.failure {
  background-color: #8200002e;
}

.dice-result.success {
  background-color: #0082072e;
}

.hidden {
  display: none;
}

.multiline {
  word-wrap: break-word;
}

.line-height {
  height: 26px;
  line-height: 1;
  font-size: 1rem;
}

.pad-xs {
  padding: 1px;
}

.pad-sm {
  padding: 2px;
}

.pad-md {
  padding: 5px;
}

.pad-lg {
  padding: 10px;
}

.pad-b-xs {
  padding-bottom: 1px;
}

.pad-b-sm {
  padding-bottom: 2px;
}

.pad-b-md {
  padding-bottom: 5px;
}

.pad-b-lg {
  padding-bottom: 10px;
}

.pad-t-xs {
  padding-top: 1px;
}

.pad-t-sm {
  padding-top: 2px;
}

.pad-t-md {
  padding-top: 5px;
}

.pad-t-lg {
  padding-top: 10px;
}

.pad-l-xs {
  padding-left: 1px;
}

.pad-l-sm {
  padding-left: 2px;
}

.pad-l-md {
  padding-left: 5px;
}

.pad-l-lg {
  padding-left: 10px;
}

.pad-r-xs {
  padding-right: 1px;
}

.pad-r-sm {
  padding-right: 2px;
}

.pad-r-md {
  padding-right: 5px;
}

.pad-r-lg {
  padding-right: 10px;
}

.fill {
  width: 100%;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
}

.width-fill {
  width: 100%;
  min-width: inherit;
}

.height-fill {
  height: 100%;
  min-height: inherit;
}

.width-xs {
  width: 20px;
}

.width-sm {
  width: 30px;
}

.width-md {
  width: 50px;
}

.width-lg {
  width: 60px;
}

.width-xl {
  width: 80px;
}

.width-xxl {
  width: 100px;
}

.width-min-xs {
  min-width: 20px;
}

.width-min-sm {
  min-width: 30px;
}

.width-min-md {
  min-width: 50px;
}

.width-min-lg {
  min-width: 60px;
}

.width-min-xl {
  min-width: 80px;
}

.width-min-xxl {
  min-width: 100px;
}

.width-max-xs {
  max-width: 20px;
}

.width-max-sm {
  max-width: 30px;
}

.width-max-md {
  max-width: 50px;
}

.width-max-lg {
  max-width: 60px;
}

.width-max-xl {
  max-width: 80px;
}

.width-max-xxl {
  max-width: 100px;
}

.margin-t-xs {
  margin-top: 1px;
}

.margin-t-sm {
  margin-top: 2px;
}

.margin-t-md {
  margin-top: 5px;
}

.margin-t-lg {
  margin-top: 10px;
}

.margin-b-xs {
  margin-bottom: 1px;
}

.margin-b-sm {
  margin-bottom: 2px;
}

.margin-b-md {
  margin-bottom: 5px;
}

.margin-b-lg {
  margin-bottom: 10px;
}

.margin-l-xs {
  margin-left: 1px;
}

.margin-l-sm {
  margin-left: 2px;
}

.margin-l-md {
  margin-left: 5px;
}

.margin-l-lg {
  margin-left: 10px;
}

.margin-r-xs {
  margin-right: 1px;
}

.margin-r-sm {
  margin-right: 2px;
}

.margin-r-md {
  margin-right: 5px;
}

.margin-r-lg {
  margin-right: 10px;
}

/* Components */
header.sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

header.sheet-header img.profile-img {
  height: 100px;
  margin-right: 10px;
}

header.sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

h1.header-name {
  padding: 0px;
  margin: 0;
  font-size: 1.8rem;
}

h1.header-name input.header-name {
  margin: 0;
}

nav#nav-sheet-tabs.sheet-tabs {
  height: 32px;
  min-height: 32px;
  margin: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #b5b3a4;
  line-height: unset;
}

nav#nav-sheet-tabs.sheet-tabs > a.item {
  margin: 0;
  padding: 4px 0 0 0;
}

nav#nav-sheet-tabs.sheet-tabs > a.item.active {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  padding: 2px 0 0 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.sheet-block {
  padding: 2px;
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.22) solid;
  background-color: rgba(0, 0, 0, 0.05);
}

a.button {
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  font-size: 1rem;
}

.square-button-light {
  width: 26px;
  height: 26px;
}

textarea {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

textarea.resize-vertical {
  resize: vertical;
}

.ambersteel-item-to-chat-margin-right {
  margin-right: 2%;
}

.ambersteel-read-only {
  background: -o-repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent, rgba(0, 0, 0, 0.1) 10px);
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent, rgba(0, 0, 0, 0.1) 10px);
  border-radius: 0.2rem;
}

img.header-image {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 0.2rem;
  border: 1px solid #b5b3a4;
}

.inline-img {
  border: none;
  display: inline-block;
}

input[type="text"].input-width-override {
  width: 100%;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.items-header > * {
  font-size: 14px;
  text-align: center;
}

.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-list .item-name h3, .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.items-list .item:last-child {
  border-bottom: none;
}

.items-list .item .item-name {
  color: #191813;
}

.items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

div.item-description {
  height: 80%;
}

div.item-description textarea {
  height: 100%;
  resize: none;
  margin: 0px;
}

.fate-card {
  height: 300px;
  margin: 2px;
  border: 3px rgba(129, 129, 129, 0.45) solid;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}

.fate-card-header {
  border-bottom: 1px solid rgba(129, 129, 129, 0.45);
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2px;
  height: 52px;
}

.fate-card-footer {
  border-top: 1px solid rgba(129, 129, 129, 0.45);
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2px;
  height: 26px;
}

.fate-item-body-container {
  height: 80%;
  background-color: rgba(0, 0, 0, 0.05);
}

.fate-card-item-description {
  height: 80%;
  overflow: hidden;
}

.fate-card-item-description > textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.fate-card-description {
  height: 75%;
  overflow: hidden;
}

.fate-card-description > textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

a.ambersteel-fate-card-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a.ambersteel-fate-card-add i {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

span.fate-spinner-column-container {
  max-width: 60px;
}

.fate-card-actor-container {
  width: 190px;
}

div.message-content .fate-card-description {
  overflow-y: scroll;
}

.attribute-column-roll {
  max-width: 30px;
  width: 30px;
  text-align: center;
}

.attribute-column-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.attribute-column-abbreviation {
  max-width: 80px;
  width: 80px;
}

.attribute-column-level {
  max-width: 50px;
  width: 50px;
}

.attribute-column-requirements {
  max-width: 80px;
  width: 80px;
  text-align: center;
}

.attribute-column-successes, .attribute-column-failures {
  max-width: 50px;
  width: 50px;
}

.attribute-table th {
  padding: 0 3px;
}

.skill-table th {
  padding: 0 3px;
}

.skill-column-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.skill-column-roll, .skill-column-delete, .skill-column-button {
  max-width: 30px;
  width: 30px;
  text-align: center;
}

.skill-column-attribute {
  max-width: 80px;
  width: 80px;
}

.skill-column-attribute > select {
  width: 100%;
}

.skill-column-level {
  max-width: 50px;
  width: 50px;
}

.skill-column-requirements {
  max-width: 80px;
  width: 80px;
  text-align: center;
}

.skill-column-successes, .skill-column-failures {
  max-width: 50px;
  width: 50px;
}

section.skill-ability-list {
  width: 100%;
  padding: 0 10px;
  margin: auto;
}

table.skill-ability-list {
  margin: 0;
  border: 0;
}

table.skill-ability-list .skill-ability-column-requirement {
  width: 50px;
}

table.skill-ability-list .skill-ability-column-cost {
  width: 50px;
}

table.skill-ability-list .skill-ability-column-button {
  max-width: 30px;
  width: 30px;
  text-align: center;
}

.header-row {
  min-height: 40px;
  height: 40px;
  font-size: 1.1rem;
}

span.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 26px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
}

span.spinner-container input {
  border: 0;
  background-color: transparent;
}

.spinner-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 26px;
}

a.button-spinner {
  height: 50%;
  padding: 0 2px;
}

.radio-button-group {
  border: 1px solid #7a7971;
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
}

.radio-button-container {
  background: rgba(0, 0, 0, 0.025);
}

.radio-button-container > input {
  display: none;
}

.radio-button-container > label {
  cursor: pointer;
  padding: 0 6px;
  border-right: 1px solid #7a7971;
  color: #676662;
  background: rgba(0, 0, 0, 0.05);
}

.radio-button-container:last-child > label {
  border-right: none;
}

.radio-button-container.active > label {
  background: rgba(0, 0, 0, 0.01);
  text-shadow: 0 0 10px #d23d3d;
  color: #191813;
}

textarea.biography {
  height: 100%;
  resize: none;
  overflow-x: hidden;
}

textarea.gm-notes {
  height: 100%;
  resize: none;
  overflow-x: hidden;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.ambersteel-list-row {
  margin-top: 2px;
}

.ambersteel-list-row.ambersteel-list-footer {
  width: 100%;
  display: block;
  min-height: 26px;
  margin-top: unset;
}

.alternating-rows > :nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}

.alternating-rows > :nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.08);
}

.ambersteel-expand-skill-ability-list-container {
  display: block;
  width: 100%;
  height: 23px;
}

a.ambersteel-expand-skill-ability-list {
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.22) solid;
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 1rem;
}
