{{!-- Required context:
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}

// If provided, "parent" and "id" must be undefined!
viewModel: {ViewModel | undefined}
// If provided, "viewModel" must be undefined!
parent: {ViewModel | undefined}
id: {String | undefined}
indexDataSource: {AbstractListItemIndexDataSource | undefined}
listItemViewModels: {Array<ViewModel></ViewModel> | undefined}
listItemTemplate: {String | undefined}
vmBtnAddItem: {ViewModel | undefined}
--}}
{{#withViewModel parent id viewModel "SortableListViewModel" indexDataSource listItemViewModels listItemTemplate vmBtnAddItem}}
<ol class="unstyled-list alternating-rows{{#if ../cssClass}} {{../cssClass}}{{/if}}"
    id={{id}}
  >
  {{#each itemViewModelGroups as |itemViewModelGroup key|}}
    <li id="{{itemViewModelGroup.id}}" class="ambersteel-list-row sheet-block flex flex-row">
      <div class="component-list-item-order-controls{{#if (neq ../isEditable true)}} hidden{{/if}}">
        {{#> button viewModel=itemViewModelGroup.vmBtnMoveTop fill=false}}
          <i class="fas fa-angle-double-up"></i>
        {{/button}}
        {{#> button viewModel=itemViewModelGroup.vmBtnMoveUp fill=false}}
          <i class="fas fa-angle-up"></i>
        {{/button}}
        {{!-- TODO #116: Implement the grab handle --}}
        <div class="flex-grow"></div>
        {{!-- <a 
          class="grab-handle"
          >
          <i class="fas fa-grip-vertical"></i>
        </a> --}}
        {{#> button viewModel=itemViewModelGroup.vmBtnMoveDown fill=false}}
          <i class="fas fa-angle-down"></i>
        {{/button}}
        {{#> button viewModel=itemViewModelGroup.vmBtnMoveBottom fill=false}}
          <i class="fas fa-angle-double-down"></i>
        {{/button}}
      </div>
      {{> (lookup . 'listItemTemplate') viewModel=itemViewModelGroup.listItemViewModel cssClass="flex-grow" }}
    </li>
  {{/each}}
  <li class="ambersteel-list-row ambersteel-list-footer{{#if (neq isEditable true)}} hidden{{/if}}">
    <div class="fill flex flex-row flex-right">
      {{!-- Add button --}}
      <div>
        {{> buttonAdd viewModel=vmBtnAddItem fill=true}}
      </div>
    </div>
  </li>
</ol>
{{/withViewModel}}