{{!-- Required context:
viewModel: {SortableListViewModel}
cssClass: {String | undefined}
--}}
<ol class="unstyled-list alternating-rows{{#if cssClass}} {{cssClass}}{{/if}}"
    id={{viewModel.id}}
  >
  {{#each viewModel.itemViewModelGroups as |itemViewModelGroup key|}}
    <li class="ambersteel-list-row sheet-block flex flex-row">
      <div class="component-list-item-order-controls{{#if (neq ../viewModel.isEditable true)}} hidden{{/if}}">
        {{#> _button viewModel=itemViewModelGroup.vmBtnMoveTop fill=false}}
          <i class="fas fa-angle-double-up"></i>
        {{/_button}}
        {{#> _button viewModel=itemViewModelGroup.vmBtnMoveUp fill=false}}
          <i class="fas fa-angle-up"></i>
        {{/_button}}
        {{!-- TODO: Implement the grab handle --}}
        <div class="flex-grow"></div>
        {{!-- <a 
          class="grab-handle"
          >
          <i class="fas fa-grip-vertical"></i>
        </a> --}}
        {{#> _button viewModel=itemViewModelGroup.vmBtnMoveDown fill=false}}
          <i class="fas fa-angle-down"></i>
        {{/_button}}
        {{#> _button viewModel=itemViewModelGroup.vmBtnMoveBottom fill=false}}
          <i class="fas fa-angle-double-down"></i>
        {{/_button}}
      </div>
      {{> (lookup . 'listItemTemplate') viewModel=itemViewModelGroup.listItemViewModel cssClass="flex-grow" }}
    </li>
  {{/each}}
  <li class="ambersteel-list-row ambersteel-list-footer{{#if (neq viewModel.isEditable true)}} hidden{{/if}}">
    <div class="fill flex flex-row flex-right">
      {{!-- Add button --}}
      {{> buttonAdd viewModel=viewModel.vmBtnAddItem }}
    </div>
  </li>
</ol>