{{!-- Parameters:
for: {String|undefined}
cssClass: {undefined | String}
showFancyFont: {Boolean | undefined}
--}}
<label class="flex flex-middle height-fill ambersteel-label{{#if cssClass}} {{cssClass}}{{/if}}{{#if showFancyFont}} fancy-font{{/if}}"{{#if for}} for="{{for}}"{{/if}}>
  <div class="text-align-r width-fill pad-r-md">{{> @partial-block}}</div>
</label>