{{!-- Parameters:
for: {String|undefined}
cssClass: {undefined | String}
showFancyFont: {Boolean | undefined}
--}}
<label class="flex flex-middle height-fill ambersteel-label font-size-default{{#if showFancyFont}} fancy-font{{/if}}{{#if cssClass}} {{cssClass}}{{/if}}"{{#if for}} for="{{for}}"{{/if}}>
  <div class="text-align-r width-fill pad-r-md">{{> @partial-block}}</div>
</label>