{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
itemId: {String|undefined}
item: {Item} = {
  name: {String}
  data: {Object} = {
    data: {Object} = {
      description: {String}
      state: {CONFIG.injuryStates}
      timeToHeal: {String}
      limit: {Number}
    }
  }
}
--}}
{{!-- Row 1 --}}
<div class="flex flex-row">
  <div class="flex flex-grow">
    {{!-- Send to chat --}}
    {{> buttonSendToChat itemId=itemId }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.injury"}}
    </span>
    <span class="flex-grow margin-r-md">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="name" placeholder="ambersteel.labels.name" }}
    </span>
    {{!-- State --}}
    {{> inputRadioButtonGroup isEditable=isEditable propertyOwner=item propertyPath="data.data.state" options=(game.ambersteel.getInjuryOptions) }}
  </div>
  {{!-- Delete --}}
  {{> buttonDelete itemId=itemId promptConfirm=true promptLocalizableTitle="ambersteel.dialog.titleConfirmDeletionInjuryQuery" }}
</div>
{{!-- Row 2 --}}
<div class="flex flex-row">
  {{!-- Limit --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.limit" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=isEditable propertyOwner=item propertyPath="data.data.limit" min=0 }}
    </span>
  </div>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  {{!-- Time to heal --}}
  <div class="flex flex-row flex-grow">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.timeToHeal" }}
    </span>
    <span class="width-min-xl flex-grow">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.timeToHeal" }}
    </span>
  </div>
</div>
{{!-- Row 3 --}}
{{!-- Description --}}
<div class="flex flex-row">
  {{> inputTextarea isEditable=isEditable propertyOwner=item propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") allowResize=true }}
</div>