{{!-- Requires context:
viewModel: {InjuryItemSheetViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{viewModel.item.img}}" data-edit="img" title="{{viewModel.item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
    </div>
  </header>
  {{!-- Limit --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.limit"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner viewModel=viewModel.vmNsLimit }}
    </div>
  </div>
  {{!-- Time to heal --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.timeToHeal"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfTimeToHeal }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea viewModel=viewModel.vmTaDescription cssClass="fill" }}
    </div>
  </div>
</form>