{{!-- Requires context:
viewModel: {InjuryItemSheetViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{viewModel.item.img}}" data-edit="img" title="{{viewModel.item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat target=viewModel.item }}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Limit --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.limit"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.limit" min=0 }}
    </div>
  </div>
  {{!-- Time to heal --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.timeToHeal"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.timeToHeal" }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true cssClass="fill" }}
    </div>
  </div>
</form>