{{!-- Requires context:
viewModel: {InjuryListItemViewModel}
--}}
{{!-- Row 1 --}}
<div class="flex flex-row">
  <div class="flex flex-grow">
    {{!-- Send to chat --}}
    {{> buttonSendToChat target=viewModel.item }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.injury"}}
    </span>
    <span class="flex-grow margin-r-md">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" contextTemplate="injury-list-item" }}
    </span>
    {{!-- State --}}
    {{> inputRadioButtonGroup isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.state" options=viewModel.stateOptions contextTemplate="injury-list-item" }}
  </div>
  {{!-- Delete --}}
  {{> buttonDelete target=viewModel.item withDialog=true }}
</div>
{{!-- Row 2 --}}
<div class="flex flex-row">
  {{!-- Limit --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.limit" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.limit" min=0 contextTemplate="injury-list-item" }}
    </span>
  </div>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  {{!-- Time to heal --}}
  <div class="flex flex-row flex-grow">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.timeToHeal" }}
    </span>
    <span class="width-min-xl flex-grow">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.timeToHeal" contextTemplate="injury-list-item" }}
    </span>
  </div>
</div>
{{!-- Row 3 --}}
{{!-- Description --}}
<div class="flex flex-row">
  {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true contextTemplate="injury-list-item" }}
</div>