{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  data: {Object} = {
    data: {Object} = {
      description: {String}
      state: {CONFIG.injuryStates}
      timeToHeal: {String}
      limit: {Number}
    }
  }
}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputComponent type="single-line" propertyPath="name" isEditable=isEditable }}
        </h1>
        {{#if isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Limit --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.limit"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="number" propertyPath="data.data.limit" min="0" isEditable=isEditable }}
    </div>
  </div>
  {{!-- Time to heal --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.timeToHeal"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="single-line" propertyPath="data.data.timeToHeal" isEditable=isEditable }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.description"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="multi-line" propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") isEditable=isEditable cssClass="resize-vertical fill" readOnlyCssClass="multiline"}}
    </div>
  </div>
</form>