{{!-- Parameters:
viewModel: {SkillListItemViewModel}
--}}
<div id="{{viewModel.id}}" class="flex flex-row flex-wrap margin-b-md margin-t-md auto-margin-h">
  {{!-- Level Block --}}
  <div class="flex flex-row flex-middle auto-margin-h sheet-block">
    <div class="flex flex-row flex-middle auto-margin-h">
      {{!-- Level --}}
      {{> inputNumberSpinner viewModel=viewModel.vmRawLevel cssClass="width-sm" }}
      <i class="fa-solid fa-shuffle"></i>
      {{> inputNumberSpinner viewModel=viewModel.vmLevel cssClass="width-sm" }}
      <span style="width: 26px;">{{viewModel.maxHpModifierString}}</span>
    </div>
  </div>
  <div class="flex-grow"></div>
  {{#if viewModel.showAdvancementProgression}}
  {{!-- Advancement Requirements --}}
  <div class="flex flex-row flex-middle auto-margin-h sheet-block">
    {{!-- Successes --}}
    <div class="flex flex-gap-sm flex-middle flex-row">
      {{#> labeledControl viewModel=viewModel.vmNsSuccesses localizedLabel=(localize "system.character.advancement.requirements.success.abbreviation") }}
        <div class="width-sm">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
      <span class="font-size-lg">/</span>
      {{> readOnlyValue viewModel=viewModel.vmAdvancementRequirementSuccesses cssClass="width-min-sm" }}
    </div>
    {{!-- Failures --}}
    <div class="flex flex-gap-sm flex-middle flex-row">
      {{#> labeledControl viewModel=viewModel.vmNsFailures localizedLabel=(localize "system.character.advancement.requirements.failure.abbreviation") }}
        <div class="width-sm">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
      <span class="font-size-lg">/</span>
      {{> readOnlyValue viewModel=viewModel.vmAdvancementRequirementFailures cssClass="width-min-sm" }}
    </div>
    {{!-- Advanced --}}
    {{#> labeledControl viewModel=viewModel.vmAdvanced }}
      <div class="width-sm">
        {{> buttonCheckbox }}
      </div>
    {{/labeledControl}}
  </div>
  {{/if}}
</div>
