{{!-- Parameters:
viewModel: {SkillItemSheetViewModel}
cssClass: {undefined | String}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
    </div>
  </header>
  {{!-- Related Attribute --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text=(localize "ambersteel.character.skill.relatedAttribute") showFancyFont=viewModel.showFancyFont}}
    </div>
    <div class="grid-span-2">
      {{> inputDropDown viewModel=viewModel.vmDdRelatedAttribute }}
    </div>
  </div>
  {{!-- Category --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text=(localize "ambersteel.general.category") showFancyFont=viewModel.showFancyFont}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTfCategory }}
    </div>
  </div>
  {{!-- IsMagicSchol --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text=(localize "ambersteel.character.magic.school") showFancyFont=viewModel.showFancyFont}}
    </div>
    <div class="grid-span-2">
      {{> buttonToggle viewModel=viewModel.vmSwIsMagicSchool }}
    </div>
  </div>
  {{!-- Properties --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text=(localize "ambersteel.general.properties.label") showFancyFont=viewModel.showFancyFont}}
    </div>
    <div class="grid-span-2">
      {{> inputProperties viewModel=viewModel.vmProperties}}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-column margin-b-md">
    <h3 class="{{#if viewModel.showFancyFont}}fancy-font{{/if}}">{{localize "ambersteel.general.description"}}</h3>
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
  {{!-- Skill Abilites --}}
  {{> "systems/ambersteel/presentation/sheet/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable cssClass=(ifThenElse viewModel.isSkillAbilityListVisible "" "hidden") }}
</form>