{{!-- Parameters:
viewModel: {SkillListItemViewModel}
--}}
<section id="{{viewModel.id}}">
  {{!-- Row --}}
  {{!-- Damage --}}
  <div class="flex flex-row border-solid-t-sm border-solid-b-sm{{#if viewModel.hideDamage}} hidden{{/if}}">
    <div class="flex flex-center">
      <span class="button light square font-size-default flex flex-center" id="{{viewModel.id}}-damage-info">
        <i class="far fa-question-circle info-button"></i>
      </span>
    </div>
    {{> damageDefinitionList viewModel=viewModel.vmDamageDefinitionList}}
  </div>
  {{!-- Row --}}
  {{!-- Expertises --}}
  {{#if viewModel.showExpertises}}
    {{#with viewModel.expertisesTemplate as |template|}}
    {{> (template) viewModel=../viewModel.vmExpertiseTable }}
    {{/with}}
  {{/if}}
  {{!-- Row --}}
  {{!-- Prerequisites --}}
  <div class="flex flex-column margin-b-sm{{#if (neq viewModel.showPrerequisites true)}} hidden{{/if}}">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.skill.prerequisite.plural"}}{{/header3}}
    <ul class="unstyled-list auto-margin-v">
      {{#each viewModel.prerequisites as |prerequisite index|}}
      <li class="flex flex-row flex-middle">
        <span class="flex flex-row flex-grow">
          {{> readOnlyValue viewModel=prerequisite.vmName cssClass="flex flex-center"}}
        </span>
        <span style="width: 144px">
          {{#> label showFancyFont=../viewModel.showFancyFont}}{{localize "system.character.advancement.minimum"}}{{/label}}
        </span>
        <span class="width-md">
          {{> readOnlyValue viewModel=prerequisite.vmMinimumLevel cssClass="font-size-md flex flex-center"}}
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- Row --}}
  {{!-- Tags --}}
  <div class="flex flex-row flex-middle auto-margin-h">
    {{#> labeledControl viewModel=viewModel.vmTags localizedIconToolTip=(localize "system.general.tag.plural") iconClass="ico-tags-solid" cssClass="" }}
      {{> inputTags }}
    {{/labeledControl}}
  </div>
</section>
