{{!--
viewModel: SkillPrerequisiteListItemViewModel
--}}
<div class="flex flex-row flex-grow flex-middle">
  {{!-- Name --}}
  {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.name.label"}}{{/label}}
  <span class="flex-grow">
    {{> inputTextField viewModel=viewModel.vmName}}
  </span>
  {{!-- ID --}}
  {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.id"}}{{/label}}
  <span class="flex-grow">
    {{> inputTextField viewModel=viewModel.vmId}}
  </span>
  {{!-- Spacer --}}
  <span class="width-sm"></span>
  {{!-- Minimum Level --}}
  {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.advancement.minimum"}}{{/label}}
  <span class="width-md">
    {{> inputNumberSpinner viewModel=viewModel.vmMinimumLevel}}
  </span>
</div>