{{!-- Parameters:
viewModel: {SkillItemSheetViewModel}
cssClass: {undefined | String}
--}}
<form id="{{viewModel.id}}" class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row flex-middle">
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        {{!-- Context Menu --}}
        {{> buttonContextMenu viewModel=viewModel.vmBtnContextMenu cssClass="" }}
        {{!-- SendToChat --}}
        {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
      </div>
    </div>
  </header>
  {{!-- Description --}}
  <div class="sheet-block flex flex-column margin-b-md">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
  <div class="grid-2col grid-gap-sm">
    {{!-- Related Attribute --}}
    {{#> labeledControl viewModel=viewModel.vmDdRelatedAttribute localizedIconToolTip=(localize "ambersteel.character.skill.relatedAttribute") iconClass="ico-related-attribute-solid" cssClass="flex-grow" }}
      {{> inputDropDown }}
    {{/labeledControl}}
    {{!-- Lots of optional content here --}}
    {{!-- AP cost --}}
    <div class="{{#if viewModel.hideApCost}} hidden{{/if}}">
      {{#> labeledControl viewModel=viewModel.vmNsApCost localizedIconToolTip=(localize "ambersteel.actionPoint.plural") iconClass="ico-action-point-solid" cssClass="" }}
        {{> inputNumberSpinner }}
      {{/labeledControl}}
    </div>
    {{!-- Condition --}}
    <div class="{{#if viewModel.hideCondition}} hidden{{/if}}">
      {{#> labeledControl viewModel=viewModel.vmCondition localizedIconToolTip=(localize "ambersteel.character.skill.ability.condition.label") iconClass="ico-condition-solid" cssClass="flex-grow" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Obstacle --}}
    <div{{#if viewModel.hideObstacle}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmTfObstacle localizedIconToolTip=(localize "ambersteel.roll.obstacle.label") iconClass="ico-obstacle-solid" cssClass="flex-grow" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Opposed By --}}
    <div{{#if viewModel.hideOpposedBy}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmTfOpposedBy localizedIconToolTip=(localize "ambersteel.roll.obstacle.opposedBy.label") iconClass="ico-opposed-by-solid" cssClass="" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Distance --}}
    <div{{#if viewModel.hideDistance}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmTfDistance localizedIconToolTip=(localize "ambersteel.character.skill.ability.distance.label") iconClass="ico-distance-solid" cssClass="" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Attack type --}}
    <div{{#if viewModel.hideAttackType}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmDdAttackType localizedIconToolTip=(localize "ambersteel.attackType.label") iconClass=viewModel.attackTypeIconClass cssClass="" }}
        {{> inputDropDown }}
      {{/labeledControl}}
    </div>
  </div>
  {{!-- Row --}}
  {{!-- Damage --}}
  <div class="flex flex-row sheet-block{{#if viewModel.hideDamage}} hidden{{/if}}">
    <div class="flex flex-center">
      <span class="button light square font-size-default flex flex-center" id="{{viewModel.id}}-damage-info">
        <i class="far fa-question-circle info-button"></i>
      </span>
    </div>
    {{> damageDefinitionList viewModel=viewModel.vmDamageDefinitionList}}
  </div>
  {{!-- Row --}}
  <div class="flex flex-row flex-middle auto-margin-h sheet-block">
    {{!-- Category --}}
    {{#> labeledControl viewModel=viewModel.vmTfCategory localizedIconToolTip=(localize "ambersteel.general.category") iconClass="fas fa-folder" cssClass="" }}
      <div class="width-xxl">
        {{> inputTextField }}
      </div>
    {{/labeledControl}}
    {{!-- Tags --}}
    {{#> labeledControl viewModel=viewModel.vmTags localizedIconToolTip=(localize "ambersteel.general.tags.label") iconClass="ico-tags-solid" cssClass="" }}
      {{> inputTags }}
    {{/labeledControl}}
  </div>
  {{!-- Prerequisites --}}
  <div class="sheet-block flex flex-column">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.prerequisite.plural"}}{{/header3}}
    {{> simpleList viewModel=viewModel.vmPrerequisiteList}}
  </div>
  {{!-- Skill Abilites --}}
  {{> "systems/ambersteel/presentation/sheet/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable cssClass=(ifThenElse viewModel.isSkillAbilityListVisible "" "hidden") }}
</form>