.strive.image {
  img {
    width: $input-size-md;
    height: $input-size-md;
  }

  &.lg img {
    width: $input-size-lg;
    height: $input-size-lg;
  }

  .edit-mode {
    cursor: pointer;
  
    &.disabled {
      cursor: default;
    }
  }
}

