.strive.image {
  img {
    width: $input-size-md;
    height: $input-size-md;
    min-width: 1rem;
    min-height: 1rem;
  }

  &.lg img {
    width: $input-size-lg;
    height: $input-size-lg;
  }

  .edit-mode {
    cursor: pointer;
  
    &.disabled {
      cursor: default;
    }
  }
}

.theme-light {
  
  .strive.image > .edit-mode > img {
    background: $c-bg-input-light;
    border-bottom: 1px solid $c-border-light;

    &:hover,
    &:focus {
      background: $c-bg-input-focus-light;
      border-bottom: 1px solid  $c-border-highlight-light;
    }
  }
}
.theme-dark {
  .strive.image > .edit-mode > img {
    background: $c-bg-input-dark;
    border-bottom: 1px solid  $c-border-dark;

    &:hover,
    &:focus {
      background: $c-bg-input-focus-dark;
      border-bottom: 1px solid  $c-border-highlight-dark;
    }
  }
}