{{!-- Parameters:
viewModel: DynamicInputDialog
buttons: Array<Object>
--}}
{{#> dialogContent}}
  {{#each viewModel.controls as |control index|}}
  <div id="{{control.definition.name}}" class="flex flex-row auto-margin-h-md sheet-block">
    {{!-- Label --}}
    {{#if (or control.definition.localizedLabel control.definition.iconHtml)}}
    <div class="flex flex-row flex-grow flex-middle">
      {{#if control.definition.localizedLabel}}
      {{#> label showFancyFont=control.definition.showFancyFont cssClass="flex-grow"}}{{{control.definition.localizedLabel}}}{{/label}}
      {{/if}}
      {{#if control.definition.required}}
        <span class="font-size-md font-bold">*</span>
      {{/if}}
      {{!-- Icon --}}
      {{#if control.definition.iconHtml}}
      <span class="flex flex-center">
        {{{control.definition.iconHtml}}}
      </span>
      {{/if}}
    </div>
    {{/if}}
    {{!-- Input control --}}
    {{#if control.isRenderable}}
    <div class="flex flex-middle flex-grow">
      {{#with control.template as | template |}}
        {{> (template) viewModel=control.viewModel }}
      {{/with}}
    </div>
    {{/if}}
  </div>
  {{/each}}
  <div id="required-input-warning" class="hint-card error hidden">
		<p>{{localize "system.general.input.validationFailed"}}:</p>
    <ul id="required-input-list">
    </ul>
  </div>
{{/dialogContent}}