a.context.highlight {
  &:hover {
    text-shadow: unset;
  }
}

nav#context-menu {
  width: 14rem;
  
  li.context-item {
    font-family: var(--font-primary);
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    &:hover {
      text-shadow: 0 0 8px $c-text-highlight;
      background-color: #47453c;
    }

    > i, i.fa-fw {
      height: 20px;
      line-height: 20px;
      width: unset;
    }
  }
}
