{{!-- Parameters:
viewModel: {SkillAbilityTableViewModel}
cssClass: {undefined | String}
--}}
<section class="skill-ability-list{{#if cssClass}} {{cssClass}}{{/if}}">
  <ol class="unstyled-list {{#if viewModel.skillAbilitiesInitiallyVisible}}{{else}}hidden{{/if}}" 
    data-vis-group="{{viewModel.visGroupId}}"
  >
    {{#each viewModel.abilities as |abilityViewModel key|}}
      <li class="ambersteel-list-row sheet-block margin-b-lg border-solid-t-xl pad-t-lg">
        {{#if ../viewModel.oneColumn}}
          {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-chat-message.hbs" viewModel=abilityViewModel }}
        {{else}}
          {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-list-item.hbs" viewModel=abilityViewModel }}
        {{/if}}
      </li>
    {{/each}}
    <li class="ambersteel-list-row ambersteel-list-footer {{#if (not viewModel.isEditable)}}hidden{{/if}}">
      <div class="fill flex flex-row">
        <span class="flex-grow"></span>
        {{!-- Add skill ability --}}
        <span class="width-sm">
          {{> buttonAdd viewModel=viewModel.vmBtnAdd }}
        </span>
      </div>
    </li>
  </ol>
  <div class="line-height">
    {{#> buttonToggleVisibility viewModel=viewModel.vmBtnToggleVisibilityExpand fill=true cssClass=(ifThenElse viewModel.skillAbilitiesInitiallyVisible "hidden" "") }}
      <i class="fas fa-angle-double-down"></i>
    {{/buttonToggleVisibility}}
    {{#> buttonToggleVisibility viewModel=viewModel.vmBtnToggleVisibilityCollapse fill=true cssClass=(ifThenElse viewModel.skillAbilitiesInitiallyVisible "" "hidden") }}
      <i class="fas fa-angle-double-up"></i>
    {{/buttonToggleVisibility}}
  </div>
</section>