{{!-- Required context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  data: {Object} = {
    id: {String}
    name: {String}
    img: {String}
    data: {Object} = {
      relatedAttribute: {String}
      value: {Number}
      successes: {Number}
      failures: {Number}
      abilities: {[SkillAbility]} = {
        name: {String}
        description: {String}
        requiredLevel: {Number}
        condition: {String}
        img: {String}
        apCost: {Number|undefined}
        distance: {Number|undefined}
        damageFormula: {String}
        damageType: {CONFIG.ambersteel.damageTypes|undefined}
        isCustom: {Boolean}
      }
      category: {Number}
    }
  }
}
skillAbilitiesInitiallyVisible: {Boolean}
visGroupId: {String}
oneColumn: {Boolean}
--}}
<section class="skill-ability-list">
  <ol class="unstyled-list {{#if skillAbilitiesInitiallyVisible}}{{else}}hidden{{/if}}" data-vis-group="{{visGroupId}}">
    {{#each item.data.abilities as |ability key|}}
      <li class="ambersteel-list-row sheet-block">
        {{#if ../oneColumn}}
          {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-chat-message.hbs" 
            isEditable=../isEditable 
            isSendable=../isSendable 
            skillAbility=ability
          }}
        {{else}}
          {{!-- Row 1 --}}
          <div class="flex flex-row">
            <div class="flex flex-grow">
              {{!-- Send to chat --}}
              {{#if ../isSendable}}
                {{> buttonSendToChat itemId=../item.data.id propertyPath=(concat "data.data.abilities[" key "]") }}
              {{/if}}
              {{!-- Name --}}
              <span class="width-min-xl">
                {{> inputLabel for=(concat "name[" key "]") text="ambersteel.labels.name"}}
              </span>
              {{> inputTextField isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].name") placeholder="ambersteel.labels.name" }}
            </div>
            {{!-- Delete --}}
            {{#if ../isEditable}}
              {{> buttonDelete isEditable=../isEditable target=../item propertyPath=(concat "data.data.abilities[" key "]") withDialog=true }}
            {{/if}}
          </div>
          {{!-- Row 2 --}}
          <div class="flex flex-row">
            {{!-- At level --}}
            <div class="flex flex-row">
              <span class="width-min-xl">
                {{> inputLabel for=(concat "requiredLevel[" key "]") text="ambersteel.labels.skillAbilityRequirement"}}
              </span>
              <span class="width-md">
                {{> inputNumberSpinner isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].requiredLevel") min=0 }}
              </span>
            </div>
            {{!-- Obstacle --}}
            <div class="flex flex-row">
              <span class="width-min-xl">
                {{> inputLabel for=(concat "obstacle[" key "]") text="ambersteel.roll.obstacleAbbreviation"}}
              </span>
              <span class="width-xxl">
                {{> inputTextField isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].obstacle") }}
              </span>
            </div>
          </div>
          {{!-- Row 3 --}}
          <div class="flex flex-row">
            {{!-- Distance --}}
            <div class="width-min-xl">
              {{> inputLabel for=(concat "distance[" key "]") text="ambersteel.labels.distance"}}
            </div>
            <span class="width-md">
              {{> inputNumberSpinner isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].distance") min=0 }}
            </span>
            {{!-- AP cost --}}
            <div class="width-min-xl">
              {{> inputLabel for=(concat "apCost[" key "]") text="ambersteel.labels.apCost"}}
            </div>
            <span class="width-md">
              {{> inputNumberSpinner isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].apCost") min=0 }}
            </span>
            {{!-- Attack type --}}
            <div class="width-min-xl">
              {{> inputLabel for=(concat "attackType[" key "]") text="ambersteel.labels.attackType"}}
            </div>
            <span class="width-min-lg">
              {{> inputDropDown isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].attackType") options=(game.ambersteel.getAttackTypeOptions) }}
            </span>
          </div>
          {{!-- Row 4 --}}
          <div class="flex flex-row">
            {{!-- Damage formula --}}
            <div class="width-min-xl">
              {{> inputLabel for=(concat "damageFormula[" key "]") text="ambersteel.labels.damage"}}
            </div>
            {{> buttonRoll
              type="generic"
              itemId=../item.data.id
              propertyPath=(concat "data.data.abilities[" key "].damageFormula")
              chatTitle=ability.name
            }}
            <span class="width-min-xxl flex-grow">
              {{> inputTextField isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].damageFormula") }}
            </span>
            {{!-- Damage type --}}
            <div class="width-min-xxl">
              {{> inputLabel for=(concat "damageType[" key "]") text="ambersteel.labels.damageType"}}
            </div>
            <span class="width-xxl">
              {{> inputDropDown isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].damageType") options=(game.ambersteel.getDamageTypeOptions) }}
            </span>
          </div>
          {{!-- Row 5 --}}
          <div class="flex flex-row flex-grow">
            {{!-- Condition --}}
            <div class="width-min-xl">
              {{> inputLabel for=(concat "condition[" key "]") text="ambersteel.labels.skillAbilityCondition"}}
            </div>
            <div class="flex-grow">
              {{> inputTextField isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].condition") }}
            </div>
          </div>
          {{!-- Row 6 --}}
          {{!-- Description --}}
          <div class="flex flex-row">
            {{> inputTextarea isEditable=../isEditable propertyOwner=../item propertyPath=(concat "data.data.abilities[" key "].description") placeholder=(localize "ambersteel.labels.description") allowResize=true cssClass="fill" }}
          </div>
        {{/if}}
      </li>
    {{/each}}
    {{#if isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add skill ability --}}
          <span class="width-sm">
            {{> buttonAdd isEditable=isEditable target=item creationType="skill-ability" withDialog=false }}
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
  {{#> buttonToggleVisibility 
    visGroup=visGroupId
    cssClass=(ifThenElse skillAbilitiesInitiallyVisible "hidden" "")
  }}
    <i class="fas fa-angle-double-down"></i>
  {{/buttonToggleVisibility}}
  {{#> buttonToggleVisibility 
    visGroup=visGroupId
    cssClass=(ifThenElse skillAbilitiesInitiallyVisible "" "hidden")
  }}
    <i class="fas fa-angle-double-up"></i>
  {{/buttonToggleVisibility}}
</section>