{{!-- Parameters:
viewModel: {SkillAbilityListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row">
    <div class="flex flex-grow">
      {{!-- Roll --}}
      {{> buttonRoll viewModel=viewModel.vmBtnRoll }}
      {{!-- Send to chat --}}
      {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
      {{!-- Name --}}
      <span class="width-min-xl">
        {{> inputLabel text="ambersteel.general.name" showFancyFont=viewModel.showFancyFont}}
      </span>
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
      <h4 class="flex-grow margin-r-md">
        {{> inputTextField viewModel=viewModel.vmTfName }}
      </h4>
    </div>
    {{!-- Context Menu --}}
    {{> buttonContextMenu viewModel=viewModel.vmBtnContextMenu }}
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row 2 --}}
  <div class="grid grid-2col grid-gap-md">
    {{!-- Required Level --}}
    <div class="fill flex flex-row">
      <div class="flex-grow">
        {{> inputLabel text="ambersteel.character.skill.ability.requirement" showFancyFont=viewModel.showFancyFont}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsRequiredLevel }}
      </div>
    </div>
    {{!-- AP cost --}}
    <div class="fill flex flex-row">
      <div class="flex-grow">
        {{> inputLabel text="ambersteel.character.skill.ability.apCost" showFancyFont=viewModel.showFancyFont}}
      </div>
      <div class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsApCost }}
      </div>
    </div>
    {{!-- Lots of optional content here --}}
    {{!-- Obstacle --}}
    <div class="fill flex flex-row{{#if viewModel.hideObstacle}} hidden{{/if}}">
      <div class="width-min-lg">
        {{> inputLabel text="ambersteel.roll.obstacle.abbreviation" showFancyFont=viewModel.showFancyFont}}
      </div>
      <div class="flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfObstacle }}
      </div>
    </div>
    {{!-- Opposed By --}}
    <div class="fill flex flex-row{{#if viewModel.hideOpposedBy}} hidden{{/if}}">
      <div class="width-min-lg">
        {{> inputLabel text="ambersteel.roll.obstacle.opposedBy.label" showFancyFont=viewModel.showFancyFont}}
      </div>
      <div class="flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfOpposedBy }}
      </div>
    </div>
    {{!-- Distance --}}
    <div class="fill flex flex-row{{#if viewModel.hideDistance}} hidden{{/if}}">
      <div class="width-min-lg">
        {{> inputLabel text="ambersteel.character.skill.ability.distance.label" showFancyFont=viewModel.showFancyFont}}
      </div>
      <div class="flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfDistance }}
      </div>
    </div>
    {{!-- Attack type --}}
    <div class="fill flex flex-row{{#if viewModel.hideAttackType}} hidden{{/if}}">
      <div class="width-min-lg">
        {{> inputLabel text="ambersteel.attackType.label" showFancyFont=viewModel.showFancyFont}}
      </div>
      <div class="flex-grow">
        {{> inputDropDown viewModel=viewModel.vmDdAttackType }}
      </div>
    </div>
  </div>
  {{!-- Damage --}}
  <div class="flex flex-row{{#if viewModel.hideDamage}} hidden{{/if}}">
    <div class="width-sm flex flex-center sheet-group-sidebar">
      {{#> button viewModel=viewModel.vmBtnRollDamage }}<i class="fas fa-dice-three"></i>{{/button}}
    </div>
    <ol class="unstyled-list flex-grow">
      {{#each viewModel.damageViewModels as |vm index|}}
        <li class="ambersteel-list-row flex flex-row margin-b-md">
          <div class="fill flex flex-row">
            {{!-- Damage formula --}}
            <div class="width-min-xl">
              {{> inputLabel text="ambersteel.character.skill.ability.damage.label" showFancyFont=viewModel.showFancyFont}}
            </div>
            <span class="width-min-xxl flex-grow">
              {{> inputTextField viewModel=vm.vmTfDamage }}
            </span>
            {{!-- Damage type --}}
            <div class="width-min-xxl">
              {{> inputLabel text="ambersteel.damageType.label" showFancyFont=viewModel.showFancyFont}}
            </div>
            <span class="width-xxl">
              {{> inputDropDown viewModel=vm.vmDdDamageType }}
            </span>
            {{!-- Delete button --}}
            {{#> button viewModel=vm.vmBtnDelete }}<i class="fas fa-trash"></i>{{/button}}
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
  {{!-- Condition --}}
  <div class="flex flex-column margin-b-md{{#if viewModel.hideCondition}} hidden{{/if}}">
    <h3 class="margin-b-sm{{#if viewModel.showFancyFont}} fancy-font{{/if}}">
      {{localize "ambersteel.character.skill.ability.condition.label"}}
    </h3>
    <div class="flex-grow">
      {{> inputTextarea viewModel=viewModel.vmTaCondition }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="flex flex-column margin-b-md">
    <h3 class="margin-b-sm{{#if viewModel.showFancyFont}} fancy-font{{/if}}">{{localize "ambersteel.general.description"}}</h3>
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
</div>