{{!-- Parameters:
viewModel: {SkillAbilityTableViewModel}
cssClass: {undefined | String}
--}}
<section class="skill-ability-list{{#if cssClass}} {{cssClass}}{{/if}}">
  <div class="{{#if viewModel.skillAbilitiesInitiallyVisible}}{{else}}hidden{{/if}}" 
    data-vis-group="{{viewModel.visGroupId}}"
  >
    {{> sortableList viewModel=viewModel.vmSkillAbilities }}
  </div>
  <div class="line-height">
    {{#> buttonToggleVisibility viewModel=viewModel.vmBtnToggleVisibilityExpand fill=true cssClass=(ifThenElse viewModel.skillAbilitiesInitiallyVisible "hidden" "") }}
      <i class="fas fa-angle-double-down"></i>
    {{/buttonToggleVisibility}}
    {{#> buttonToggleVisibility viewModel=viewModel.vmBtnToggleVisibilityCollapse fill=true cssClass=(ifThenElse viewModel.skillAbilitiesInitiallyVisible "" "hidden") }}
      <i class="fas fa-angle-double-up"></i>
    {{/buttonToggleVisibility}}
  </div>
</section>