{{!-- Requires context:
viewModel: {ItemItemSheetViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{viewModel.item.img}}" data-edit="img" title="{{viewModel.item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" contextTemplate="item-item-sheet" }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat target=viewModel.item }}
          </div>
        {{/if}}
      </div>
      {{> buttonTakeItem target=viewModel.item contextType="item-sheet" }}
    </div>
  </header>
  {{!-- Quantity --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.quantity"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.quantity" min=1 contextTemplate="item-item-sheet" }}
    </div>
  </div>
  {{!-- Max quantity --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.maxQuantity"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.maxQuantity" min=1 contextTemplate="item-item-sheet" }}
    </div>
  </div>
  {{!-- SHAPE --}}
  {{!-- Width --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.shapeWidth"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.shape.width" min=1 contextTemplate="item-item-sheet" }}
    </div>
  </div>
  {{!-- Height --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.shapeHeight"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.shape.height" min=1 contextTemplate="item-item-sheet" }}
    </div>
  </div>
  {{!-- Bulk - read only! --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.bulk"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner isEditable=false propertyOwner=viewModel.item propertyPath="data.data.bulk" contextTemplate="item-item-sheet" }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true cssClass="fill" contextTemplate="item-item-sheet" }}
    </div>
  </div>
</form>
