{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
itemId: {String|undefined}
item: {Item} = {
  id: {String}
  name: {String}
  img: {String}
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
      gmNotes: {String}
      isCustom: {Boolean}
      quantity: {Number}
      maxQuantity: {Number}
      bulk: {Number} - Derived!
      shape: {Object} = {
        width: {Number}
        height: {Number}
      }
      isOnPerson: {Boolean}
    }
  }
}
--}}
{{!-- Row 1 --}}
<div class="flex flex-row">
  <div class="flex flex-grow">
    {{!-- Send to chat --}}
    {{> buttonSendToChat target=item }}
    {{!-- Pick up --}}
    {{> buttonTakeItem target=item contextType="list-item" }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.item"}}
    </span>
    <span class="flex-grow margin-r-md">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="name" placeholder="ambersteel.labels.name" }}
    </span>
  </div>
  {{!-- Delete --}}
  {{> buttonDelete target=item withDialog=false }}
</div>
{{!-- Row 2 --}}
<div class="flex flex-row">
  {{!-- Quantity --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.quantity" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=isEditable propertyOwner=item propertyPath="data.data.quantity" min=1 }}
    </span>
  </div>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  {{!-- Max quantity --}}
  <div class="flex flex-row flex-grow">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.maxQuantity" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=isEditable propertyOwner=item propertyPath="data.data.maxQuantity" min=1 }}
    </span>
  </div>
</div>
{{!-- Row 3 --}}
<div class="flex flex-row">
  {{!-- Shape.width --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.shapeWidth" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=isEditable propertyOwner=item propertyPath="data.data.shape.width" min=1 }}
    </span>
  </div>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  {{!-- Shape.width --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.shapeHeight" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=isEditable propertyOwner=item propertyPath="data.data.shape.height" min=1 }}
    </span>
  </div>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  {{!-- Bulk - read only! --}}
  <div class="flex flex-row">
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.bulk" }}
    </span>
    <span class="width-md">
      {{> inputNumberSpinner isEditable=false propertyOwner=item propertyPath="data.data.bulk" }}
    </span>
  </div>
</div>
{{!-- Row 4 --}}
{{!-- Description --}}
<div class="flex flex-row">
  {{> inputTextarea isEditable=isEditable propertyOwner=item propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") allowResize=true cssClass="fill" }}
</div>