{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  img: {String}
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
      gmNotes: {String}
      isCustom: {Boolean}
      quantity: {Number}
      maxQuantity: {Number}
      bulk: {Number} - Derived!
      shape: {Object} = {
        width: {Number}
        height: {Number}
      }
      isOnPerson: {Boolean}
    }
  }
}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputComponent type="single-line" propertyPath="name" isEditable=isEditable }}
        </h1>
        {{#if isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Quantity --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.quantity"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="number" propertyPath="data.data.quantity" min="1" max=(lookupValue item "data.data.maxQuantity") isEditable=isEditable }}
    </div>
  </div>
  {{!-- Max quantity --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.maxQuantity"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="number" propertyPath="data.data.maxQuantity" min="1" isEditable=isEditable }}
    </div>
  </div>
  {{!-- SHAPE --}}
  {{!-- Width --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.shapeWidth"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="number" propertyPath="data.data.shape.width" min="1" isEditable=isEditable }}
    </div>
  </div>
  {{!-- Height --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.shapeHeight"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="number" propertyPath="data.data.shape.height" min="1" isEditable=isEditable }}
    </div>
  </div>
  {{!-- Bulk - read only! --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.bulk"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="number" propertyPath="data.data.bulk" isEditable=false }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.description"}}
    </div>
    <div class="flex-grow">
      {{> inputComponent type="multi-line" propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") isEditable=isEditable cssClass="resize-vertical fill" readOnlyCssClass="multiline"}}
    </div>
  </div>
</form>
