{{!-- Requires context:
viewModel: {ItemItemSheetViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{viewModel.item.img}}" data-edit="img" title="{{viewModel.item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
          </div>
        {{/if}}
      </div>
      {{> buttonTakeItem viewModel=viewModel.vmBtnTakeItem }}
    </div>
  </header>
  {{!-- Quantity --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.quantity"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner viewModel=viewModel.vmNsQuantity }}
    </div>
  </div>
  {{!-- Max quantity --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.maxQuantity"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner viewModel=viewModel.vmNsMaxQuantity }}
    </div>
  </div>
  {{!-- SHAPE --}}
  {{!-- Width --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.shapeWidth"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner viewModel=viewModel.vmNsShapeWidth }}
    </div>
  </div>
  {{!-- Height --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.shapeHeight"}}
    </div>
    <div class="flex-grow">
      {{> inputNumberSpinner viewModel=viewModel.vmNsShapeHeight }}
    </div>
  </div>
  {{!-- Bulk - read only! --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.bulk"}}
    </div>
    <div class="flex-grow">
        <div class="custom-system-read-only pad-sm fill">
          {{viewModel.item.data.data.bulk}}
        </div>
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea viewModel=viewModel.vmTaDescription cssClass="fill" }}
    </div>
  </div>
</form>
