{{!--
cssClass: {String | undefined}
showFancyFont: {Boolean | undefined}
--}}
<h2 class="strive-header{{#if cssClass}} {{cssClass}}{{/if}}{{#if showFancyFont}} fancy-font{{/if}}">{{> @partial-block}}</h2>