{{!--
cssClass: {String | undefined}
showFancyFont: {Boolean | undefined}
--}}
<h3 class="ambersteel-header{{#if cssClass}} {{cssClass}}{{/if}}{{#if showFancyFont}} fancy-font{{/if}}">{{> @partial-block}}</h3>