{{!-- Required context:
viewModel: {DamageDefinitionListItemViewModel}
cssClass: {String | undefined}
--}}
<div class="fill flex flex-row{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Damage formula --}}
  <div class="width-min-xl">
    {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.damageDefinition.label"}}{{/label}}
  </div>
  <span class="width-min-xxl flex-grow">
    {{> inputTextField viewModel=viewModel.vmTfDamage }}
  </span>
  {{#if viewModel.hintId}}
    <span class="square-button-light font-size-default flex flex-center">
      <i class="far fa-question-circle info-button damage-info" id="{{viewModel.hintId}}"></i>
    </span>
  {{/if}}
  {{!-- Damage type --}}
  <div class="width-min-xxl">
    {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.damageType.label"}}{{/label}}
  </div>
  <span class="width-xxl">
    {{> inputDropDown viewModel=viewModel.vmDdDamageType }}
  </span>
  {{!-- Delete button --}}
  {{#> button viewModel=viewModel.vmBtnDelete }}<i class="fas fa-trash"></i>{{/button}}
</div>