{{!-- Required context:
viewModel: {DamageDefinitionListViewModel}
cssClass: {String | undefined}
--}}
<div id="{{viewModel.id}}"{{#if cssClass}} class="{{cssClass}}"{{/if}}>
  {{> diceRollList viewModel=viewModel.vmList cssClass="flex-grow" }}
</div>