{{!-- Required context:
viewModel: {DamageDefinitionListItemViewModel}
cssClass: {String | undefined}
--}}
<div class="flex flex-row flex-grow{{#if cssClass}} {{cssClass}}{{/if}}">
  <div class="grid grid-2col grid-gap-md">
    {{!-- Damage formula --}}
    {{#> labeledControl viewModel=viewModel.vmTfDamage localizedIconToolTip=(localize "system.damageDefinition.formula") iconClass="ico-damage-roll-solid" cssClass="" }}
      {{> inputTextField }}
    {{/labeledControl}}
    {{!-- Damage type --}}
    {{#> labeledControl viewModel=viewModel.vmDdDamageType localizedIconToolTip=(localize "system.damageType.label") iconClass=viewModel.damageTypeIconClass cssClass="" }}
      {{> inputDropDown }}
    {{/labeledControl}}
  </div>
  {{!-- Delete button --}}
  {{> button viewModel=viewModel.vmBtnDelete }}
</div>
