{{!-- Parameters:
obstacle: {Number},
bonusDice: {Number},
visibilityMode: {VisibilityMode}
visibilityModes: {Array<VisibilityMode>}
showFancyFont: {Boolean | undefined}
--}}
{{#> dialogContent}}
  <div class="sheet-block grid grid-2col">
    <div class="flex flex-column">
      {{> inputLabel text=(localize "ambersteel.roll.obstacle.abbreviation") showFancyFont=showFancyFont}}
      {{> inputLabel text=(localize "ambersteel.roll.bonusDice") showFancyFont=showFancyFont}}
    </div>
    <div class="flex flex-column flex-grow">
      {{#> numberSpinner}}
      <input class="obstacle ambersteel-item-edit spinner" name="obstacle" type="number" data-dtype="Number" min="0" step="1" 
        value="{{obstacle}}" data-field="obstacle" />
      {{/numberSpinner}}
      {{#> numberSpinner}}
      <input class="bonus-dice ambersteel-item-edit spinner" name="bonusDice" type="number" data-dtype="Number" step="1"  
        value="{{bonusDice}}" data-field="bonusDice" />
      {{/numberSpinner}}
    </div>
  </div>
  <div class="sheet-block grid grid-2col">
    <div>
      {{> inputLabel text=(localize "ambersteel.general.messageVisibility.label") showFancyFont=showFancyFont}}
    </div>
    <div class="flex">
      <select class="visibilityMode flex-grow" name="visibilityMode">
        {{#select visibilityMode}}
        {{#each visibilityModes as |mode key|}}
        <option value="{{key}}">{{localize mode.localizableName}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
{{/dialogContent}}