.strive-modal {
  z-index: 99999 !important;

  .dialog-buttons {
    display: flex;
    flex-direction: row;
  }

  &.width-min {
    &-sm {
      min-width: 200px;
    }
    &-md {
      min-width: 300px;
    }
    &-lg {
      min-width: 400px;
    }
    &-xl {
      min-width: 500px;
    }
    &-xxl {
      min-width: 700px;
    }
  }

  &.width-max {
    &-sm {
      max-width: 30rem;
    }
    &-md {
      max-width: 40rem;
    }
    &-lg {
      max-width: 50rem;
    }
    &-xl {
      max-width: 60rem;
    }
    &-xxl {
      max-width: 70rem;
    }
  }

  &.height-min {
    &-sm {
      min-height: 100px;
    }
    &-md {
      min-height: 150px;
    }
    &-lg {
      min-height: 200px;
    }
    &-xl {
      min-height: 250px;
    }
    &-xxl {
      min-height: 400px;
    }
  }
  
  &.height-max {
    &-sm {
      max-height: 30rem;
    }
    &-md {
      max-height: 40rem;
    }
    &-lg {
      max-height: 50rem;
    }
    &-xl {
      max-height: 60rem;
    }
    &-xxl {
      max-height: 70rem;
    }
  }
}

.strive-modal-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  position: absolute;
}
