.strive.input.ability-level {
  .read-mode {
    .level {
      position: relative;
      width: 3rem;
      height: 3rem
    }

    .text {
      position: absolute;
      font-size: 2rem;
    }
  }

  &.lg {
    .read-mode {
      .level {
        position: relative;
        width: 4rem;
        height: 4rem
      }

      .text {
        position: absolute;
        font-size: 2.5rem;
      }
    }
  }
}

.theme-dark {
  .strive.input.ability-level {
    .text {
      text-shadow: 0 0 0.3rem $c-bg-dark;
    }
  }
}
.theme-light {
  .strive.input.ability-level {
    .text {
      text-shadow: 0 0 0.3rem $c-bg-light;
    }
  }
}