{{!-- Required context:
viewModel: {InputRichTextViewModel}
cssClass: {String | undefined}
--}}
<div
  class="custom-system-edit component-rich-text-container{{#if cssClass}} {{cssClass}}{{/if}}" 
  id="{{viewModel.id}}" 
>
  <div class="component-rich-text-editbutton{{#if viewModel.isEditable}}{{else}} hidden{{/if}}">
    {{> button viewModel=viewModel.vmBtnEditMode cssClass="button-full" fill=true }}
  </div>
  <div class="component-rich-text hidden"></div>
  <div id="content" class="component-rich-text-read-only"></div>
</div>