{{!-- Parameters:
viewModel: {ActorAttributesViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Attributes --}}
  {{> "systems/ambersteel/presentation/sheet/actor/part/actor-attribute-table.hbs" viewModel=viewModel.attributesPhysicalViewModel }}
  {{> "systems/ambersteel/presentation/sheet/actor/part/actor-attribute-table.hbs" viewModel=viewModel.attributesMentalViewModel }}
  {{> "systems/ambersteel/presentation/sheet/actor/part/actor-attribute-table.hbs" viewModel=viewModel.attributesSocialViewModel }}
</section>