{{!-- Parameters:
viewModel: {ActorBiographyViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="fill{{#if cssClass}} {{cssClass}}{{/if}}">
  <div class="sheet-block fill">
    {{> inputRichText viewModel=viewModel.vmRtBiography cssClass="fill" }}
  </div>
</section>