{{!-- Parameters:
viewModel: {ActorBeliefsFateViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <h2>{{localize "ambersteel.character.beliefSystem.belief.plural"}}</h2>
  {{#with viewModel.beliefsTemplate as | template |}}
    {{> (template) viewModel=../viewModel.beliefsViewModel }}
  {{/with}}
  <h2>{{localize "ambersteel.character.beliefSystem.fateSystem.label"}}</h2>
  {{#with viewModel.fateTemplate as | template |}}
    {{> (template) viewModel=../viewModel.fateViewModel }}
  {{/with}}
</section>