{{!-- Parameters:
viewModel: {ActorBeliefsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.ambition"}}{{/header3}}
  <div class="margin-b-md">
    {{> inputTextField viewModel=viewModel.vmTfAmbition }}
  </div>
  {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.belief.plural"}}{{/header3}}
  {{#each viewModel.beliefViewModels as |vm index|}}
    <div class="margin-b-md">
      {{> inputTextField viewModel=vm}}
    </div>
  {{/each}}
  {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.reaction.plural"}}{{/header3}}
  {{#each viewModel.reactionViewModels as |vm index|}}
    <div class="margin-b-md">
      {{> inputTextField viewModel=vm}}
    </div>
  {{/each}}
</section>