{{!-- Parameters:
viewModel: {ActorBeliefsFateViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <h2>{{localize "ambersteel.character.beliefSystem.belief.plural"}}</h2>
  {{> "systems/ambersteel/presentation/sheet/actor/part/actor-beliefs.hbs" viewModel=viewModel.beliefsViewModel }}
  <h2>{{localize "ambersteel.character.beliefSystem.fateSystem.label"}}</h2>
  {{> "systems/ambersteel/presentation/sheet/actor/part/actor-fate.hbs" viewModel=viewModel.fateViewModel }}
</section>