{{!-- Parameters:
viewModel: {ActorFateViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <div class="grid-3col grid-gap-md margin-b-md">
    <div class="sheet-block flex flex-row flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.fateSystem.fatePoints.minor.label"}}{{/label}}
      <div class="width-md flex-right">
        {{> inputNumberSpinner viewModel=viewModel.vmNsMifp }}
      </div>
    </div>
    <div class="sheet-block flex flex-row flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.fateSystem.fatePoints.major.label"}}{{/label}}
      <div class="width-md flex-right">
        {{> inputNumberSpinner viewModel=viewModel.vmNsMafp }}
      </div>
    </div>
    <div class="sheet-block flex flex-row flex-middle flex-right">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.fateSystem.fatePoints.ambition.label"}}{{/label}}
      <div class="width-md flex-right">
        {{> inputNumberSpinner viewModel=viewModel.vmNsAfp }}
      </div>
    </div>
  </div>
  <div class="flex" style="flex-wrap: wrap;">
    {{#each viewModel.fateCards as |cardViewModel key|}}
    <div class="fate-card-actor-container">
      {{#with ../viewModel.fateCardTemplate as | template |}}
        {{> (template) viewModel=cardViewModel }}
      {{/with}}
    </div>
    {{/each}}
    {{#times viewModel.remainingSlots}}
      <div class="fate-card-actor-container fate-card">
        {{> buttonAdd viewModel=../viewModel.vmBtnAddFateCard fill=true cssClass="fate-card-fill" }}
      </div>
    {{/times}}
  </div>
</section>