{{!-- Parameters:
viewModel: {ActorAttributesViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Attributes --}}
  {{#with viewModel.attributeTableTemplate as | template |}}
    {{> (template) viewModel=../viewModel.attributesPhysicalViewModel }}
    {{> (template) viewModel=../viewModel.attributesMentalViewModel }}
    {{> (template) viewModel=../viewModel.attributesSocialViewModel }}
  {{/with}}
</section>