{{!-- Parameters:
viewModel: {ActorBeliefsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <div class="sheet-block margin-b-md">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.ambition"}}{{/header3}}
    <div class="margin-b-md">
      {{> inputTextField viewModel=viewModel.vmTfAmbition }}
    </div>
  </div>
  <div class="sheet-block margin-b-md">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.belief.plural"}}{{/header3}}
    {{#each viewModel.beliefViewModels as |vm index|}}
      <div class="margin-b-md">
        {{> inputTextField viewModel=vm}}
      </div>
    {{/each}}
  </div>
  <div class="sheet-block margin-b-md">
    {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.reaction.plural"}}{{/header3}}
    {{#each viewModel.reactionViewModels as |vm index|}}
      <div class="margin-b-md">
        {{> inputTextField viewModel=vm}}
      </div>
    {{/each}}
  </div>
</section>