{{!-- Parameters:
viewModel: {ActorBeliefsFateViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.belief.plural"}}{{/header1}}
  {{#with viewModel.beliefsTemplate as | template |}}
    {{> (template) viewModel=../viewModel.beliefsViewModel }}
  {{/with}}
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.beliefSystem.fateSystem.label"}}{{/header1}}
  {{#with viewModel.fateTemplate as | template |}}
    {{> (template) viewModel=../viewModel.fateViewModel }}
  {{/with}}
</section>