# IDE
.idea/
.vs/
debug.log

# Node Modules
node_modules/
npm-debug.log

# FoundryVTT
*.lock
## Keep around until v12 of FoundryVTT for compatibility with version 10. 
packs/**/LOG
packs/**/CURRENT
packs/**/LOCK
packs/**/MANIFEST-*
packs/**/*.log
packs/**/*.ldb
packs/**/LOG.old

# Generated
build/
presentation/style/*.css
presentation/style/*.css.map