# IDE
.idea/
.vs/
debug.log

# Node Modules
node_modules/
npm-debug.log

# FoundryVTT
*.lock
packs/*.log
packs/LOG
packs/LOG.old

# Generated
build/
presentation/style/*.css
presentation/style/*.css.map