.combatant-action-point {
  width: 21px; 
  height: 21px;
  position: relative;
  text-align: center;
  display: inline-block;
}

.combatant-action-point-image {
  display: block;
}

.combatant-action-point-label {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 21px;
  transform: translate(-50%, -50%);
  font-family: var(--font-primary);
  color: $c-text-disabled;

  &.active {
    color: $c-text-light;
  }
}
