$c-bg-tooltip: #464646;
$arrow-size: 8px;

@mixin tooltip-template() {
  content: "";
  position: absolute;
  height: $arrow-size;
  width: $arrow-size;
  background-color: $c-bg-tooltip;
  border-bottom: inherit;
  border-right: inherit;
  box-shadow: inherit;
}

.custom-tooltip {
  position: absolute;
  display: inline-block;
  border-radius: 0.3rem;
  background-color: $c-bg-tooltip;
  color: var(--color-text-light-highlight);
  z-index: 600;
  padding: 0.25rem;
  filter: opacity(0.9);

  &.with-arrow-t {
    &:before {
      @include tooltip-template();
      top: calc(0% - ($arrow-size / 2));
      left: calc(50% - ($arrow-size / 2));
      transform: rotate(45deg);
    }
  }

  &.with-arrow-b {
    &:before {
      @include tooltip-template();
      top: calc(100% - ($arrow-size / 2));
      left: calc(50% - ($arrow-size / 2));
      transform: rotate(45deg);
    }
  }

  &.with-arrow-l {
    &:before {
      @include tooltip-template();
      top: calc(50% - ($arrow-size / 2));
      left: calc(0% - ($arrow-size / 2));
      transform: rotate(45deg);
    }
  }

  &.with-arrow-r {
    &:before {
      @include tooltip-template();
      top: calc(50% - ($arrow-size / 2));
      left: calc(100% - ($arrow-size / 2));
      transform: rotate(45deg);
    }
  }

  &.with-arrow-tl {
    &:before {
      @include tooltip-template();
      top: calc(0% - ($arrow-size / 2));
      left: calc(0% - ($arrow-size / 2));
      // transform: rotate(45deg);
    }
  }

  &.with-arrow-tr {
    &:before {
      @include tooltip-template();
      top: calc(0% - ($arrow-size / 2));
      left: calc(100% - ($arrow-size / 2));
      // transform: rotate(45deg);
    }
  }

  &.with-arrow-bl {
    &:before {
      @include tooltip-template();
      top: calc(100% - ($arrow-size / 2));
      left: calc(0% - ($arrow-size / 2));
      // transform: rotate(45deg);
    }
  }

  &.with-arrow-br {
    &:before {
      @include tooltip-template();
      top: calc(100% - ($arrow-size / 2));
      left: calc(100% - ($arrow-size / 2));
      // transform: rotate(45deg);
    }
  }

}