{{!-- Parameters:
viewModel: {ExpertiseListItemViewModel}
--}}
{{!-- Damage --}}
<div id="{{viewModel.id}}" class="flex flex-row sheet-block{{#if viewModel.hideDamage}} hidden{{/if}}">
  <div class="flex flex-center">
    <span class="button light square font-size-default flex flex-center" id="{{viewModel.id}}-damage-info">
      <i class="far fa-question-circle info-button"></i>
    </span>
  </div>
  {{> damageDefinitionList viewModel=viewModel.vmDamageDefinitionList}}
</div>
