{{!-- Parameters:
viewModel: {ExpertiseListItemViewModel}
--}}
<div id="{{viewModel.id}}" class="flex flex-row flex-wrap margin-b-md auto-margin-h">
  <div class="flex flex-row flex-middle auto-margin-h sheet-block">
    {{!-- Required Level --}}
    {{#> labeledControl viewModel=viewModel.vmNsRequiredLevel localizedIconToolTip=(localize "system.character.skill.expertise.requirement") iconClass="ico-level-solid" cssClass="" }}
      <div class="width-sm">
        {{> inputNumberSpinner }}
      </div>
    {{/labeledControl}}
    {{!-- AP cost --}}
    {{#> labeledControl viewModel=viewModel.vmNsApCost localizedIconToolTip=(localize "system.actionPoint.plural") iconClass="ico-action-point-solid" cssClass="" }}
      <div class="width-sm">
        {{> inputNumberSpinner }}
      </div>
    {{/labeledControl}}
  </div>
</div>
