$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

$c-bg-lightest: rgba(0, 0, 0, 0.01);
$c-bg-lighter: rgba(0, 0, 0, 0.025);
$c-bg-light: rgba(0, 0, 0, 0.05);
$c-bg-medium: rgba(0, 0, 0, 0.08);
$c-bg-dark: rgba(0, 0, 0, 0.12);

$c-border-light: rgba(129, 129, 129, 0.220);
$c-border-medium: rgba(129, 129, 129, 0.450);
$c-border-beige-light: #b5b3a4;
$c-border-input: #7a7971;

$c-row-even: rgba(255, 255, 255, 0.2);
$c-row-odd: rgba(0, 0, 0, 0.08);

$c-text-normal: rgb(25, 24, 19);
$c-text-lighter: #46453f;
$c-text-disabled: #676662;
$c-text-highlight: #d23d3d;
$c-text-underline: #782e22;
$c-text-read-only: #525252;

$c-button-highlight: #FF0000;

$c-neutral-bg-light: #c2c2c2;
$c-neutral-bg-medium: #b9b9b9;
$c-neutral-bg-dark: #acacac;

$c-themed-bg-disabled: #676662;
$c-themed-bg-lightest: #f78d317d;
$c-themed-bg-lighter: #ec81237d;
$c-themed-bg-light: #e0771c7d;
$c-themed-bg-medium: #d76e147d;
$c-themed-bg-dark: #ca6a167d;
$c-themed-bg-darker: #bb62147d;
$c-themed-bg-darkest: #a557127d;
