{{!-- Parameters:
itemDeclarations: {[Object]} = {
  id: {String}
  name: {String}
  where: {String}
}
selected: {Object} = {
  id: {String}
  name: {String}
  where: {String}
}
isCustomChecked: {Boolean}
itemLabel: {String}
cssClass: {undefined | String}
showFancyFont: {Boolean | undefined}
--}}
<section class="{{cssClass}}">
  <div class="grid grid-2col">
    {{> inputLabel text=itemLabel showFancyFont=showFancyFont}}
    <select class="ambersteel-item-select" data-property-path="selected">
      {{#select selected}}
      {{#each itemDeclarations as |itemDeclaration key|}}
      <option value="{{itemDeclaration.id}}">{{itemDeclaration.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
  <div class="grid grid-2col">
    {{> inputLabel text=(localize "ambersteel.general.custom") showFancyFont=showFancyFont}}
    <input class="ambersteel-checkbox ambersteel-is-custom" type="checkbox" data-dtype="boolean" value="{{isCustomChecked}}" data-property-path="isCustomChecked" />
  </div>
</section>