{{!-- Required context:
buttons: {Array<DialogButtonDefinition>}
--}}
<section>
  {{> @partial-block }}
  <div class="flex flex-row">
    {{#each buttons as |button index|}}
    {{#if button.iconCssClass}}<i class="{{button.iconCssClass}}"></i>{{/if}}
    <button id="{{button.id}}" class="button{{#if button.cssClass}} {{button.cssClass}}{{/if}}">{{button.localizedLabel}}</button>
    {{/each}}
  </div>
</section>