{{!-- Parameters:
viewModel: {ScarListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row">
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.scar.singular"}}{{/label}}
    </span>
    {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    <h2 class="flex-grow margin-r-md">
      {{> inputTextField viewModel=viewModel.vmTfName }}
    </h2>
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row 2 --}}
  {{!-- Limit --}}
  <div class="flex flex-row">
    <div class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.injury.limit"}}{{/label}}
    </div>
    <div class="width-md">
      {{> inputNumberSpinner viewModel=viewModel.vmNsLimit }}
    </div>
  </div>
  {{!-- Row 3 --}}
  {{!-- Description --}}
  <div class="flex flex-row border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription cssClass="fill" }}
  </div>
</div>