.strive.dropdown {
  position: relative;
  height: $input-size-md;
  line-height: $input-size-md;
  font-size: $font-size-md;
  
  &.lg {
    height: $input-size-lg;
    line-height: $input-size-lg;
    font-size: $font-size-lg;
  }

  button {
    height: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border-radius: unset;
    padding: 0 5px;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    background-color: unset;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: unset;
    }
  }

  .read-mode {
    height: inherit;
    font-size: inherit;
    line-height: inherit;
    border: unset;
  }

  img {
    min-width: 1.8rem;
    max-width: 1.8rem;
  }
}

.theme-dark .strive.dropdown {
  button {
    background-color: $c-bg-input-dark;
    color: $c-text-dark;
    border-bottom-color: $c-border-dark;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: $c-bg-input-focus-dark;
      border-top: unset;
      border-left: unset;
      border-right: unset;
      border-bottom: 1px solid $c-border-highlight-dark;
      outline: unset;
      box-shadow: none;
    }
  }

  .read-mode {
    background-color: unset;
  }
}

.theme-light .strive.dropdown {
  button {
    background-color: $c-bg-input-light;
    color: $c-text-light;
    border-bottom-color: $c-border-light;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: $c-bg-input-focus-light;
      border-top: unset;
      border-left: unset;
      border-right: unset;
      border-bottom: 1px solid $c-border-highlight-light;
      outline: unset;
      box-shadow: none;
    }
  }

  .read-mode {
    background-color: unset;
  }
}

// Menu styling
menu.strive.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 10rem;
  z-index: 9999;

  li {
    height: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0 5px;
    cursor: pointer;
  }
}

.theme-dark menu.strive.dropdown {
  background-color: $c-bg-input-dark;

  li {

    &:hover,
    &:focus,
    &:focus-within {
      background-color: $c-bg-input-focus-dark;
    }
  }
}

.theme-light menu.strive.dropdown {
  background-color: $c-bg-input-light;

  li {

    &:hover,
    &:focus,
    &:focus-within {
      background-color: $c-bg-input-focus-light;
    }
  }
}