.strive.dropdown {
  position: relative;
  height: $input-size-md;
  line-height: $input-size-md;
  font-size: $font-size-md;

  button {
    height: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    border-radius: unset;
    padding: 0 5px;
    margin: 0;
    border: unset;
    background: unset;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: unset;
      outline: unset;
      box-shadow: unset;
    }
  }
}

.theme-dark {
  menu.strive.dropdown {
    background-color: $c-bg-input-dark;

    li {
      background-color: $c-bg-input-dark;

      &:hover,
      &:focus,
      &:focus-within {
        background-color: $c-bg-input-focus-dark;
      }
    }
  }
}

.theme-light {
  menu.strive.dropdown {
    background-color: $c-bg-input-light;

    li {
      background-color: $c-bg-input-light;

      &:hover,
      &:focus,
      &:focus-within {
        background-color: $c-bg-input-focus-light;
      }
    }
  }
}

menu.strive.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 10rem;
  z-index: 9999;

  li {
    font-size: inherit;
    line-height: inherit;
    padding: 0 5px;
    cursor: pointer;
  }
}