.strive {
  &.dropdown {
    height: 35px;
    border-radius: unset;
    padding: 0 5px;
    font-size: 18pt;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
  }
  
  &.readonly {
    font-size: 18pt;
  }
}

.theme-dark .strive.dropdown {
  background-color: $c-bg-input-dark;
  border-bottom-color: $c-border-dark;
  color: $c-text-dark;
  option {
    background-color: $c-bg-input-dark;
    color: $c-text-dark;
  }
}
.theme-light .strive.dropdown {
  background-color: $c-bg-input-light;
  border-bottom-color: $c-border-light;
  color: $c-text-light;
  option {
    background-color: $c-bg-input-light;
    border-bottom-color: $c-border-light;
  }
}
