{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
data: {Object} where Object = {
  biography: {String}
}
--}}
<section class="fill">
  <div class="sheet-block fill">
    {{#if isEditable}}
      <textarea class="biography" name="data.biography" spellcheck="false">{{data.biography}}</textarea>
    {{else}}
      <span class="multiline">{{data.biography}}</span>
    {{/if}}
  </div>
</section>