{{!-- Parameters:
viewModel: {ActorAssetsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Personal assets --}}
  <h2>{{localize "ambersteel.character.asset.onPerson"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="carryingCapacity" text="ambersteel.character.asset.carryingCapacity.label" showFancyFont=viewModel.showFancyFont}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{> inputNumberSpinner viewModel=viewModel.vmNsMaxBulk }}
          </div>
        </span>
      </div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="totalBulk" text="ambersteel.character.asset.carryingCapacity.used" showFancyFont=viewModel.showFancyFont}}
        </div>
        <span class="width-md">
          {{> inputNumberSpinner viewModel=viewModel.vmNsTotalBulk }}
        </span>
      </div>
    </div>
  </div>
  {{> itemGridView viewModel=viewModel.vmIgv }}
  {{!-- Remote assets --}}
  <h2>{{localize "ambersteel.character.asset.remote"}}</h2>
  {{> sortableList viewModel=viewModel.vmPropertyList }}
</section>