<section>
    {{!-- Attributes --}}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs" attGroup=attributeGroups.physical isOwner=owner}}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs" attGroup=attributeGroups.mental isOwner=owner}}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs" attGroup=attributeGroups.social isOwner=owner}}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs" attGroup=attributeGroups.arcane isOwner=owner}}
</section>