<section>
    {{!-- Learning Skills --}}
    {{> "systems/ambersteel/templates/actor/parts/actor-skill-table.hbs" name="ambersteel.labels.learningSkill" skills=data.learningSkills isLearning=true isOwner=owner}}
    {{!-- Known Skills --}}
    {{> "systems/ambersteel/templates/actor/parts/actor-skill-table.hbs" name="ambersteel.labels.knownSkill" skills=data.skills isLearning=false isOwner=owner}}
</section>