{{!-- Requires parameters:
isEditable: {Boolean}
grid: {Array<Object>} = {
  x: {Number}
  y: {Number}
}
gridRows: {Number}
actor: {Actor} = {
  id: {String}
  possessions: {Array<Item>} = {
    id: {String}
    name: {String}
    img: {String}
    data: {Object} = {
      data: {Object} = {
        description: {String}
        gmNotes: {String}
        isCustom: {Boolean}
        quantity: {Number}
        maxQuantity: {Number}
        bulk: {Number}
        shape: {String} = "straight"|"square"
        isOnPerson: {Boolean}
      }
    }
  }
  propertyItems: {Array<Item>} -> see possessions
  data: {Object} = {
    data: {Object} = {
      assets: {Object} = {
        gridIndices: {Array<InventoryIndex>},
        grid: {Array<Array<InventoryIndex | null>>}
        maxBulk: {Number},
        totalBulk: {Number}
      }
    }
  }
}
--}}
<section>
  {{!-- Personal assets --}}
  <h2>{{localize "ambersteel.labels.assetsOnPerson"}}</h2>
  <div class="grid grid-2col">
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="carryingCapacity" text="ambersteel.labels.carryingCapacity"}}
        </div>
        <span class="width-md">
          <div class="ambersteel-read-only pad-sm fill">
            {{actor.data.data.assets.maxBulk}}
          </div>
        </span>
      </div>
    </div>
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> inputLabel for="totalBulk" text="ambersteel.labels.usedCarryingCapacity"}}
        </div>
        <span class="width-md">
          {{> inputComponent type="number" name="totalBulk" propertyPath="data.data.assets.totalBulk" isEditable=false }}
        </span>
      </div>
    </div>
  </div>
  <div class="flex flex-center" id="possessions-canvas"></div>
  {{!-- Remote assets --}}
  <h2>{{localize "ambersteel.labels.assetsRemote"}}</h2>
  <ol class="unstyled-list alternating-rows">
    {{#each actor.propertyItems as |propertyItem key|}}
      <li class="ambersteel-list-row sheet-block">
        {{> "systems/ambersteel/templates/item/item/item-list-item.hbs" item=propertyItem itemId=propertyItem.id isEditable=../isEditable isSendable=../isSendable CONFIG=../CONFIG }}
      </li>
    {{/each}}
    {{#if isEditable}}
      <li class="ambersteel-list-row ambersteel-list-footer">
        <div class="fill flex flex-row">
          <span class="flex-grow"></span>
          {{!-- Add property --}}
          <span class="width-sm">
            {{> buttonAdd itemType="item" withDialog="true" creationData="[is-on-person:false]" }}
          </span>
        </div>
      </li>
    {{/if}}
  </ol>
</section>