{{!-- Requires parameters:
viewModel: {ActorBeliefsViewModel}
--}}
<section>
  <div class="sheet-block">
    <h3>
      <label class="fancy-font">{{localize "ambersteel.beliefSystem.ambition"}}</label>
    </h3>
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.actor propertyPath="data.data.beliefSystem.ambition" }}
  </div>
  <div class="sheet-block">
    <h3>
      <label class="fancy-font">{{localize "ambersteel.beliefSystem.beliefs"}}</label>
    </h3>
    {{#each viewModel.beliefs as |belief index|}}
      {{> inputTextField isEditable=../viewModel.isEditable propertyOwner=../viewModel.actor propertyPath=(concat "data.data.beliefSystem.beliefs[" index "]") }}
    {{/each}}
  </div>
  <div class="sheet-block">
    <h3>
      <label class="fancy-font">{{localize "ambersteel.beliefSystem.instincts"}}</label>
    </h3>
    {{#each viewModel.instincts as |instinct index|}}
      {{> inputTextField isEditable=../viewModel.isEditable propertyOwner=../viewModel.actor propertyPath=(concat "data.data.beliefSystem.instincts[" index "]") }}
    {{/each}}
  </div>
</section>