{{!-- Parameters:
viewModel: {ActorFateViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <div class="sheet-block grid-2col grid-gap-md flex-column">
    {{!-- row 1 --}}
    <div class="flex flex-row flex-middle flex-right">
      {{> inputLabel text="ambersteel.fateSystem.miFP"}}
      <div class="flex flex-middle width-md">({{localize "ambersteel.fateSystem.miFPAbbreviation"}})</div>
    </div>
    {{> inputNumberSpinner viewModel=viewModel.vmNsMifp }}
    {{!-- row 2 --}}
    <div class="flex flex-row flex-middle flex-right">
      {{> inputLabel text="ambersteel.fateSystem.maFP"}}
      <div class="flex flex-middle width-md">({{localize "ambersteel.fateSystem.maFPAbbreviation"}})</div>
    </div>
    {{> inputNumberSpinner viewModel=viewModel.vmNsMafp }}
    {{!-- row 3 --}}
    <div class="flex flex-row flex-middle flex-right">
      {{> inputLabel text="ambersteel.fateSystem.AFP"}}
      <div class="flex flex-middle width-md">({{localize "ambersteel.fateSystem.AFPAbbreviation"}})</div>
    </div>
    {{> inputNumberSpinner viewModel=viewModel.vmNsAfp }}
  </div>
  <div class="flex" style="flex-wrap: wrap;">
    {{#each viewModel.fateCards as |cardViewModel key|}}
    <div class="fate-card-actor-container">
      {{> "systems/ambersteel/templates/item/fate-card/fate-card.hbs" viewModel=cardViewModel }}
    </div>
    {{/each}}
    {{#times viewModel.remainingSlots}}
      <div class="fate-card-actor-container">
        <div class="fate-card">
          {{> buttonAdd viewModel=../viewModel.vmBtnAddFateCard fill=true cssClass="font-size-xxl" }}
        </div>
      </div>
    {{/times}}
  </div>
</section>