{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
isOwner: {Boolean}
isGM: {Boolean}
actor: {Object}
--}}
<section>
  <h2>{{localize "ambersteel.beliefSystem.beliefs"}}</h2>
  {{> "systems/ambersteel/templates/actor/parts/actor-beliefs.hbs"
    isEditable=isEditable
    isSendable=isSendable
    isOwner=isOwner
    isGM=isGM
    actor=actor
  }}
  <h2>{{localize "ambersteel.fateSystem.fate"}}</h2>
  {{> "systems/ambersteel/templates/actor/parts/actor-fate.hbs"
    isEditable=isEditable
    isSendable=isSendable
    isOwner=isOwner
    isGM=isGM
    actor=actor
  }}
</section>