<section>
    {{!-- Attributes --}}
    {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.physical}}
    {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.mental}}
    {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.social}}
    {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.arcane}}
</section>