{{!-- Requires parameters:
viewModel: {ActorBiographyViewModel}
--}}
<section class="fill">
  <div class="sheet-block fill">
    {{editor content=viewModel.actor.data.data.biography target="data.biography" button=true editable=viewModel.isEditable owner=viewModel.owner }}
  </div>
</section>