{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
isOwner: {Boolean}
isGM: {Boolean}
actor: {Object}
--}}
<section>
    {{!-- Attributes --}}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs" 
        isEditable=isEditable
        isSendable=isSendable
        isOwner=isOwner
        isGM=isGM
        actor=actor
        attributeGroup=actor.data.data.attributes.physical
    }}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs" 
        isEditable=isEditable
        isSendable=isSendable
        isOwner=isOwner
        isGM=isGM
        actor=actor
        attributeGroup=actor.data.data.attributes.mental
    }}
    {{> "systems/ambersteel/templates/actor/components/component-attribute-table.hbs"
        isEditable=isEditable
        isSendable=isSendable
        isOwner=isOwner
        isGM=isGM
        actor=actor
        attributeGroup=actor.data.data.attributes.social
    }}
</section>