{{!-- Requires parameters:
viewModel: {ActorSkillsViewModel}
--}}
<section>
  {{!-- Learning Skills --}}
  {{> "systems/ambersteel/templates/actor/components/component-skill-table.hbs" viewModel=viewModel.learningSkills }}
  {{!-- Known Skills --}}
  {{> "systems/ambersteel/templates/actor/components/component-skill-table.hbs" viewModel=viewModel.skills }}
</section>