{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
data: {Object} where Object = {
  TODO
}
--}}
<section>
  <h2>{{localize "ambersteel.labels.assetsStats"}}</h2>
  {{!-- TODO --}}
</section>