{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
data: {Object} where Object = {
  biography: {String}
}
--}}
<section class="fill">
  <div class="sheet-block fill">
    {{editor content=data.data.biography target="data.biography" button=true editable=isEditable owner=owner}}
  </div>
</section>