<section>
    <div class="grid grid-2col">
        <div>
            {{!-- Attributes --}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.physical}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.mental}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.social}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=attributeGroups.arcane}}
        </div>
        <div>
            {{!-- Learning Skills --}}
            {{> "systems/ambersteel/templates/actor/skill-table-section.hbs" name="ambersteel.labels.learningSkill" skills=data.learningSkills newItemValue="0"}}
            {{!-- Known Skills --}}
            {{> "systems/ambersteel/templates/actor/skill-table-section.hbs" name="ambersteel.labels.knownSkill" skills=data.skills newItemValue="1"}}
        </div>
    </div>
</section>