{{!-- Requires parameters:
isEditable: {Boolean},
data: {Object} where Object = {
  biography: {String}
}
--}}
<section>
  <div class="sheet-block">
    {{#if isEditable}}
      <textarea class="resize-vertical" name="data.biography">{{data.biography}}</textarea>
    {{else}}
      <span class="multiline">{{data.biography}}</span>
    {{/if}}
  </div>
</section>