<section>
    <div class="grid grid-2col">
        <div>
            {{!-- Attributes --}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=data.attributeGroups.physical atts=data.attributes.physical}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=data.attributeGroups.mental atts=data.attributes.mental}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=data.attributeGroups.social atts=data.attributes.social}}
            {{> "systems/ambersteel/templates/actor/attribute-table-section.hbs" attGroup=data.attributeGroups.arcane atts=data.attributes.arcane}}
        </div>
        <div>
            {{!-- Learning Skills --}}
            {{> "systems/ambersteel/templates/actor/skill-table-section.hbs" name="ambersteel.labels.learningSkill" skills=data.learningSkills isLearning=true}}
            {{!-- Known Skills --}}
            {{> "systems/ambersteel/templates/actor/skill-table-section.hbs" name="ambersteel.labels.knownSkill" skills=data.skills isLearning=false}}
        </div>
    </div>
</section>