{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
learningSkills: {[Object]} -> see component-skill-table.hbs
skills: {[Object]} -> see component-skill-table.hbs
--}}
<section>
  {{!-- Learning Skills --}}
  {{> "systems/ambersteel/templates/actor/components/component-skill-table.hbs" 
    isEditable=isEditable
    isSendable=isSendable
    isLearningSkillsTable=true 
    skills=learningSkills
  }}
  {{!-- Known Skills --}}
  {{> "systems/ambersteel/templates/actor/components/component-skill-table.hbs"
    isEditable=isEditable
    isSendable=isSendable
    isLearningSkillsTable=false 
    skills=skills
  }}
</section>