{{!-- Parameters:
viewModel: {ActorSkillsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Learning Skills --}}
  {{> "systems/ambersteel/templates/actor/components/component-skill-table.hbs" viewModel=viewModel.learningSkillsViewModel }}
  {{!-- Known Skills --}}
  {{> "systems/ambersteel/templates/actor/components/component-skill-table.hbs" viewModel=viewModel.skillsViewModel }}
</section>