{{!-- Requires parameters:
isEditable: {Boolean}
isSendable: {Boolean}
beliefSystem: {Object} -> see "actor-beliefs.hbs",
fateSystem: {Object} -> see "actor-fate.hbs"
--}}
<section>
  {{> "systems/ambersteel/templates/actor/parts/actor-beliefs.hbs"
    isEditable=isEditable
    isSendable=isSendable
    beliefSystem=beliefSystem
  }}
  {{> "systems/ambersteel/templates/actor/parts/actor-fate.hbs"
    isEditable=isEditable
    isSendable=isSendable
    fateSystem=fateSystem
  }}
</section>