{{!--
viewModel: CustomHealthStateListItemViewModel
--}}
<div class="flex flex-row flex-grow flex-middle">
  {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.name"}}{{/label}}
  <div class="flex-grow">
    {{> inputTextField viewModel=viewModel.vmName}}
  </div>
</div>