{{!--
viewModel: CustomHealthStateListItemViewModel
--}}
<div class="flex flex-row flex-middle">
  <span>{{localize "ambersteel.general.name"}}</span>
  <div class="flex-grow">
    {{> inputTextField viewModel=viewModel.vmName}}
  </div>
</div>