{{!-- 
viewModel: HealthStatesSettingsDialogViewModel
--}}
<section id="{{viewModel.id}}">
  <div class="sheet-block flex flex-column">
    {{#> header2 showFancyFont=viewModel.showFancyFont}}{{localize "system.settings.healthConditions.configureSystemDefaults"}}{{/header2}}
    {{> visibilityToggleList viewModel=viewModel.vmVisibilityList}}
  </div>
  <div class="sheet-block flex flex-column">
    {{#> header2 showFancyFont=viewModel.showFancyFont}}{{localize "system.settings.healthConditions.configureCustom"}}{{/header2}}
    {{> simpleList viewModel=viewModel.vmCustomList}}
  </div>
  <div>
    {{> button viewModel=viewModel.vmBtnSave cssClass="flex flex-middle flex-center pad-md button-full fill" }}
  </div>
</section>