{{!-- 
viewModel: HealthStatesSettingsDialogViewModel
--}}
<section>
  <div class="sheet-block flex flex-column">
    <h2>{{localize "ambersteel.settings.healthStates.configureSystemDefaults"}}</h2>
    {{> visibilityToggleList viewModel=viewModel.vmVisibilityList}}
  </div>
  <div class="sheet-block flex flex-column">
    <h2>{{localize "ambersteel.settings.healthStates.configureCustom"}}</h2>
  </div>
  <div>
    {{#> button viewModel=viewModel.vmBtnSave}}
      <div class="flex flex-middle flex-center pad-md button-full fill">
        <i class="fas fa-save"></i>
        <span style="width: 5px;"></span>
        <span>{{localize "ambersteel.settings.saveChanges"}}</span>
      </div>
    {{/button}}
  </div>
</section>