{{!-- Parameters:
viewModel: {ActorAttributesViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}"{{#if cssClass}} class="{{cssClass}}"{{/if}}>
  {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row"}}
    <span class="flex-grow">{{localize "ambersteel.character.attribute.plural"}}</span>
  {{/header1}}
  <ul class="unstyled-list alternating-rows">
  {{#each viewModel.attributeGroups as |attributeGroup|}}
    <li>
    {{#with attributeGroup.template as | template |}}
      {{> (template) viewModel=attributeGroup.viewModel }}
    {{/with}}
    </li>
  {{/each}}
  </ul>
</section>
