{{!-- Parameters:
viewModel: {ActorSkillsViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="auto-margin-v-xl{{#if cssClass}} {{cssClass}}{{/if}}">
  {{> inputSearch viewModel=viewModel.vmSearch }}
  {{> sortableList viewModel=viewModel.vmSkills }}
</section>