{{!-- Parameters:
viewModel: {ActorSkillsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Learning Skills --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.learning.label"}}{{/header1}}
  {{> sortableList viewModel=viewModel.vmLearningSkillList }}
  {{!-- Known Skills --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.skill.known.label"}}{{/header1}}
  {{> sortableList viewModel=viewModel.vmKnownSkillList }}
</section>