{{!-- Parameters:
viewModel: {ActorAttributesViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{#> header1 showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.attribute.plural"}}{{/header1}}
  {{#with viewModel.attributeTableTemplate as | template |}}
    {{> (template) viewModel=../viewModel.attributesPhysicalViewModel }}
    {{> (template) viewModel=../viewModel.attributesMentalViewModel }}
    {{> (template) viewModel=../viewModel.attributesSocialViewModel }}
  {{/with}}
</section>