{{!-- Parameters:
viewModel: {ActorSkillsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Learning Skills --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row"}}
    <span class="flex-grow">{{localize "ambersteel.character.skill.learning.label"}}</span>
    {{#> button viewModel=viewModel.vmBtnResetExercisedLearningSkills}}
      <div class="button light square flex flex-center">
        <i class="fas fa-dumbbell"></i>
      </div>
    {{/button}}
  {{/header1}}
  {{> sortableList viewModel=viewModel.vmLearningSkillList prominentItemStyling=true }}
  {{!-- Known Skills --}}
  {{#> header1 showFancyFont=viewModel.showFancyFont cssClass="flex flex-row"}}
    <span class="flex-grow">{{localize "ambersteel.character.skill.known.label"}}</span>
    {{#> button viewModel=viewModel.vmBtnResetExercisedKnownSkills}}
      <div class="button light square flex flex-center">
        <i class="fas fa-dumbbell"></i>
      </div>
    {{/button}}
  {{/header1}}
  {{> sortableList viewModel=viewModel.vmKnownSkillList prominentItemStyling=true }}
</section>