// Layout styles
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

// Sizing styles
.flex-grow {
  flex: 1;
}

.flex-shrink {
  flex: 0;
}

.flexlarge {
  flex: 2;
}

// Alignment styles
.flex-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-justify {
  justify-content: space-between;
}

.flex-middle {
  align-items: center;
}