// Layout styling. 
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

// Sizing styles. 
.flex-grow {
  flex: 1;
}

.flex-shrink {
  flex: 0;
}

.flexlarge {
  flex: 2;
}

// Alignment styles.
.flex-children-left {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.flex-children-right {
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.flex-children-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
