.ambersteel-icon {
    filter: brightness(0);
    &:hover {
        filter: brightness(0) drop-shadow(0 0 4px $c-button-highlight);
    }
}

.ico-take-item {
    background:url('/systems/ambersteel/images/take-item.svg');
    background-size:cover;
    width: 24px;
    height: 24px;
}
