{{!-- Parameters:
viewModel: {ActorHealthConditionsListItemViewModel}
--}}
<div id="{{viewModel.id}}" class="flex flex-row flex-middle pad-md">
  <span>
    {{> inputToggle viewModel=viewModel.btnToggle}}
  </span>
  {{#if viewModel.showIntensity}}
    <span class="width-md">
      {{> inputNumberSpinner viewModel=viewModel.vmIntensity}}
    </span>
  {{/if}}
  <span class="flex flex-grow pad-l-lg">
    {{#> label showFancyFont=viewModel.showFancyFont}}{{viewModel.localizedLabel}}{{/label}}
  </span>
</div>