{{!-- Required context:
viewModel: {InputTagPillViewModel}
--}}
<div id="{{viewModel.id}}" class="strive-pill flex flex-row flex-middle">
  <span>{{viewModel.localizedName}}</span>
  <span{{#if viewModel.isEditable}}{{else}} class="hidden"{{/if}}>
    {{> button viewModel=viewModel.vmBtnDelete }}
  </span>
</div>