@mixin button-disabled {
  a.custom-system-button {
    cursor: default;
    background-color: unset;
    color: black;
    opacity: 50%;
    text-shadow: unset;

    &:hover {
      filter: unset;
    }

    i.ambersteel-icon {
      filter: opacity(50);
      &:hover {
        filter: unset;
      }
    }
  }
}

@mixin button-square {
  width: $line-height;
  height: $line-height;
  max-width: $line-height;
  max-height: $line-height;

  > a.button {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.button {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  min-height: $line-height;
  min-width: $line-height;
  border-radius: 3px;
  border: 1px $c-border-medium solid;
  background-color: $c-bg-medium;
  display: flex;

  &.light {
    border-radius: unset;
    border: unset;
    background-color: unset;
  }

  &.disabled {
    @include button-disabled();
  }
  
  &.square {
    @include button-square();
  }

  &.fill {
    display: block;
  }
}
