@mixin button-disabled {
  a.custom-system-button {
    cursor: default;
    background-color: unset;
    color: black;
    opacity: 50%;
    text-shadow: unset;

    &:hover {
      filter: unset;
    }

    i.ico {
      filter: opacity(50);
      &:hover {
        filter: unset;
      }
    }
  }
}

.button {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  min-height: $line-height;
  min-width: $line-height;
  border-radius: 3px;
  border: 1px $c-border-medium solid;
  background-color: $c-bg-medium;
  display: flex;

  &.light {
    border-radius: unset;
    border: unset;
    background-color: unset;
  }

  &.disabled {
    @include button-disabled();
  }
  
  &.square {
    aspect-ratio: 1/1;
  }

  &.fill {
    display: block;
  }
}

button.button.spaced {
  margin-right: $padding-md;

  &:last-child {
    margin-right: unset;
  }
}
