{{!-- Requires context:
viewModel: {IllnessItemSheetViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Duration --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.duration"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfDuration }}
    </div>
  </div>
  {{!-- Treatment skill --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.treatmentSkill"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfTreatmentSkill }}
    </div>
  </div>
  {{!-- Treatment --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.treatment"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfTreatment }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea viewModel=viewModel.vmTaDescription cssClass="fill" }}
    </div>
  </div>
</form>