{{!-- Parameters:
viewModel: {IllnessItemSheetViewModel}
cssClass: {undefined | String}
--}}
<form class="flex flex-column{{#if cssClass}} {{cssClass}}{{/if}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
    </div>
  </header>
  {{!-- Duration --}}
<div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text="ambersteel.labels.duration"}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTfDuration }}
    </div>
  </div>
  {{!-- Treatment skill --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text="ambersteel.labels.treatmentSkill"}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTfTreatmentSkill }}
    </div>
  </div>
  {{!-- Treatment --}}
  <div class="sheet-block grid-3col grid-gap-md margin-b-md">
    <div class="flex flex-middle flex-right">
      {{> inputLabel text="ambersteel.labels.treatment"}}
    </div>
    <div class="grid-span-2">
      {{> inputTextField viewModel=viewModel.vmTfTreatment }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-column flex-grow">
    <h3 class="fancy-font">{{localize "ambersteel.labels.description"}}</h3>
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
</form>