{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
itemId: {String|undefined}
item: {Item} = {
  name: {String}
  data: {Object} = {
    data: {Object} = {
      description: {String}
      state: {CONFIG.illnessStates}
      duration: {String}
      treatment: {String}
      treatmentSkill: {String}
    }
  }
}
--}}
{{!-- Row 1 --}}
<div class="flex flex-row">
  <div class="flex flex-grow">
    {{!-- Send to chat --}}
    {{> buttonSendToChat target=item }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.illness"}}
    </span>
    <span class="flex-grow margin-r-md">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="name" placeholder="ambersteel.labels.name" }}
    </span>
    {{!-- State --}}
    {{> inputRadioButtonGroup isEditable=isEditable propertyOwner=item propertyPath="data.data.state" options=(game.ambersteel.getIllnessOptions) }}
  </div>
  {{!-- Delete --}}
  {{> buttonDelete target=item withDialog=true }}
</div>
<div class="flex flex-row">
</div>
{{!-- Row 2 --}}
<div class="flex flex-row">
  {{!-- Treatment Skill --}}
  <span class="width-min-xxl">
    {{> inputLabel text="ambersteel.labels.treatmentSkill" }}
  </span>
  <span class="width-xl">
    {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.treatmentSkill" }}
  </span>
  {{!-- Spacer --}}
  <div class="width-xs"></div>
  {{!-- Duration --}}
  <span class="width-min-xl">
    {{> inputLabel text="ambersteel.labels.duration" }}
  </span>
  <span class="flex-grow">
    {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.duration" }}
  </span>
</div>
{{!-- Spacer --}}
<div class="width-xs"></div>
<div class="flex flex-row">
{{!-- Treatment --}}
  <span class="width-min-xxl">
    {{> inputLabel text="ambersteel.labels.treatment" }}
  </span>
  <span class="flex-grow">
    {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.treatment" }}
  </span>
</div>
{{!-- Row 3 --}}
{{!-- Description --}}
<div class="flex flex-row">
  {{> inputTextarea isEditable=isEditable propertyOwner=item propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") allowResize=true }}
</div>