{{!-- Requires context:
viewModel: {IllnessItemSheetViewModel}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" contextTemplate="illness-item-sheet" }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat target=viewModel.item }}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Duration --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.duration"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.duration" contextTemplate="illness-item-sheet" }}
    </div>
  </div>
  {{!-- Treatment skill --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.treatmentSkill"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.treatmentSkill" contextTemplate="illness-item-sheet" }}
    </div>
  </div>
  {{!-- Treatment --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.treatment"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.treatment" contextTemplate="illness-item-sheet" }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true cssClass="fill" contextTemplate="illness-item-sheet" }}
    </div>
  </div>
</form>