{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  data: {Object} = {
    data: {Object} = {
      description: {String}
      state: {CONFIG.illnessStates}
      duration: {String}
      treatment: {String}
      treatmentSkill: {String}
    }
  }
}
--}}
<form class="flex flex-column {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="name" placeholder="ambersteel.labels.name" }}
        </h1>
        {{#if isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Duration --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.duration"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.duration" }}
    </div>
  </div>
  {{!-- Treatment skill --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.treatmentSkill"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.treatmentSkill" }}
    </div>
  </div>
  {{!-- Treatment --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.treatment"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.treatment" }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row flex-grow">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea isEditable=isEditable propertyOwner=item propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") allowResize=true cssClass="fill" }}
    </div>
  </div>
</form>