.radio-button-group {
  border: 1px solid $c-border-input;
  border-radius: 0.3rem;
}

.radio-button-container {
  background: $c-bg-lighter;

  > input {
    display: none;
  }

  > label {
    cursor: pointer;
    padding: 4px;
    border-right: 1px solid $c-border-input;
    color: $c-text-disabled;
    background: $c-bg-light;
    min-width: 26px;
    min-height: 26px;

    &.disabled {
      cursor: default;
    }
  }

  &:last-child > label {
    border-right: none;
  }

  &.active {
    > label {
      background: $c-bg-lightest;
      text-shadow: 0 0 10px $c-text-highlight;
      color: $c-text-normal;
    }

    i.ico {
      filter: drop-shadow(0 0 4px $c-button-highlight);

      &.dark {
        filter: brightness($brightness-dark) drop-shadow(0 0 4px $c-button-highlight);
      }
    }
  }

  img.radio-button-icon {
    display: block;
    max-height: 32px;
    max-width: 32px;
  }
}
