{{!-- Parameters:
viewModel: {ActorHealthStatesViewModel}
cssClass: {undefined | String}
--}}
<div class="sheet-block">
  <h3>{{localize "ambersteel.character.health.states.label"}}</h3>
  <div class="grid-3col">
    {{#each viewModel.stateViewModels as |vm index|}}
      {{#with ../viewModel.listItemTemplate as | template |}}
        {{> (template) viewModel=vm}}
      {{/with}}
    {{/each}}
  </div>
</div>