{{!-- Parameters:
viewModel: {ActorHealthStatesViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="sheet-block">
  {{#> header3 showFancyFont=viewModel.showFancyFont}}{{localize "system.character.health.states.label"}}{{/header3}}
  <div class="grid-3col">
    {{#each viewModel.stateViewModels as |vm index|}}
      {{#with ../viewModel.listItemTemplate as | template |}}
        {{> (template) viewModel=vm}}
      {{/with}}
    {{/each}}
  </div>
</div>