{{!-- Required context:
viewModel: DamageDesignerDialogViewModel
--}}
<section id="{{viewModel.id}}">
  <div class="flex flex-row flex-middle auto-margin-h sheet-block">
    <span class="sheet-block">
      {{> button viewModel=viewModel.vmRefresh }}
    </span>
    <span class="flex flex-row sheet-block auto-border-r-sm">
      <span>
        {{> button viewModel=viewModel.vmCollapseAll }}
      </span>
      <span>
        {{> button viewModel=viewModel.vmExpandAll }}
      </span>
    </span>
    <span class="flex flex-row auto-margin-h-md sheet-block auto-border-r-sm">
      {{#with viewModel.sortControlsTemplate as |template|}}
        {{> (template) viewModel=../viewModel.vmSort }}
      {{/with}}
      {{#> labeledControl viewModel=viewModel.vmSubstitute localizedLabel="Substitute" }}
        <div class="width-md">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
    </span>
    <span class="flex flex-row auto-margin-h-md sheet-block auto-border-r-sm">
      {{> inputRadioButtonGroup viewModel=viewModel.vmListViewSelection }}
    </span>
  </div>
  <div class="damage-finding-header damage-list flex flex-row flex-middle pad-md">
    <span>Skill / Expertise</span>
    <span class="pad-l-md">Formula</span>
    <span class="flex flex-center">0</span>
    <span class="flex flex-center">1</span>
    <span class="flex flex-center">2</span>
    <span class="flex flex-center">3</span>
    <span class="flex flex-center">4</span>
    <span class="flex flex-center">5</span>
    <span class="flex flex-center">6</span>
    <span class="flex flex-center">7</span>
    <span class="flex flex-center">8</span>
    <span class="flex flex-center">9</span>
    <span class="flex flex-center">10</span>
  </div>
  <ol id="table" class="unstyled-list damage-list-root auto-border-b-sm"></ol>
</section>