{{!-- Required context:
viewModel: DamageDesignerDialogViewModel
--}}
<section id="{{viewModel.id}}">
  <div class="flex flex-row flex-middle auto-margin-h sheet-block">
    <span class="sheet-block">
      {{> button viewModel=viewModel.vmRefresh }}
    </span>
  </div>
  <div class="damage-finding-header damage-list flex flex-row flex-middle pad-md">
    <div class="flex flex-row flex-middle auto-margin-h">
      <span>Skill / Expertise</span>
      <span class="flex-grow"></span>
      {{#with viewModel.sortControlsTemplate as |template|}}
        {{> (template) viewModel=../viewModel.vmSortByName }}
      {{/with}}
      {{> inputRadioButtonGroup viewModel=viewModel.vmListViewSelection }}
    </div>
    <span class="pad-l-md">Formula</span>
    <span class="flex flex-center">0</span>
    <span class="flex flex-center">1</span>
    <span class="flex flex-center">2</span>
    <span class="flex flex-center">3</span>
    <span class="flex flex-center">4</span>
    <span class="flex flex-center">5</span>
    <span class="flex flex-center">6</span>
    <span class="flex flex-center">7</span>
    <span class="flex flex-center">8</span>
    <span class="flex flex-center">9</span>
    <span class="flex flex-center">10</span>
  </div>
  <ol id="table" class="unstyled-list damage-list-root auto-border-b"></ol>
</section>