{{!-- Required context:
viewModel: DamageDesignerDialogViewModel
--}}
<section id="{{viewModel.id}}">
  {{!-- Row --}}
  <div class=""></div>
  {{!-- Row --}}
  <div class="damage-finding-header pad-md">
    <span>Skill / Expertise</span>
    <span class="multiline">Formula</span>
    <span class="multiline">Min. Damage</span>
    <span class="multiline">Mean Damage</span>
    <span class="multiline">Max. Damage</span>
  </div>
  <ol id="table" class="unstyled-list"></ol>
</section>