{{!-- Required context:
viewModel: DamageDesignerDialogViewModel
--}}
<section id="{{viewModel.id}}">
  {{!-- Row --}}
  <div class=""></div>
  {{!-- Row --}}
  <div class="damage-finding-header damage-list flex flex-row flex-middle auto-margin-h-lg pad-md">
    <div class="flex flex-row flex-middle">
      <span>Skill / Expertise</span>
      <span class="flex-grow"></span>
      {{> inputRadioButtonGroup viewModel=viewModel.vmListViewSelection }}
    </div>
    <span class="multiline">Formula</span>
    <span class="multiline">Min. Damage</span>
    <span class="multiline">Mean Damage</span>
    <span class="multiline">Max. Damage</span>
  </div>
  <ol id="table" class="unstyled-list"></ol>
</section>