{{!-- Required context:
viewModel: DamageDesignerDialogViewModel
--}}
<section id="{{viewModel.id}}">
  {{!-- Row --}}
  <div class=""></div>
  {{!-- Row --}}
  <div class="damage-finding-header damage-list flex flex-row flex-middle grid-gap-md pad-md">
    <div class="flex flex-row flex-middle">
      <span>Skill / Expertise</span>
      <span class="flex-grow"></span>
      {{> inputRadioButtonGroup viewModel=viewModel.vmListViewSelection }}
    </div>
    <span>Formula</span>
    <span>0</span>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
    <span>8</span>
    <span>9</span>
    <span>10</span>
  </div>
  <ol id="table" class="unstyled-list"></ol>
</section>