{{!-- Required context:
buttons: {Array<DialogButtonDefinition>}
--}}
<section>
  {{> @partial-block }}
  <div class="flex flex-row">
    {{#each buttons as |button index|}}
    <button id="{{button.id}}" class="button{{#if button.cssClass}} {{button.cssClass}}{{/if}}">
      {{#if button.iconCssClass}}<i class="{{button.iconCssClass}}"></i>{{/if}}
      <span>{{button.localizedLabel}}</span>
    </button>
    {{/each}}
  </div>
</section>