.ambersteel-asset-slot {
  border-bottom: $c-text-underline 1px solid;
  margin-bottom: $padding-lg;
  padding-bottom: $padding-md;
  &:last-of-type {
    border-bottom: unset;
    margin-bottom: unset;
  }
}
