.custom-system-read-only {
  background: repeating-linear-gradient(45deg, rgba(0,0,0,0.07), transparent, rgba(0,0,0,0.07) 10px);
  border-radius: 0.2rem;
  font-weight: bold;
  border: 1px solid $c-border-beige-light;
  color: $c-text-read-only;
  min-height: 26px;
}
