h1.ambersteel-header {
  font-size: 1.8rem;
}

h2.ambersteel-header {
  font-size: 1.5rem;
}

h3.ambersteel-header {
  font-size: 1.2rem;
}

label.ambersteel-label {
  font-size: 1rem;
}