.strive-pill {
  border-radius: 1rem;
  background-color: $c-bg-dark;
  padding: $padding-sm 8px;
  text-align: center;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: #ffbc814c;
  }
}