$c-tox-toolbar-override-bg: rgba($color: #000000, $alpha: 0.1);
$c-tox-button-override-bg: #d9d8c8;
$c-tox-button-hover-override-bg: #f0f0e0;

.component-rich-text {
  min-height: 100px;

  .editor-content {
    min-height: 100px;
  }
}

.component-rich-text-editbutton {
  float: right;
  width: 32px;
  height: 32px;

  a.button {
    font-size: 1.3em;
  }
}

.component-rich-text-container {
  min-height: 4em;

  .tox.tox-tinymce {
    border-radius: 0;
  }

  > div.tox.tox-tinymce {
    > div.tox-editor-container {
      > div.tox-editor-header {
        background-color: $c-tox-toolbar-override-bg;
    
        .tox-toolbar-overlord {
          background-color: transparent;
          
          .tox-toolbar__primary {
            background-color: transparent;

            button.tox-tbtn--select {
              background-color: $c-tox-button-override-bg;
              
              &:hover, &:active {
                background-color: $c-tox-button-hover-override-bg;
              }
            }
          }
        }
      }
    }
  }
}

div.tox-tiered-menu {
  > div.tox-menu.tox-collection.tox-collection--list.tox-selected-menu {
    background-color: $c-tox-button-override-bg;
    
    > div.tox-collection__group {
      > div.tox-collection__item--active {
        background-color: $c-tox-button-hover-override-bg;
      }
      > div.tox-collection__item--enabled {
        background-color: unset;
      }
      > div.tox-collection__item--active.tox-collection__item--enabled {
        background-color: $c-tox-button-hover-override-bg;
      }
    }
  }
}