// Displacement

.displace-anim {
  overflow: hidden !important;
  position: relative;

  .enter {
    -webkit-animation: displace-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: displace-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: relative;
  }
  .exit {
    -webkit-animation: displace-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: displace-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: relative;
  }
}

$initialDisplaceIn: -150%;
$finalDisplaceIn: 0%;
@-webkit-keyframes displace-in {
  0% {
    -webkit-transform: translateY($initialDisplaceIn);
            transform: translateY($initialDisplaceIn);
  }
  100% {
    -webkit-transform: translateY($finalDisplaceIn);
            transform: translateY($finalDisplaceIn);
  }
}
@keyframes displace-in {
  0% {
    -webkit-transform: translateY($initialDisplaceIn);
            transform: translateY($initialDisplaceIn);
  }
  100% {
    -webkit-transform: translateY($finalDisplaceIn);
            transform: translateY($finalDisplaceIn);
  }
}

$initialDisplaceOut: -100%;
$finalDisplaceOut: 150%;
@-webkit-keyframes displace-out {
  0% {
    -webkit-transform: translateY($initialDisplaceOut);
            transform: translateY($initialDisplaceOut);
  }
  100% {
    -webkit-transform: translateY($finalDisplaceOut);
            transform: translateY($finalDisplaceOut);
  }
}
@keyframes displace-out {
  0% {
    -webkit-transform: translateY($initialDisplaceOut);
            transform: translateY($initialDisplaceOut);
  }
  100% {
    -webkit-transform: translateY($finalDisplaceOut);
            transform: translateY($finalDisplaceOut);
  }
}

// Entrance

.slide-anim {
  overflow: hidden !important;
  position: relative;

  .enter {
    -webkit-animation: slide-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  .exit {
    -webkit-animation: slide-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
}

$initialSlideIn: -150%;
$finalSlideIn: 0%;
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY($initialSlideIn);
            transform: translateY($initialSlideIn);
  }
  100% {
    -webkit-transform: translateY($finalSlideIn);
            transform: translateY($finalSlideIn);
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateY($initialSlideIn);
            transform: translateY($initialSlideIn);
  }
  100% {
    -webkit-transform: translateY($finalSlideIn);
            transform: translateY($finalSlideIn);
  }
}

$initialSlideOut: 1%;
$finalSlideOut: 150%;
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY($initialSlideOut);
            transform: translateY($initialSlideOut);
  }
  100% {
    -webkit-transform: translateY($finalSlideOut);
            transform: translateY($finalSlideOut);
  }
}
@keyframes slide-out {
  0% {
    -webkit-transform: translateY($initialSlideOut);
            transform: translateY($initialSlideOut);
  }
  100% {
    -webkit-transform: translateY($finalSlideOut);
            transform: translateY($finalSlideOut);
  }
}