.slide-anim {
  overflow: hidden !important;
  position: relative;

  .enter {
    -webkit-animation: slide-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: relative;
  }
  .exit {
    -webkit-animation: slide-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: slide-out 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: relative;
  }
}

$initialSlideIn: -150%;
$finalSlideIn: 0%;
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY($initialSlideIn);
            transform: translateY($initialSlideIn);
  }
  100% {
    -webkit-transform: translateY($finalSlideIn);
            transform: translateY($finalSlideIn);
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translateY($initialSlideIn);
            transform: translateY($initialSlideIn);
  }
  100% {
    -webkit-transform: translateY($finalSlideIn);
            transform: translateY($finalSlideIn);
  }
}

$initialSlideOut: -100%;
$finalSlideOut: 150%;
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY($initialSlideOut);
            transform: translateY($initialSlideOut);
  }
  100% {
    -webkit-transform: translateY($finalSlideOut);
            transform: translateY($finalSlideOut);
  }
}
@keyframes slide-out {
  0% {
    -webkit-transform: translateY($initialSlideOut);
            transform: translateY($initialSlideOut);
  }
  100% {
    -webkit-transform: translateY($finalSlideOut);
            transform: translateY($finalSlideOut);
  }
}
