{{!-- Required context:
viewModel: {InputRichTextViewModel}
cssClass: {String | undefined}
--}}
<div id="{{viewModel.id}}"
  class="component-rich-text{{#if cssClass}} {{cssClass}}{{/if}}"
></div>