{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  img: {String}
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
      cost: {Object} = {
        miFP: {Number}
        maFP: {Number}
        AFP: {Number}
      }
    }
  }
}
--}}
<section class="fate-card" data-item-id="{{data._id}}">
  <div class="flex flex-row fate-card-header">
    <h3 class="flex-grow fancy-font multiline">
      {{data.name}}
    </h3>
    <div class="flex flex-column">
      <span>
        <img name="img" src="{{item.img}}" title="{{item.name}}" height="26" width="26" />
      </span>
      {{#if isSendable}}
        <span class="flex flex-right">
          {{> buttonSendToChat itemId=itemId}}
        </span>
      {{/if}}
    </div>
  </div>
  <div class="fate-card-description">
    {{> inputComponent type="multi-line" name="description" propertyPath="data.data.description" isEditable=isEditable }}
  </div>
  <div class="flex flex-row fate-card-footer">
    {{#if isEditable}}
      <span class="flex-grow"></span>
      {{> buttonDelete itemId=itemId promptConfirm=true promptLocalizableTitle="ambersteel.dialog.titleConfirmDeletionFateCardQuery" }}
    {{/if}}
  </div>
</section>