.strive.number-spinner {
  position: relative;
  height: $input-size-md;
  line-height: $input-size-md;
  font-size: $font-size-md;
  border-radius: unset;
  padding: 0 5px;
  box-sizing: content-box;

  .button-spinner {
    line-height: 50%;
  }
}
