.strive.number-spinner {
  position: relative;
  height: $input-size-md;
  line-height: $input-size-md;
  font-size: $font-size-md;
  border-radius: unset;
  padding: 0 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  box-sizing: content-box;
  
  &.lg {
    height: $input-size-lg;
    line-height: $input-size-lg;
    font-size: $font-size-lg;
  }

  .read-mode {
    height: inherit;
    font-size: inherit;
    line-height: inherit;
    border: unset;
  }

  .button-spinner {
    line-height: 50%;
  }
}

.theme-dark .strive.number-spinner input {
  background-color: $c-bg-input-dark;
  border-bottom-color: $c-border-dark;
  color: $c-text-dark;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $c-bg-input-focus-dark;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid $c-border-highlight-dark;
    outline: unset;
    box-shadow: none;
  }
}

.theme-light .strive.number-spinner input {
  background-color: $c-bg-input-light;
  border-bottom-color: $c-border-light;
  color: $c-text-light;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $c-bg-input-focus-light;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid $c-border-highlight-light;
    outline: unset;
    box-shadow: none;
  }
}