.strive.number-spinner {
  position: relative;
  box-sizing: content-box;

  input[type=number] {
    padding-left: 0.3rem;
    text-align: center;
    max-width: 4rem;
  }

  a.button-spinner {
    line-height: 50%;
  }
}

.theme-light {
  a.button-spinner {
    &:hover,
    &:focus {
      background: $c-bg-input-focus-light;
    }
  }
}
.theme-dark {
  a.button-spinner {
    &:hover,
    &:focus {
      background: $c-bg-input-focus-dark;
    }
  }
}