{{!-- Parameters:
viewModel: {ActorAttributesViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Attributes --}}
  {{> "systems/ambersteel/template/actor/component/component-attribute-table.hbs" viewModel=viewModel.attributesPhysicalViewModel }}
  {{> "systems/ambersteel/template/actor/component/component-attribute-table.hbs" viewModel=viewModel.attributesMentalViewModel }}
  {{> "systems/ambersteel/template/actor/component/component-attribute-table.hbs" viewModel=viewModel.attributesSocialViewModel }}
</section>