{{!-- Parameters:
viewModel: {ActorBiographyViewModel}
cssClass: {undefined | String}
--}}
<section class="fill{{#if cssClass}} {{cssClass}}{{/if}}">
  <div class="sheet-block fill">
    {{> inputRichText viewModel=viewModel.vmRtBiography }}
  </div>
</section>