{{!-- Parameters:
viewModel: {ActorSkillsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Learning Skills --}}
  <h2>{{localize "ambersteel.character.skill.learning.label"}}</h2>
  {{> sortableList viewModel=viewModel.vmLearningSkillList }}
  {{!-- Known Skills --}}
  <h2>{{localize "ambersteel.character.skill.known.label"}}</h2>
  {{> sortableList viewModel=viewModel.vmKnownSkillList }}
</section>