{{!-- Required context:
viewModel: {ButtonToggleVisibilityViewModel}
cssClass: {String | undefined}
--}}
<a class="custom-system-button flex flex-center{{#if (not viewModel.isEditable)}} disabled{{/if}}{{#if cssClass}} {{cssClass}}{{/if}}" 
  title="{{viewModel.localizedToolTip}}" 
  id="{{viewModel.id}}"
  {{#if viewModel.toggleSelf}}
  data-vis-group="{{viewModel.visGroup}}"
  {{/if}}
  >
    {{> @partial-block }}
  </a>
</span>
