{{!--
viewModel: SimpleListViewModel
cssClass: String | undefined
--}}
<section id="{{viewModel.id}}"{{#if cssClass}} class="{{cssClass}}"{{/if}}>
  <ul class="unstyled-list auto-margin-v">
    {{#each viewModel.itemViewModels as |vm index|}}
    {{#with ../viewModel.itemTemplate as |template|}}
      <li class="flex flex-row">
        {{> (template) viewModel=vm}}
      </li>
    {{/with}}
    {{/each}}
    {{#if viewModel.isItemAddable}}
    {{/if}}
  </ul>
  {{!-- Add button --}}
  <div class="fill flex flex-row flex-right{{#if (eq viewModel.isEditable false)}} hidden{{/if}}">
    {{> button viewModel=viewModel.vmBtnAddItem cssClass="" }}
  </div>
</section>