{{!-- Parameters:
viewModel: {FateCardChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="flex flex-column fate-card{{#if cssClass}} {{cssClass}}{{/if}}"
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.document.id}}"
>
  {{!-- Header --}}
  <div class="flex flex-column pad-md">
    <div class="flex flex-row">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
      <h3 class="header-name flex-grow" style="margin: 0;">
        {{> inputTextField viewModel=viewModel.vmTfName }}
      </h3>
    </div>
  </div>
  {{!-- Description --}}
  <div class="fill pad-md scrollable-height-md">
    {{> lazyRichText viewModel=viewModel.vmLazyDescription}}
  </div>
</section>