{{!-- Required context:
viewModel: {LazyLoadViewModel}
--}}
<div id="{{viewModel.id}}" class="fill">
  <div class="ambersteel-shimmer flex flex-column flex-justify fill">
    <div class="ambersteel-shimmer line"><div class="animate-shimmer"></div></div>
    <div class="ambersteel-shimmer line"><div class="animate-shimmer"></div></div>
    <div class="ambersteel-shimmer line"><div class="animate-shimmer"></div></div>
  </div>
</div>