{{!-- Required context:
viewModel: {LazyLoadViewModel}
--}}
<div id="{{viewModel.id}}">
  <div class="ambersteel-shimmer flex flex-column fill">
    <div class="ambersteel-shimmer line"></div>
    <div class="ambersteel-shimmer line"></div>
    <div class="ambersteel-shimmer line"></div>
  </div>
</div>