{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
itemId: {String}
--}}
<section class="fate-card" data-item-id="{{data._id}}">
  <div class="flex flex-row fate-card-header">
    <h3 class="flex-grow fancy-font multiline">
      {{data.name}}
    </h3>
    <div class="flex flex-column">
      <span>
        <img name="img" src="{{img}}" title="{{data.name}}" height="26" width="26" />
      </span>
      {{#if isSendable}}
        <span class="flex flex-right">
          {{> buttonSendToChat itemId=itemId}}
        </span>
      {{/if}}
    </div>
  </div>
  <div class="fate-card-description">
    {{> inputComponent type="multi-line" name="description" propertyPath="data.data.description" isEditable=isEditable }}
  </div>
  <div class="flex flex-row fate-card-footer">
    {{#if isEditable}}
      <span class="flex-grow"></span>
      {{> buttonDelete itemId=itemId }}
    {{/if}}
  </div>
</section>