.ambersteel-modal {
  z-index: 99999 !important;

  .dialog-buttons {
    display: flex;
    flex-direction: row;
  }
}

.ambersteel-modal-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  position: absolute;
}

header.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  img.profile-img {
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }
}

h1.header-name {
  padding: 0px;
  margin: 0;
  font-size: 1.8rem;

  input.header-name {
    margin: 0;
  }
}

// Tab styles
nav#nav-sheet-tabs.sheet-tabs {
  height: 32px;
  min-height: 32px;
  margin: 0;
  padding: 0;
  flex: 0;
  border-top: 1px solid $c-border-beige-light;
  border-bottom: 1px solid $c-border-beige-light;
  line-height: unset;
  background-color: rgba(0, 0, 0, 0.065);

  > a.item {
    margin: 0;
    padding: 4px 0 0 0;

    &.active {
      border-left: 2px solid rgba(0,0,0,0.2);
      border-top: 2px solid rgba(0,0,0,0.2);
      border-right: 2px solid rgba(0,0,0,0.2);
      border-radius: 10px 10px 0 0;
      padding: 2px 0 0 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

// Grouping styles. 

.sheet-block {
  padding: $padding-sm;
  border-radius: 3px;
  border: 1px $c-border-light solid;
  background-color: $c-bg-light;
}

.sheet-group-sidebar {
  border-right: $c-border-medium 3px solid;
}

// Disabled styles. 

.disabled {
  a.custom-system-button {
    cursor: default;
    background-color: unset;
    color: black;
    opacity: 50%;
    text-shadow: unset;
  
    &:hover {
      filter: unset;
    }
  
    i.ambersteel-icon {
      filter: opacity(50);
      &:hover {
          filter: unset;
      }
    }
  }
}

// Textarea styles
textarea, .textarea-auto-resize-sibling {
  font-size: 1rem;
  font-family: $font-primary;
  resize: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 4px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid $c-border-input;
  
  &.resize-vertical {
    resize: vertical;
  }
  &.resize-none {
    resize: none;
  }
  // Default textarea override
  &.custom-system-edit {
    border-color: $c-border-input;
  }
}

// Input styles

.custom-system-read-only {
  background: repeating-linear-gradient(45deg, rgba(0,0,0,0.07), transparent, rgba(0,0,0,0.07) 10px);
  border-radius: 0.2rem;
  font-weight: bold;
  border: 1px solid $c-border-beige-light;
  color: $c-text-read-only;
  min-height: 26px;
}

// Default width override
input[type="text"].input-width-override {
  width: 100%;
}

// Chat styles
.ambersteel-item-to-chat-margin-right {
  margin-right: 2%;
}

// Image styles

img.header-image {
  background: $c-bg-medium;
  border-radius: 0.2rem;
  border: 1px solid $c-border-beige-light;
}

.inline-img {
  border: none;
  display: inline-block;
}

img.custom-icon {
  &-sm {
    border: $c-border-input 1px solid;
    flex: none;
    width: $line-height !important;
    height: $line-height !important;
  }
  &-md {
    border: $c-border-input 1px solid;
    flex: none;
    width: 64px !important;
    height: 64px !important;
  }
  &-lg {
    border: $c-border-input 1px solid;
    flex: none;
    width: 100px !important;
    height: 100px !important;
  }
}

.component-input-image {
  cursor: pointer;

  &.disabled {
    cursor: default;
  }
}

// Hint Card Styles
.hint-card {
  background-color: $c-themed-hint-bg;
  border: 1px solid $c-themed-hint-border;
  border-radius: 4px;
  padding: 6px;

  &-icon {
    font-size: $font-size-lg;
    margin-right: 0.6rem;
  }
}