.item-form {
  font-family: $font-primary;
}

header.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  img.profile-img {
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 0 0 $padding-md 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.sheet-block {
  padding: $padding-sm;
  border-radius: 3px;
  border: 1px $c-border-light solid;
  background-color: $c-bg-light;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.line-height {
  height: $line-height;
  line-height: 1;
  font-size: $font-size-default;
}

.pad-sm {
  padding: $padding-sm;
}

.pad-md {
  padding: $padding-md;
}

.pad-lg {
  padding: $padding-lg;
}

.input-slim {
  max-width: 40px;
  width: 40px;
}

a.button {
  padding: $padding-sm;
}

.resize-vertical {
  resize: vertical;
}

.roll-button {
  font-size: 1.2rem;
}