.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.ambersteel-list-row {
  margin-top: 2px;
  &.ambersteel-list-footer {
    width: 100%;
    display: block;
    min-height: 26px;
    margin-top: unset;
  }
}

.alternating-rows {
  > :nth-child(even) {
    background-color: $c-row-even;
  }
  > :nth-child(odd) {
    background-color: $c-row-odd;
  }
}