.ambersteel-expand-skill-ability-list-container {
    display: block;
    width: 100%;
    height: 26px;
}

a.ambersteel-expand-skill-ability-list {
    border-radius: 3px;
    border: 1px $c-border-light solid;
    background-color: $c-bg-light;
}