span.spinner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 26px;
    align-items: center;
    border: 1px solid #888;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.05);

    input {
        border: 0;
        background-color: transparent;
    }
}

.spinner-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 26px;
}

a.button-spinner {
    height: 50%;
    padding: 0 $padding-sm;
}