.attribute-column {
    &-roll {
        max-width: $width-column-sm;
        width: $width-column-sm;
        text-align: center;
    }
    
    &-name {
        flex: 1;
    }

    &-abbreviation {
        max-width: $width-column-xl;
        width: $width-column-xl;
    }

    &-level {
        max-width: $width-column-md;
        width: $width-column-md;
    }

    &-requirements {
        max-width: $width-column-xl;
        width: $width-column-xl;
        text-align: center;
    }

    &-successes, &-failures {
        max-width: $width-column-md;
        width: $width-column-md;
    }
}

.attribute-table th {
    padding: 0 3px;
}

.skill-table th {
    padding: 0 3px;
}

.skill-column {
    &-name {
        flex: 1;
    }
    
    &-roll, &-delete, &-button {
        max-width: $width-column-sm;
        width: $width-column-sm;
        text-align: center;
    }
    
    &-attribute {
        max-width: $width-column-xl;
        width: $width-column-xl;
    
        & > select {
            width: 100%;
        }
    }
    
    &-level {
        max-width: $width-column-md;
        width: $width-column-md;
    }
    
    &-requirements {
        max-width: $width-column-xl;
        width: $width-column-xl;
        text-align: center;
    }
    
    &-successes, &-failures {
        max-width: $width-column-md;
        width: $width-column-md;
    }
}

section.skill-ability-list {
    width: 100%;
    padding: 0 $padding-lg;
    margin: auto;
}

table.skill-ability-list {
    margin: 0;
    border: 0;

    .skill-ability-column {
        &-requirement {
            width: $width-column-md;
        }

        &-cost {
            width: $width-column-md;
        }

        &-button {
            max-width: $width-column-sm;
            width: $width-column-sm;
            text-align: center;
        }
    }
}