.attribute-column {
    &-roll {
        max-width: 30px;
        width: 30px;
        text-align: center;
    }
    
    &-name {
        flex: 1;
    }

    &-abbreviation {
        max-width: 80px;
        width: 80px;
    }

    &-level {
        max-width: 40px;
        width: 40px;
    }

    &-requirements {
        max-width: 80px;
        width: 80px;
        text-align: center;
    }

    &-successes, &-failures {
        max-width: 40px;
        width: 40px;
    }
}

.attribute-table th {
    padding: 0 3px;
}

.skill-table th {
    padding: 0 3px;
}

.skill-column {
    &-name {
        flex: 1;
    }
    
    &-roll, &-delete {
        max-width: 30px;
        width: 30px;
        text-align: center;
    }
    
    &-attribute {
        max-width: 80px;
        width: 80px;
    
        & > select {
            width: 100%;
        }
    }
    
    &-level {
        max-width: 40px;
        width: 40px;
    }
    
    &-requirements {
        max-width: 80px;
        width: 80px;
        text-align: center;
    }
    
    &-successes, &-failures {
        max-width: 40px;
        width: 40px;
    }
}
