{{!-- Required context:
cssClass: {String | undefined}
readOnlyCssClass: {String | undefined}
// If provided, "parent" and "id" must be undefined!
viewModel: {ViewModel | undefined}

// If provided, "viewModel" must be undefined!
parent: {ViewModel | undefined}
id: {String | undefined}
target: {Object | undefined}
callback: {Function | String | undefined}
callbackData: {Any | undefined}
localizableTitle: {String | undefined}
propertyPath: {String | undefined}
--}}
{{#withViewModel parent id viewModel "ButtonToggleViewModel" target callback callbackData localizableTitle propertyPath}}
<button 
  class="custom-system-button component-button-toggle {{#if value}}active {{/if}}{{#if isEditable}}{{else}}disabled {{/if}}{{../cssClass}}" 
  title="{{localizedTitle}}" 
  id="{{id}}" 
>
  <span class="component-button-toggle-knob {{#if value}}active{{/if}}"></span>
</button>
{{/withViewModel}}