.strive {
  &.textfield {
    height: 48px;
    border-radius: unset;
    padding: 0 5px;
    font-size: 18pt;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top: unset;
    border-left: unset;
    border-right: unset;
  }

  &.readonly {
    font-size: 18pt;
  }
}

.theme-dark .strive.textfield {
  background-color: $c-bg-input-dark;
  border-bottom-color: $c-border-dark;
  color: $c-text-dark;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $c-bg-input-focus-dark;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid $c-border-highlight-dark;
    outline: unset;
    box-shadow: none;
  }
}

.theme-light .strive.textfield {
  background-color: $c-bg-input-light;
  border-bottom-color: $c-border-light;
  color: $c-text-light;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: $c-bg-input-focus-light;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid $c-border-highlight-light;
    outline: unset;
    box-shadow: none;
  }
}