{{!--
viewModel: VisibilityToggleListItemViewModel
--}}
<div id="{{viewModel.id}}" class="flex flex-row flex-middle pad-md">
  {{> buttonToggleIcon viewModel=viewModel.btnToggle}}
  <span class="flex flex-grow pad-l-lg">
    {{#> label showFancyFont=viewModel.showFancyFont}}{{viewModel.localizedLabel}}{{/label}}
  </span>
</div>