.strive.button {
  padding: 0;
  min-height: unset;
  min-width: unset;
  border-radius: 5px;
  display: flex;
  max-height: unset;
  --button-size: unset;
  --button-background-color: unset;
  --button-border-color: unset;
  --button-text-color: unset;
  --button-focus-outline-color: unset;
  --button-hover-background-color: unset;
  --button-hover-border-color: unset;
  --button-hover-text-color: unset;

  &.light {
    border: unset;
    background-color: unset;

    &:hover {
      border: unset;
      background-color: unset;
    }
  }

  &.disabled {
    a.custom-system-button {
      cursor: default;
      background-color: unset;
      color: black;
      opacity: 50%;
      text-shadow: unset;
    }
  }

  &.square {
    aspect-ratio: 1/1;
  }

  &.fill {
    display: block;
  }

  &.override {
    min-width: unset;
    min-height: unset;
  }
}

.theme-dark .strive.button {
  border: 1px $c-border-dark solid;
  background-color: $c-bg-input-dark;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: $c-border-highlight-dark;
    background-color: $c-bg-input-focus-dark;
    text-shadow: 0 0 0.3rem $c-bg-themed;
  }
}

.theme-light .strive.button {
  border: 1px $c-border-light solid;
  background-color: $c-bg-input-light;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: $c-border-highlight-light;
    background-color: $c-bg-input-focus-light;
  }
}

button {
  min-height: unset;
}