.strive.button {
  padding: 0;
  min-height: unset;
  min-width: unset;
  border-radius: 5px;
  display: flex;
  max-height: unset;
  --button-size: unset;
  --button-background-color: unset;
  --button-border-color: unset;
  --button-text-color: unset;
  --button-focus-outline-color: unset;
  --button-hover-background-color: unset;
  --button-hover-border-color: unset;
  --button-hover-text-color: unset;
}

.theme-dark .strive.button {
  &:hover,
  &:focus,
  &:focus-within {
    border-color: $c-border-highlight-dark;
    background-color: $c-bg-input-focus-dark;
    text-shadow: 0 0 0.3rem $c-bg-themed;
  }
}

.theme-light .strive.button {
  &:hover,
  &:focus,
  &:focus-within {
    border-color: $c-border-highlight-light;
    background-color: $c-bg-input-focus-light;
  }
}

button {
  min-height: unset;
}