{{!-- Parameters:
viewModel: {ActorAssetsEquippedViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}"{{#if cssClass}} class="{{cssClass}}"{{/if}}>
  <ul class="unstyled-list">
    {{#each viewModel.assetSlotGroupViewModels as |vm index|}}
    {{#with ../viewModel.assetSlotGroupTemplate as | template |}}
    <li class="sheet-block flex margin-b-lg">
      {{> (template) viewModel=vm}}
    </li>
    {{/with}}
    {{/each}}
  </ul>
  <div class="fill flex flex-row flex-right{{#if (eq viewModel.isEditable false)}} hidden{{/if}}">
    {{> button viewModel=viewModel.vmBtnAddSlotGroup }}
  </div>
</section>