{{!-- Parameters:
viewModel: {ActorAssetsViewModel}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  {{!-- Worn & Equipped --}}
  <h2>{{localize "ambersteel.character.asset.equipped"}}</h2>
  {{#with viewModel.templateEquipped as | template |}}
  {{> (template) viewModel=../viewModel.vmEquipped}}
  {{/with}}
  {{!-- Luggage --}}
  <h2>{{localize "ambersteel.character.asset.luggage"}}</h2>
  <div class="grid-2col grid-gap-md margin-b-md">
    {{!-- Maximum bulk --}}
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> label text=(localize "ambersteel.character.asset.carryingCapacity.label") showFancyFont=viewModel.showFancyFont}}
        </div>
        <div class="ambersteel-read-only width-md pad-sm">
          {{> label text=viewModel.maxBulk showFancyFont=false}}
        </div>
      </div>
    </div>
    {{!-- Current bulk --}}
    <div class="sheet-block">
      <div class="flex flex-row">
        <div class="flex-grow">
          {{> label text=(localize "ambersteel.character.asset.carryingCapacity.used") showFancyFont=viewModel.showFancyFont}}
        </div>
        <div class="ambersteel-read-only width-md pad-sm">
          {{> label text=viewModel.currentBulk showFancyFont=false}}
        </div>
      </div>
    </div>
  </div>
  {{> sortableList viewModel=viewModel.vmLuggageList }}
  {{!-- Property --}}
  <h2>{{localize "ambersteel.character.asset.property"}}</h2>
  {{> sortableList viewModel=viewModel.vmPropertyList }}
</section>