{{!-- Parameters:
viewModel: {ActorAssetsEquippedViewModel}
cssClass: {undefined | String}
--}}
<section{{#if cssClass}} class="{{cssClass}}"{{/if}}>
  <ul class="unstyled-list">
    {{#each viewModel.assetSlotGroupViewModels as |vm index|}}
    {{#with ../viewModel.assetSlotGroupTemplate as | template |}}
    <li class="sheet-block flex margin-b-lg heavy-border-t">
      {{> (template) viewModel=vm}}
    </li>
    {{/with}}
    {{/each}}
    <li class="strive-list-row strive-list-footer">
      <div class="fill flex flex-row flex-right">
        <div>
          {{> button viewModel=viewModel.vmBtnAddSlotGroup }}
        </div>
      </div>
    </li>
  </ul>
</section>