{{!-- Parameters:
viewModel: {ActorAssetSlotGroupViewModel}
cssClass: {undefined | String}
--}}
<div id="{{viewModel.id}}" class="strive-asset-slot-group flex flex-column flex-grow{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Header Row --}}
  <div class="flex flex-row flex-grow">
    {{#> header2 showFancyFont=false cssClass="flex flex-row flex-grow flex-middle asset-slot-header auto-margin-h-lg"}}
      {{#> label showFancyFont=viewModel.showFancyFont cssClass="width-min-xl font-size-xl"}}{{viewModel.localizedName}}{{/label}}
      {{!-- Slot Group Bulk --}}
      {{> readOnlyValue viewModel=viewModel.vmBulk cssClass="width-min-md width-max-lg font-size-sm" }}
      {{!-- Edit Controls --}}
      <div class="flex flex-row flex-grow flex-right font-size-default">
        <div>
          {{> buttonContextMenu viewModel=viewModel.vmBtnEdit}}
        </div>
      </div>
    {{/header2}}
  </div>
  {{!-- Slots --}}
  {{#each viewModel.assetSlotViewModels as |vm key|}}
  {{#with ../viewModel.assetSlotTemplate as | template |}}
    {{> (template) viewModel=vm}}
  {{/with}}
  {{/each}}
</div>