{{!-- Required context:
viewModel: {InputModifiersViewModel}
cssClass: {String | undefined}
--}}
<ol id="{{viewModel.id}}" class="unstyled-list flex-grow{{#if cssClass}} {{cssClass}}{{/if}}">
  {{#each viewModel.formulaViewModels as |vm index|}}
  <li class="ambersteel-list-row flex flex-row margin-b-md">
    {{#with ../viewModel.listItemTemplate as | template |}}
      {{> (template) viewModel=vm}}
    {{/with}}
  </li>
  {{/each}}
  <li class="ambersteel-list-row ambersteel-list-footer{{#if (neq viewModel.isEditable true)}} hidden{{/if}}">
    <div class="fill flex flex-row flex-right">
      {{!-- Add button --}}
      <div>
        {{#> button viewModel=viewModel.vmBtnAddItem}}
          <span>
            {{> inputLabel text=(localize "ambersteel.general.add") showFancyFont=viewModel.showFancyFont}}
          </span>
          <div class="square-button-light flex flex-center">
            <i class="fas fa-plus"></i>
          </div>
        {{/button}}
      </div>
    </div>
  </li>
</ol>