{{!-- Required context:
viewModel: {InputModifiersListItemViewModel}
cssClass: {String | undefined}
--}}
<div id="{{viewModel.id}}" class="flex flex-row">
  {{!-- Property Path --}}
  <span>
    {{> inputLabel text=(localize "ambersteel.general.propertyPath") showFancyFont=viewModel.showFancyFont}}
  </span>
  <span>
    {{> inputTextField viewModel=viewModel.vmPropertyPath}}
  </span>
  {{!-- Formula --}}
  <span>
    {{> inputLabel text=(localize "ambersteel.general.formula") showFancyFont=viewModel.showFancyFont}}
  </span>
  <span>
    {{> inputTextField viewModel=viewModel.vmFormula}}
  </span>
  {{!-- Delete --}}
  <span{{#if viewModel.isEditable}}{{else}} class="hidden"{{/if}}>
    {{#> button viewModel=vmBtnDelete}}
      <i class="fas fa-trash"></i>
    {{/button}}
  </span>
</div>