.component-list-item-order-controls {
  display: flex;
  flex-direction: column;
  width: 26px;
  border-right: solid 1px #8d8d8d;

  > a.grab-handle {
    display: inline-flex;
    flex-grow: 1;
    min-width: 1.8rem;
    min-height: 1.8rem;
    align-items: center;
    justify-content: center;
    cursor: row-resize;
  }
}

ol.sortable-list {
  > li.sortable-list-item {
    border-radius: $border-radius-md;
    border: 1px solid $c-border-dark;
  }
}
