{{!-- Required context:
viewModel: ListFooterViewModel
cssClass: String | undefined
--}}
<div class="flex flex-row flex-middle">
  {{!-- Collapse button --}}
  {{#if viewModel.isCollapsible}}
  <div class="flex flex-row flex-grow flex-center font-size-default">
    {{> buttonToggleVisibility viewModel=viewModel.vmToggleExpansion cssClass=(ifThenElse viewModel.isExpanded "flex-grow" "flex-grow hidden") }}
  </div>
  {{else}}
  {{!-- Spacer --}}
  <div class="flex-grow"></div>
  {{/if}}
  {{!-- Add button --}}
  {{#if viewModel.isEditable}}
  <div class="flex flex-row{{#if (eq viewModel.isExpanded false)}} hidden{{/if}}" 
    data-vis-group="{{viewModel._visGroupId}}">
    {{> buttonAdd viewModel=viewModel.vmAddItem }}
  </div>
  {{/if}}
</div>