{{!-- Required context:
viewModel: {SortableListViewModel}
cssClass: {String | undefined}
--}}
<section id="{{viewModel.id}}">
  <ol class="sortable-list unstyled-list alternating-rows{{#if cssClass}} {{cssClass}}{{/if}}">
    {{#each viewModel.itemViewModelGroups as |itemViewModelGroup key|}}
    <li id="{{itemViewModelGroup.id}}" class="sortable-list-item flex flex-row">
      {{!-- Sorting controls --}}
      <div class="component-list-item-order-controls{{#if (neq ../viewModel.isEditable true)}} hidden{{/if}}">
        {{> button viewModel=itemViewModelGroup.vmBtnMoveUp fill=false }}
        {{!-- TODO #116: Implement the grab handle --}}
        <div class="flex-grow"></div>
        {{!-- <a 
          class="grab-handle"
          >
          <i class="fas fa-grip-vertical"></i>
        </a> --}}
        {{> button viewModel=itemViewModelGroup.vmBtnMoveDown fill=false }}
      </div>
      {{!-- Content --}}
      {{#with ../viewModel.listItemTemplate as | template |}}
        {{> (template) viewModel=itemViewModelGroup.listItemViewModel cssClass="flex-grow" }}
      {{/with}}
    </li>
    {{/each}}
  </ol>
  {{!-- Add button --}}
  {{#if viewModel.hasAddButton}}
  <div class="flex flex-row flex-right{{#if (eq viewModel.isEditable false)}} hidden{{/if}}">
    {{> buttonAdd viewModel=viewModel.vmBtnAddItem }}
  </div>
  {{/if}}
</section>