{{!-- Required context:
viewModel: {SortableListViewModel}
cssClass: {String | undefined}
prominentItemStyling: {Boolean | undefined}
--}}
<ol class="sortable-list unstyled-list alternating-rows{{#if cssClass}} {{cssClass}}{{/if}}"
    id={{viewModel.id}}
  >
  {{#each viewModel.itemViewModelGroups as |itemViewModelGroup key|}}
  <li id="{{itemViewModelGroup.id}}" class="ambersteel-list-row sortable-list-item sheet-block flex flex-row{{#if ../prominentItemStyling}} heavy-border-t{{/if}}">
    <div class="component-list-item-order-controls{{#if (neq ../viewModel.isEditable true)}} hidden{{/if}}">
      {{> button viewModel=itemViewModelGroup.vmBtnMoveTop fill=false }}
      {{> button viewModel=itemViewModelGroup.vmBtnMoveUp fill=false }}
      {{!-- TODO #116: Implement the grab handle --}}
      <div class="flex-grow"></div>
      {{!-- <a 
        class="grab-handle"
        >
        <i class="fas fa-grip-vertical"></i>
      </a> --}}
      {{> button viewModel=itemViewModelGroup.vmBtnMoveDown fill=false }}
      {{> button viewModel=itemViewModelGroup.vmBtnMoveBottom fill=false }}
    </div>
    {{#with ../viewModel.listItemTemplate as | template |}}
      {{> (template) viewModel=itemViewModelGroup.listItemViewModel cssClass="flex-grow" }}
    {{/with}}
  </li>
  {{/each}}
  <li class="ambersteel-list-row ambersteel-list-footer{{#if (eq viewModel.isEditable false)}} hidden{{/if}}">
    <div class="fill flex flex-row flex-right">
      {{!-- Add button --}}
      <div>
        {{> buttonAdd viewModel=viewModel.vmBtnAddItem fill=true }}
      </div>
    </div>
  </li>
</ol>