{{!-- Requires parameters:
isEditable: {Boolean},
data: {Object} where Object = {
  data: {Object} where Object = {
    gmNotes: {String}
  }
}
--}}
<section class="fill">
  <div class="sheet-block fill">
    {{> inputComponent type="multi-line" name="gmNotes" propertyPath="data.data.gmNotes" cssClass="gm-notes" isEditable=isEditable }}
  </div>
</section>