{{!-- Requires parameters:
isEditable: {Boolean},
data: {Object} where Object = {
  data: {Object} where Object = {
    gmNotes: {String}
  }
}
--}}
<section class="fill">
  <div class="sheet-block fill">
    {{editor content=data.data.gmNotes target="data.gmNotes" button=true editable=isEditable owner=owner}}
  </div>
</section>