{{!-- Requires parameters:
viewModel: {GmNotesViewModel}
--}}
<section class="fill">
  <div class="sheet-block fill">
    {{editor content=viewModel.document.data.data.gmNotes target="data.gmNotes" button=true editable=viewModel.isEditable owner=viewModel.isOwner}}
  </div>
</section>