.component-button-toggle {
  background-color: $c-neutral-bg-medium;
  border: $c-border-input 1px solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  width: 44px;
  height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 3px;
  
  &.active {
    background-color: $c-themed-bg-light;
    justify-content: flex-end;

    &.disabled {
      background-color: $c-themed-bg-lighter;
      cursor: default;
    }
  }

  &.disabled {
    background: repeating-linear-gradient(45deg, rgba(0,0,0,0.20), transparent, rgba(0,0,0,0.20) 10px);
    background-color: $c-themed-bg-disabled;
    cursor: default;

    &:hover, &:active, &:focus {
      box-shadow: unset;
    }
  }
}

span.component-button-toggle-knob {
  background-color: $c-border-medium;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  display: flex;
  border: $c-border-input 1px solid;

  &.active {
    background-color: $c-dark;
  }

  &.disabled {
    cursor: default;
  }
}