{{!-- Parameters:
viewModel: {InjuryListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row flex-middle list-item-header">
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.injury.singular"}}{{/label}}
    </span>
    <div class="list-item-header-img">
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
    </div>
    <div class="flex-grow margin-r-md">
      {{> inputTextField viewModel=viewModel.vmTfName cssClass="list-item-header" }}
    </div>
    {{!-- State --}}
    <div>
      {{> inputRadioButtonGroup viewModel=viewModel.vmRbgState }}
    </div>
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
  </div>
  {{!-- Row 2 --}}
  <div class="flex flex-row">
    {{!-- Limit --}}
    <div class="flex flex-row">
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.injury.limit"}}{{/label}}
      </span>
      <span class="width-md">
        {{> inputNumberSpinner viewModel=viewModel.vmNsLimit }}
      </span>
    </div>
    {{!-- Spacer --}}
    <div class="width-xs"></div>
    {{!-- Time to heal --}}
    <div class="flex flex-row flex-grow">
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.character.health.timeToHeal"}}{{/label}}
      </span>
      <span class="width-min-xl flex-grow">
        {{> inputTextField viewModel=viewModel.vmTfTimeToHeal }}
      </span>
    </div>
  </div>
  {{!-- Row 3 --}}
  {{!-- Description --}}
  <div class="flex flex-row border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
</div>