{{!--
viewModel: BaseAttributeListItemViewModel
--}}
<div class="flex flex-row flex-grow flex-middle">
  {{!-- Attribute --}}
  {{#> labeledControl viewModel=viewModel.vmAttribute localizedIconToolTip=(localize "ambersteel.character.attribute.singular") iconClass="ico-related-attribute-solid" cssClass="flex-grow" }}
    {{> inputDropDown }}
  {{/labeledControl}}
</div>
