{{!-- Required context:
viewModel: {ButtonAddViewModel}
cssClass: {String | undefined}
fill: {Boolean | undefined}
--}}
{{#> button viewModel=viewModel fill=fill cssClass=cssClass}}
  {{#if viewModel.showLabel}}
    <span{{#if viewModel.showFancyFont}} class="fancy-font"{{/if}}>{{viewModel.localizedLabel}}</span>
  {{/if}}
  <div class="button light square flex flex-center">
    <i class="fas fa-plus"></i>
  </div>
{{/button}}