{{!-- Parameters:
viewModel: {IllnessListItemViewModel}
--}}
<div id="{{viewModel.id}}" class="flex flex-row flex-wrap margin-b-md auto-margin-h-md">
  {{!-- Quantity / Maximum Quantity --}}
  {{#with viewModel.quantityAndMaxTemplate as |template|}}
    {{> (template) viewModel=../viewModel.vmCompositeQuantity cssClass="sheet-block" }}
  {{/with}}
  {{!-- Quality --}}
  <div class="flex flex-row flex-middle auto-margin-h-sm sheet-block">
    <i id="{{viewModel.vmQualityIcon.id}}" class="ico dark ico-quality-solid"></i>
    {{> inputNumberSpinner viewModel=viewModel.vmQuality cssClass="width-md" }}
  </div>
  {{!-- Bulk --}}
  <div class="flex flex-row flex-middle auto-margin-h-sm sheet-block">
    <i id="{{viewModel.vmBulkIcon.id}}" class="ico dark ico-bulk-solid"></i>
    {{> inputNumberSpinner viewModel=viewModel.vmBulk cssClass="width-md" }}
  </div>
</div>
{{#if viewModel.isProperty}}
<div class="flex flex-row flex-grow flex-middle auto-margin-h sheet-block">
  {{!-- Location --}}
  {{#> labeledControl viewModel=viewModel.vmLocation localizedIconToolTip=(localize "system.character.asset.location.label") iconClass="ico-location-solid" cssClass="flex-grow" }}
    {{> inputTextField }}
  {{/labeledControl}}
</div>
{{/if}}
