{{!-- Required parameters:
type: {String} = "item"|"actor"|"item-property",
propertyPath: {String},
itemId: {String}
--}}
<span class="width-sm">
  <a class="ambersteel-{{type}}-to-chat pad-sm button flex flex-center"
    data-item-id="{{itemId}}"
    data-property="{{propertyPath}}"
    title="{{localize ambersteel.labels.sendToChat}}">
    <i class="fas fa-comments"></i>
  </a>
</span>