{{!-- Required parameters:
itemId: {String|undefined}
--}}
<span class="square-button-light">
  <a class="ambersteel-take-item pad-sm button flex flex-center"
    data-item-id="{{itemId}}"
    title="{{localize ambersteel.labels.takeToPerson}}">
    <i class="ambersteel-icon ico-take-item"></i>
  </a>
</span>