{{!-- Required parameters:
id: {String} - Id or name of the document whose sheet is to be opened OR 
    id of the document the item to open belongs to. 
itemId: {String|undefined} - Id or name of the document whose sheet is to be opened. 
--}}
<span class="square-button-light">
  <a class="ambersteel-open-sheet pad-sm button flex flex-center" 
    data-id="{{id}}"
    data-item-id="{{itemId}}"
    title="{{localize ambersteel.labels.openSheet}}">
    <i class="fas fa-external-link-alt"></i>
  </a>
</span>