{{!-- Required parameters:
itemId: {String|undefined}
propertyPath: {String|undefined}
--}}
<span class="square-button-light">
  <a class="ambersteel-delete pad-sm button flex flex-center"
    data-item-id="{{itemId}}"
    data-property-path="{{propertyPath}}"
    title="{{localize ambersteel.labels.delete}}"
    >
    <i class="fas fa-trash"></i>
  </a>
</span>