{{!-- Required parameters:
visGroup: {String}
cssClass: {String|undefined}
--}}
{{!-- 
When clicked, this will toggle the "hidden" class on ALL elements with the attribute 
data-vis-group="<visGroup>"
cssClass: {String | undefined}
--}}
<a class="ambersteel-toggle-visibility pad-sm fill button-full button flex flex-center {{cssClass}}"
  data-vis-group="{{visGroup}}"
  >
  {{> @partial-block }}
</a>