{{!-- Parameters:
text: {String|undefined}
for: {String|undefined}
cssClass: {undefined | String}
--}}
<label class="flex flex-middle height-fill{{#if cssClass}} {{cssClass}}{{/if}}{{#if viewModel.showFancyFont}} fancy-font{{/if}}" for="{{for}}">
  <div class="text-align-r width-fill pad-r-md">{{localize text}}</div>
</label>