<span class="spinner-container">
    {{> @partial-block }}
    <div class="spinner-button-container">
        <a class="button-spinner button-spinner-up" title="{{localize ambersteel.labels.increment}}">
            <i class="fas fa-caret-up"></i>
        </a>
        <a class="button-spinner button-spinner-down" title="{{localize ambersteel.labels.decrement}}">
            <i class="fas fa-caret-down"></i>
        </a>
    </div>
</span>