@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Black-Chancery";
  src: url("../font/BLKCHCRY.TTF") format("truetype");
}
/* Utilities */
.fancy-font {
  font-family: "Black-Chancery";
}

.primary-font {
  font-family: "Roboto", sans-serif;
}

.secondary-font {
  font-family: "Roboto", sans-serif;
}

.text-align-l {
  text-align: left;
}
.text-align-r {
  text-align: right;
}
.text-align-c {
  text-align: center;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

header.message-header span.flavor-text {
  margin-bottom: 12px;
}

.grid {
  display: grid;
  margin: 10px 0;
  padding: 0;
}

.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3col {
  display: grid;
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  display: grid;
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  display: grid;
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  display: grid;
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  display: grid;
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  display: grid;
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  display: grid;
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  display: grid;
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  display: grid;
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  display: grid;
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-gap-sm {
  gap: 3px;
}

.grid-gap-md {
  gap: 6px;
}

.grid-gap-lg {
  gap: 9px;
}

.grid-gap-xl {
  gap: 12px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex: 1;
}

.flex-shrink {
  flex: 0;
}

.flexlarge {
  flex: 2;
}

.flex-left {
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-justify {
  justify-content: space-between;
}

.flex-middle {
  align-items: center;
}

.dice-roll-chat-message-container .dice-rolls-container {
  overflow: hidden;
}
.dice-roll-chat-message-container .dice-number {
  font-size: 1rem;
  font-weight: bold;
}
.dice-roll-chat-message-container .dice-composition {
  color: #46453f;
  font-size: 0.8rem;
}

ol.dice-rolls {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li.die.d6.roll-obstacle {
  width: auto;
  padding: 0 3px;
  background-color: transparent;
  border-left: 2px solid rgba(129, 129, 129, 0.55);
  border-right: 2px solid rgba(129, 129, 129, 0.55);
}

.dice-rolls li.roll {
  position: relative;
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  font-size: 16px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 2px;
}
.dice-rolls li.roll.die-sm {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 15px;
}

li.roll.die.d6.roll-failure {
  color: #712625;
}

li.roll.die.d6.roll-success {
  color: #18520b;
}

.dice-result {
  font-size: 1.1rem;
  width: 100%;
  display: block;
  border-radius: 5px;
  text-align: center;
}
.dice-result.failure {
  background-color: rgba(130, 0, 0, 0.1803921569);
}
.dice-result.success {
  background-color: rgba(0, 130, 7, 0.1803921569);
}

.roll-damage-value {
  font-weight: bold;
  font-size: 1.2rem;
}

.roll-damage-value-total {
  font-weight: bold;
  font-size: 1.4rem;
}

.hidden {
  display: none !important;
}

.multiline {
  word-wrap: break-word;
}

.line-height {
  height: 26px;
  line-height: 1;
  font-size: 1rem;
}

.pad-xs {
  padding: 1px !important;
}
.pad-sm {
  padding: 2px !important;
}
.pad-md {
  padding: 5px !important;
}
.pad-lg {
  padding: 10px !important;
}
.pad-b-xs {
  padding-bottom: 1px !important;
}
.pad-b-sm {
  padding-bottom: 2px !important;
}
.pad-b-md {
  padding-bottom: 5px !important;
}
.pad-b-lg {
  padding-bottom: 10px !important;
}
.pad-t-xs {
  padding-top: 1px !important;
}
.pad-t-sm {
  padding-top: 2px !important;
}
.pad-t-md {
  padding-top: 5px !important;
}
.pad-t-lg {
  padding-top: 10px !important;
}
.pad-l-xs {
  padding-left: 1px !important;
}
.pad-l-sm {
  padding-left: 2px !important;
}
.pad-l-md {
  padding-left: 5px !important;
}
.pad-l-lg {
  padding-left: 10px !important;
}
.pad-r-xs {
  padding-right: 1px !important;
}
.pad-r-sm {
  padding-right: 2px !important;
}
.pad-r-md {
  padding-right: 5px !important;
}
.pad-r-lg {
  padding-right: 10px !important;
}

.fill {
  width: 100%;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
}

.width-fill {
  width: 100%;
  min-width: inherit;
}

.height-fill {
  height: 100%;
  min-height: inherit;
}

.width-xs {
  width: 20px;
}
.width-sm {
  width: 30px;
}
.width-md {
  width: 50px;
}
.width-lg {
  width: 60px;
}
.width-xl {
  width: 80px;
}
.width-xxl {
  width: 100px;
}

.width-min-xs {
  min-width: 20px;
}
.width-min-sm {
  min-width: 30px;
}
.width-min-md {
  min-width: 50px;
}
.width-min-lg {
  min-width: 60px;
}
.width-min-xl {
  min-width: 80px;
}
.width-min-xxl {
  min-width: 100px;
}

.width-max-xs {
  max-width: 20px;
}
.width-max-sm {
  max-width: 30px;
}
.width-max-md {
  max-width: 50px;
}
.width-max-lg {
  max-width: 60px;
}
.width-max-xl {
  max-width: 80px;
}
.width-max-xxl {
  max-width: 100px;
}

.margin-t-xs {
  margin-top: 1px;
}
.margin-t-sm {
  margin-top: 2px;
}
.margin-t-md {
  margin-top: 5px;
}
.margin-t-lg {
  margin-top: 10px;
}
.margin-b-xs {
  margin-bottom: 1px;
}
.margin-b-sm {
  margin-bottom: 2px;
}
.margin-b-md {
  margin-bottom: 5px;
}
.margin-b-lg {
  margin-bottom: 10px;
}
.margin-l-xs {
  margin-left: 1px;
}
.margin-l-sm {
  margin-left: 2px;
}
.margin-l-md {
  margin-left: 5px;
}
.margin-l-lg {
  margin-left: 10px;
}
.margin-r-xs {
  margin-right: 1px;
}
.margin-r-sm {
  margin-right: 2px;
}
.margin-r-md {
  margin-right: 5px;
}
.margin-r-lg {
  margin-right: 10px;
}

.scrollable-height-sm {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 26px;
  max-height: 150px;
}
.scrollable-height-md {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 26px;
  max-height: 250px;
}
.scrollable-height-lg {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 26px;
  max-height: 350px;
}

.font-size-xxs {
  font-size: 0.7rem;
}
.font-size-xs {
  font-size: 0.8rem;
}
.font-size-sm {
  font-size: 0.9rem;
}
.font-size-default {
  font-size: 1rem;
}
.font-size-lg {
  font-size: 1.2rem;
}
.font-size-xl {
  font-size: 1.4rem;
}
.font-size-xxl {
  font-size: 1.6rem;
}

.ambersteel-icon {
  filter: brightness(0);
}
.ambersteel-icon:hover {
  filter: brightness(0) drop-shadow(0 0 4px #FF0000);
}

.ico-take-item {
  background: url("/systems/ambersteel/presentation/image/take-item.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.ico-drop-item {
  background: url("/systems/ambersteel/presentation/image/hand-holding-box-down-solid.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.border-solid-r-sm {
  border-right-color: rgba(129, 129, 129, 0.55) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
}
.border-solid-r-md {
  border-right-color: rgba(129, 129, 129, 0.55) !important;
  border-right-style: solid !important;
  border-right-width: 2px !important;
}
.border-solid-r-lg {
  border-right-color: rgba(129, 129, 129, 0.55) !important;
  border-right-style: solid !important;
  border-right-width: 3px !important;
}
.border-solid-r-xl {
  border-right-color: rgba(129, 129, 129, 0.55) !important;
  border-right-style: solid !important;
  border-right-width: 4px !important;
}

.border-solid-l-sm {
  border-left-color: rgba(129, 129, 129, 0.55) !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
}
.border-solid-l-md {
  border-left-color: rgba(129, 129, 129, 0.55) !important;
  border-left-style: solid !important;
  border-left-width: 2px !important;
}
.border-solid-l-lg {
  border-left-color: rgba(129, 129, 129, 0.55) !important;
  border-left-style: solid !important;
  border-left-width: 3px !important;
}
.border-solid-l-xl {
  border-left-color: rgba(129, 129, 129, 0.55) !important;
  border-left-style: solid !important;
  border-left-width: 4px !important;
}

.border-solid-b-sm {
  border-bottom-color: rgba(129, 129, 129, 0.55) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}
.border-solid-b-md {
  border-bottom-color: rgba(129, 129, 129, 0.55) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 2px !important;
}
.border-solid-b-lg {
  border-bottom-color: rgba(129, 129, 129, 0.55) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3px !important;
}
.border-solid-b-xl {
  border-bottom-color: rgba(129, 129, 129, 0.55) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 4px !important;
}

.border-solid-t-sm {
  border-top-color: rgba(129, 129, 129, 0.55) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
}
.border-solid-t-md {
  border-top-color: rgba(129, 129, 129, 0.55) !important;
  border-top-style: solid !important;
  border-top-width: 2px !important;
}
.border-solid-t-lg {
  border-top-color: rgba(129, 129, 129, 0.55) !important;
  border-top-style: solid !important;
  border-top-width: 3px !important;
}
.border-solid-t-xl {
  border-top-color: rgba(129, 129, 129, 0.55) !important;
  border-top-style: solid !important;
  border-top-width: 4px !important;
}

hr {
  width: 80%;
  margin: 4px auto;
  border: solid 1px rgba(129, 129, 129, 0.55);
}

h4 {
  font-size: 1.1em;
  border-bottom: 1px solid var(--color-underline-header);
}

/* Components */
.ambersteel-asset-slot-header {
  border-bottom: 1px solid rgba(129, 129, 129, 0.55);
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2px;
  height: 2rem;
}

header.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
header.sheet-header img.profile-img {
  height: 100px;
  margin-right: 10px;
}
header.sheet-header .header-fields {
  flex: 1;
}

h1.header-name {
  padding: 0px;
  margin: 0;
  font-size: 1.8rem;
}
h1.header-name input.header-name {
  margin: 0;
}

nav#nav-sheet-tabs.sheet-tabs {
  height: 32px;
  min-height: 32px;
  margin: 0;
  padding: 0;
  flex: 0;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #b5b3a4;
  line-height: unset;
  background-color: rgba(0, 0, 0, 0.065);
}
nav#nav-sheet-tabs.sheet-tabs > a.item {
  margin: 0;
  padding: 4px 0 0 0;
}
nav#nav-sheet-tabs.sheet-tabs > a.item.active {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  padding: 2px 0 0 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.sheet-block {
  padding: 2px;
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.25) solid;
  background-color: rgba(0, 0, 0, 0.05);
}

.sheet-group-sidebar {
  border-right: rgba(129, 129, 129, 0.55) 3px solid;
}

.disabled a.custom-system-button {
  cursor: default;
  background-color: unset;
  color: black;
  opacity: 50%;
  text-shadow: unset;
}
.disabled a.custom-system-button:hover {
  filter: unset;
}
.disabled a.custom-system-button i.ambersteel-icon {
  filter: opacity(50);
}
.disabled a.custom-system-button i.ambersteel-icon:hover {
  filter: unset;
}

textarea, .textarea-auto-resize-sibling {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  resize: none;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 4px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #7a7971;
}
textarea.resize-vertical, .textarea-auto-resize-sibling.resize-vertical {
  resize: vertical;
}
textarea.resize-none, .textarea-auto-resize-sibling.resize-none {
  resize: none;
}
textarea.custom-system-edit, .textarea-auto-resize-sibling.custom-system-edit {
  border-color: #7a7971;
}

.custom-system-read-only {
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.07), transparent, rgba(0, 0, 0, 0.07) 10px);
  border-radius: 0.2rem;
  font-weight: bold;
  border: 1px solid #b5b3a4;
  color: #525252;
  min-height: 26px;
}

input[type=text].input-width-override {
  width: 100%;
}

.ambersteel-item-to-chat-margin-right {
  margin-right: 2%;
}

img.header-image {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 0.2rem;
  border: 1px solid #b5b3a4;
}

.inline-img {
  border: none;
  display: inline-block;
}

img.custom-icon-sm {
  border: #7a7971 1px solid;
  flex: none;
  width: 26px !important;
  height: 26px !important;
}
img.custom-icon-md {
  border: #7a7971 1px solid;
  flex: none;
  width: 64px !important;
  height: 64px !important;
}
img.custom-icon-lg {
  border: #7a7971 1px solid;
  flex: none;
  width: 100px !important;
  height: 100px !important;
}

.component-input-image {
  cursor: pointer;
}
.component-input-image.disabled {
  cursor: default;
}

.hint-card {
  background-color: #eddfb0;
  border: 1px solid #a89b70;
  border-radius: 4px;
  padding: 6px;
}
.hint-card-icon {
  font-size: 1.2rem;
  margin-right: 0.6rem;
}

.button-full {
  padding: 0;
  margin: 0;
  min-height: 26px;
  min-width: 26px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.55) solid;
  background-color: rgba(0, 0, 0, 0.08);
}

.square-button-light {
  width: 26px;
  height: 26px;
  max-width: 26px;
  max-height: 26px;
  font-size: 1rem;
}
.square-button-light > a.button {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.fill-button-light {
  width: 100%;
  height: 100%;
  display: block;
}
.fill-button-light > a.button {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-header > * {
  font-size: 14px;
  text-align: center;
}
.items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.items-list .item-name h3, .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.items-list .item:last-child {
  border-bottom: none;
}
.items-list .item .item-name {
  color: #191813;
}
.items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

div.item-description {
  height: 80%;
}
div.item-description textarea {
  height: 100%;
  resize: none;
  margin: 0px;
}

.fate-card {
  height: 300px;
  margin: 2px;
  border: 3px rgba(129, 129, 129, 0.55) solid;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
}
.fate-card-header {
  border-bottom: 1px solid rgba(129, 129, 129, 0.55);
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2px;
  height: 52px;
}
.fate-card-footer {
  border-top: 1px solid rgba(129, 129, 129, 0.55);
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2px;
  height: 26px;
}

.fate-item-body-container {
  height: 80%;
  background-color: rgba(0, 0, 0, 0.05);
}

.fate-card-item-description {
  height: 80%;
  overflow: hidden;
}
.fate-card-item-description > textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.fate-card-description {
  height: 75%;
  overflow: hidden;
}
.fate-card-description > textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

a.ambersteel-fate-card-add {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
a.ambersteel-fate-card-add i {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

span.fate-spinner-column-container {
  max-width: 60px;
}

.fate-card-actor-container {
  width: 190px;
}

div.message-content .fate-card-description {
  overflow-y: scroll;
}

.fate-card-fill {
  display: block;
  width: 100%;
  height: 100%;
}
.fate-card-fill > a {
  display: block;
  width: 100%;
  height: 100%;
}
.fate-card-fill > a > div.square-button-light {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  font-size: 1.6rem;
}

.ambersteel-modal {
  z-index: 99999 !important;
}
.ambersteel-modal .dialog-buttons {
  display: flex;
  flex-direction: row;
}
.ambersteel-modal.width-min-sm {
  min-width: 150px;
}
.ambersteel-modal.width-min-md {
  min-width: 200px;
}
.ambersteel-modal.width-min-lg {
  min-width: 250px;
}
.ambersteel-modal.width-min-xl {
  min-width: 300px;
}
.ambersteel-modal.width-min-xxl {
  min-width: 350px;
}
.ambersteel-modal.height-min-sm {
  min-height: 100px;
}
.ambersteel-modal.height-min-md {
  min-height: 150px;
}
.ambersteel-modal.height-min-lg {
  min-height: 200px;
}
.ambersteel-modal.height-min-xl {
  min-height: 250px;
}
.ambersteel-modal.height-min-xxl {
  min-height: 300px;
}

.ambersteel-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  position: absolute;
}

.attribute-column-roll {
  max-width: 30px;
  width: 30px;
  text-align: center;
}
.attribute-column-name {
  flex: 1;
}
.attribute-column-abbreviation {
  max-width: 80px;
  width: 80px;
}
.attribute-column-level {
  max-width: 50px;
  width: 50px;
}
.attribute-column-requirements {
  max-width: 80px;
  width: 80px;
  text-align: center;
}
.attribute-column-successes, .attribute-column-failures {
  max-width: 50px;
  width: 50px;
}

.attribute-table {
  margin: 0;
  border-top: none;
  border-bottom: 1px solid rgba(129, 129, 129, 0.85);
}
.attribute-table th {
  padding: 0 3px;
}

.skill-table th {
  padding: 0 3px;
}

.skill-column-name {
  flex: 1;
}
.skill-column-roll, .skill-column-delete, .skill-column-button {
  max-width: 30px;
  width: 30px;
  text-align: center;
}
.skill-column-attribute {
  max-width: 80px;
  width: 80px;
}
.skill-column-attribute > select {
  width: 100%;
}
.skill-column-level {
  max-width: 50px;
  width: 50px;
}
.skill-column-requirements {
  max-width: 80px;
  width: 80px;
  text-align: center;
}
.skill-column-successes, .skill-column-failures {
  max-width: 50px;
  width: 50px;
}

section.skill-ability-list {
  width: 100%;
  padding: 0 10px;
  margin: auto;
}

table.skill-ability-list {
  margin: 0;
  border: 0;
}
table.skill-ability-list .skill-ability-column-requirement {
  width: 50px;
}
table.skill-ability-list .skill-ability-column-cost {
  width: 50px;
}
table.skill-ability-list .skill-ability-column-button {
  max-width: 30px;
  width: 30px;
  text-align: center;
}

.header-row {
  min-height: 40px;
  height: 40px;
  font-size: 1.1rem;
}

span.spinner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 26px;
  align-items: center;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
}
span.spinner-container input {
  border: 0;
  background-color: transparent;
}

.spinner-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 26px;
}

a.button-spinner {
  height: 50%;
  padding: 0 2px;
}

.radio-button-group {
  border: 1px solid #7a7971;
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
}

.radio-button-container {
  background: rgba(0, 0, 0, 0.025);
}
.radio-button-container > input {
  display: none;
}
.radio-button-container > label {
  cursor: pointer;
  padding: 0 6px;
  border-right: 1px solid #7a7971;
  color: #676662;
  background: rgba(0, 0, 0, 0.05);
}
.radio-button-container > label.disabled {
  cursor: default;
}
.radio-button-container:last-child > label {
  border-right: none;
}
.radio-button-container.active > label {
  background: rgba(0, 0, 0, 0.01);
  text-shadow: 0 0 10px #d23d3d;
  color: rgb(25, 24, 19);
}
.radio-button-container img.radio-button-icon {
  display: block;
  max-height: 32px;
  max-width: 32px;
}

textarea.biography {
  height: 100%;
  resize: none;
  overflow-x: hidden;
}

textarea.gm-notes {
  height: 100%;
  resize: none;
  overflow-x: hidden;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
.unstyled-list.compact > li {
  display: inline-block;
}

.ambersteel-list-row {
  margin-top: 2px;
}
.ambersteel-list-row.ambersteel-list-footer {
  width: 100%;
  display: block;
  min-height: 26px;
  margin-top: unset;
}

.alternating-rows > :nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
.alternating-rows > :nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.08);
}

.ambersteel-expand-skill-ability-list-container {
  display: block;
  width: 100%;
  height: 23px;
}

a.ambersteel-expand-skill-ability-list {
  border-radius: 3px;
  border: 1px rgba(129, 129, 129, 0.25) solid;
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 1rem;
}

button.component-button-toggle {
  background-color: #b9b9b9;
  border: #7a7971 1px solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 24px;
  width: 50px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 3px;
}
button.component-button-toggle.active {
  background-color: rgba(224, 119, 28, 0.4901960784);
  justify-content: flex-end;
}
button.component-button-toggle.active.disabled {
  background-color: rgba(236, 129, 35, 0.4901960784);
  cursor: default;
}
button.component-button-toggle.disabled {
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), transparent, rgba(0, 0, 0, 0.2) 10px);
  background-color: #676662;
  cursor: default;
}

span.component-button-toggle-knob {
  background-color: rgba(129, 129, 129, 0.55);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  display: flex;
  border: #7a7971 1px solid;
}
span.component-button-toggle-knob.active {
  background-color: #191813;
}
span.component-button-toggle-knob.disabled {
  cursor: default;
}

.description-editor {
  min-height: 100px;
}
.description-editor .editor-content {
  min-height: 100px;
}

.component-rich-text {
  min-height: 100px;
}
.component-rich-text .editor-content {
  min-height: 100px;
}

.component-rich-text-editbutton {
  float: right;
  width: 32px;
  height: 32px;
}
.component-rich-text-editbutton a.button {
  font-size: 1.3em;
}

.component-rich-text-container {
  min-height: 4em;
}
.component-rich-text-container .tox.tox-tinymce {
  border-radius: 0;
}
.component-rich-text-container > div.tox.tox-tinymce > div.tox-editor-container > div.tox-editor-header {
  background-color: rgba(0, 0, 0, 0.1);
}
.component-rich-text-container > div.tox.tox-tinymce > div.tox-editor-container > div.tox-editor-header .tox-toolbar-overlord {
  background-color: transparent;
}
.component-rich-text-container > div.tox.tox-tinymce > div.tox-editor-container > div.tox-editor-header .tox-toolbar-overlord .tox-toolbar__primary {
  background-color: transparent;
}
.component-rich-text-container > div.tox.tox-tinymce > div.tox-editor-container > div.tox-editor-header .tox-toolbar-overlord .tox-toolbar__primary button.tox-tbtn--select {
  background-color: #d9d8c8;
}
.component-rich-text-container > div.tox.tox-tinymce > div.tox-editor-container > div.tox-editor-header .tox-toolbar-overlord .tox-toolbar__primary button.tox-tbtn--select:hover, .component-rich-text-container > div.tox.tox-tinymce > div.tox-editor-container > div.tox-editor-header .tox-toolbar-overlord .tox-toolbar__primary button.tox-tbtn--select:active {
  background-color: #f0f0e0;
}

div.tox-tiered-menu > div.tox-menu.tox-collection.tox-collection--list.tox-selected-menu {
  background-color: #d9d8c8;
}
div.tox-tiered-menu > div.tox-menu.tox-collection.tox-collection--list.tox-selected-menu > div.tox-collection__group > div.tox-collection__item--active {
  background-color: #f0f0e0;
}
div.tox-tiered-menu > div.tox-menu.tox-collection.tox-collection--list.tox-selected-menu > div.tox-collection__group > div.tox-collection__item--enabled {
  background-color: unset;
}
div.tox-tiered-menu > div.tox-menu.tox-collection.tox-collection--list.tox-selected-menu > div.tox-collection__group > div.tox-collection__item--active.tox-collection__item--enabled {
  background-color: #f0f0e0;
}

.component-list-item-order-controls {
  display: flex;
  flex-direction: column;
  width: 1.8rem;
  border-right: solid 1px #8d8d8d;
  margin-right: 0.5rem;
}
.component-list-item-order-controls > a.grab-handle {
  display: inline-flex;
  flex-grow: 1;
  min-width: 1.8rem;
  min-height: 1.8rem;
  align-items: center;
  justify-content: center;
  cursor: row-resize;
}

.info-bubble {
  position: absolute;
  display: inline-block;
  text-align: center;
  border-radius: 1.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-text-light-highlight);
  z-index: 6;
  padding: 0.25rem;
}

.info-button {
  width: 1.8rem;
  max-width: 1.8rem;
  height: 1.8rem;
  max-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ambersteel-shimmer {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 0.3rem;
  padding: 10% 10px;
  overflow: hidden;
}
.ambersteel-shimmer .line {
  width: 100%;
  height: 15%;
  padding: 0;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 0.2rem;
}

.animate-shimmer {
  width: 100%;
  height: 100%;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 80%);
  animation: shimmer 1500ms infinite linear;
}

@keyframes shimmer {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(150%);
  }
}
.component-input-textfield.minimal-input {
  border: none;
  border-bottom: 1px solid;
  border-radius: unset;
  background-color: transparent;
}
.component-input-textfield.minimal-input:focus, .component-input-textfield.minimal-input:active {
  box-shadow: unset;
}

.ambersteel-pill {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 2px 10px;
  text-align: center;
}

h1.ambersteel-header {
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
}

h2.ambersteel-header {
  font-size: 1.4rem;
}

h3.ambersteel-header {
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(129, 129, 129, 0.85);
}

label.ambersteel-label {
  font-size: 1rem;
}

/* Animations */
.spin {
  transform-origin: center;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 3rem;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=ambersteel.css.map */
