@font-face {
  font-family: 'STRIVE-Regular';
  src: url('../font/STRIVE-Regular.ttf') format('truetype');
}

/* Utilities */
@import 'utils/variables';
@import 'utils/colors';
@import 'utils/typography';

/* Global styles */
@import 'global/borders';
@import 'global/flex';
@import 'global/general';
@import 'global/grid';
@import 'global/headers';
@import 'global/icons';
@import 'global/image';
@import 'global/roll';
@import 'global/shadows';
@import 'global/sheet';

/* Specific component styles */
@import '../application/component/input-choice/input-dropdown/input-dropdown';
@import '../application/component/input-image/input-image';
@import '../application/component/input-number-spinner/input-number-spinner';
@import '../application/component/input-reference/input-reference';
@import '../application/component/input-rich-text/input-rich-text';
@import '../application/component/input-split-number-spinner/input-split-number-spinner';
@import '../application/component/input-textfield/input-textfield';
@import '../application/component/tooltip/tooltip';
@import '../application/component/button/button';
@import '../application/component/button-dropdown/button-dropdown';
@import '../util/drag-drop/drag-drop';

/* Animations */
@import 'anims/spinner';
@import 'anims/entrances-exits';

/* Dialogs */
@import '../application/dialog/modal-dialog/modal-dialog';

/* Overrides */
// Overrides of default or FoundryVTT introduced styles. 
@import 'global/overrides/code';
@import 'global/overrides/editor';
@import 'global/overrides/context-menu';

.strive {
  input[type=text],
  input[type=number],
  input[type=password],
  input[type=date],
  input[type=time],
  input[type=datetime-local],
  input[type=search],
  input[type=file],
  select {
    height: unset;
    line-height: unset;
    padding: unset;
    background: unset;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    outline: unset;
    user-select: text;
    transition: unset;
  }
}
