@font-face {
  font-family: 'STRIVE-Regular';
  src: url('../font/STRIVE-Regular.ttf') format('truetype');
}

/* Utilities */
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/variables';

/* Global styles */
@import 'global/borders';
@import 'global/flex';
@import 'global/general';
@import 'global/grid';
@import 'global/headers';
@import 'global/icons';
@import 'global/image';
@import 'global/roll';
@import 'global/shadows';
@import 'global/sheet';

/* Global and composable component styles */
// @import 'components/input';
// @import 'components/pill';
/* Specific component styles */
@import '../application/component/input-textfield/input-textfield';
@import '../application/component/input-choice/input-dropdown/input-dropdown';
@import '../application/component/input-rich-text/input-rich-text';

/* Animations */
@import 'anims/spinner';
@import 'anims/entrances-exits';

/* Overrides */
// Overrides of default or FoundryVTT introduced styles. 
@import 'global/overrides/code';
@import 'global/overrides/editor';
@import 'global/overrides/context-menu';

form.strive-regular-font h1.window-title {
  font-size: 16pt;
}

// Global override of root interface element. 
// body > div#interface {
//   width: 100%;
//   height: 100%;
// }
