{{!-- Parameters:
viewModel: {GmNotesViewModel}
cssClass: {undefined | String}
--}}
<section id="{{viewModel.id}}" class="fill{{#if cssClass}} {{cssClass}}{{/if}}">
  <div class="sheet-block fill">
    {{> inputRichText viewModel=viewModel.vmRtGmNotes }}
  </div>
</section>