{{!-- Parameters:
viewModel: {SkillAbilityListItemViewModel}
cssClass: {undefined | String}
--}}
<div class="custom-system-list-item{{#if cssClass}} {{cssClass}}{{/if}}">
  {{!-- Row 1 --}}
  <div class="flex flex-row">
    <div class="flex flex-grow">
      {{!-- Roll --}}
      {{> buttonRoll viewModel=viewModel.vmBtnRoll cssClass="" }}
      {{!-- Send to chat --}}
      {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat cssClass="" }}
      {{!-- Name --}}
      <span class="width-min-xl">
        {{#> label showFancyFont=viewModel.showFancyFont}}{{localize "ambersteel.general.name"}}{{/label}}
      </span>
      {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-sm" }}
      <h4 class="flex-grow margin-r-md">
        {{> inputTextField viewModel=viewModel.vmTfName }}
      </h4>
    </div>
    {{!-- Context Menu --}}
    {{> buttonContextMenu viewModel=viewModel.vmBtnContextMenu cssClass="" }}
    {{!-- Delete --}}
    {{> buttonDelete viewModel=viewModel.vmBtnDelete cssClass="" }}
  </div>
  {{!-- Row --}}
  <div class="flex flex-row flex-wrap margin-b-md auto-margin-h">
    <div class="flex flex-row flex-middle auto-margin-h sheet-block">
      {{!-- AP cost --}}
      {{#> labeledControl viewModel=viewModel.vmNsApCost localizedIconToolTip=(localize "ambersteel.actionPoint.plural") iconClass="ico-action-point-solid" cssClass="" }}
        <div class="width-sm">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
      {{!-- Required Level --}}
      {{#> labeledControl viewModel=viewModel.vmNsRequiredLevel localizedIconToolTip=(localize "ambersteel.character.skill.ability.requirement") iconClass="ico-level-solid" cssClass="" }}
        <div class="width-sm">
          {{> inputNumberSpinner }}
        </div>
      {{/labeledControl}}
    </div>
  </div>
  {{!-- Row --}}
  {{!-- Description --}}
  <div class="flex flex-column margin-b-md border-solid-t-sm border-solid-b-sm">
    {{> inputRichText viewModel=viewModel.vmRtDescription }}
  </div>
  {{!-- Row --}}
  <div class="grid-2col grid-gap-sm">
    {{!-- Lots of optional content here --}}
    {{!-- Obstacle --}}
    <div{{#if viewModel.hideObstacle}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmTfObstacle localizedIconToolTip=(localize "ambersteel.roll.obstacle.label") iconClass="ico-obstacle-solid" cssClass="flex-grow" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Opposed By --}}
    <div{{#if viewModel.hideOpposedBy}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmTfOpposedBy localizedIconToolTip=(localize "ambersteel.roll.obstacle.opposedBy.label") iconClass="ico-opposed-by-solid" cssClass="" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Condition --}}
    <div class="{{#if viewModel.hideCondition}} hidden{{/if}}">
      {{#> labeledControl viewModel=viewModel.vmCondition localizedIconToolTip=(localize "ambersteel.character.skill.ability.condition.label") iconClass="ico-condition-solid" cssClass="flex-grow" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Distance --}}
    <div{{#if viewModel.hideDistance}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmTfDistance localizedIconToolTip=(localize "ambersteel.character.skill.ability.distance.label") iconClass="ico-distance-solid" cssClass="" }}
        {{> inputTextField }}
      {{/labeledControl}}
    </div>
    {{!-- Attack type --}}
    <div{{#if viewModel.hideAttackType}} class="hidden"{{/if}}>
      {{#> labeledControl viewModel=viewModel.vmDdAttackType localizedIconToolTip=(localize "ambersteel.attackType.label") iconClass=viewModel.attackTypeIconClass cssClass="" }}
        {{> inputDropDown }}
      {{/labeledControl}}
    </div>
  </div>
  {{!-- Damage --}}
  <div class="flex flex-row sheet-block{{#if viewModel.hideDamage}} hidden{{/if}}">
    <div class="flex flex-center">
      <span class="button light square font-size-default flex flex-center" id="{{viewModel.id}}-damage-info">
        <i class="far fa-question-circle info-button"></i>
      </span>
    </div>
    {{> damageDefinitionList viewModel=viewModel.vmDamageDefinitionList}}
  </div>
</div>