{{!-- Parameters:
viewModel: {ItemChatMessageViewModel}
cssClass: {undefined | String}
--}}
<section class="custom-system-chat-message{{#if cssClass}} {{cssClass}}{{/if}}" 
  data-view-model-id="{{viewModel.id}}"
  data-document-id="{{viewModel.entityId}}"
>
  {{#with viewModel.layoutViewModel.template as |template|}}
    {{> (template) viewModel=../viewModel.layoutViewModel }}
  {{/with}}
</section>