$border-size-sm: 1px;
$border-size-md: 2px;
$border-size-lg: 3px;
$border-size-xl: 4px;

.border-solid-r {
  &-sm {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-sm !important;
  }
  &-md {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-md !important;
  }
  &-lg {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-lg !important;
  }
  &-xl {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-xl !important;
  }
}

.border-solid-l {
  &-sm {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-sm !important;
  }
  &-md {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-md !important;
  }
  &-lg {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-lg !important;
  }
  &-xl {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-xl !important;
  }
}

.border-solid-b {
  &-sm {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-sm !important;
  }
  &-md {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-md !important;
  }
  &-lg {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-lg !important;
  }
  &-xl {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-xl !important;
  }
}

.border-solid-t {
  &-sm {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-sm !important;
  }
  &-md {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-md !important;
  }
  &-lg {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-lg !important;
  }
  &-xl {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-xl !important;
  }
}

.border-l {
  &-sm {
    border-left: $border-size-sm solid $c-border-beige-light !important;
    &.dark {
      border-left: $border-size-sm solid $c-border-medium !important;
    }
  }
  &-md {
    border-left: $border-size-md solid $c-border-beige-light !important;
    &.dark {
      border-left: $border-size-md solid $c-border-medium !important;
    }
  }
}

.border-r {
  &-sm {
    border-right: $border-size-sm solid $c-border-beige-light !important;
    &.dark {
      border-right: $border-size-sm solid $c-border-medium !important;
    }
  }
  &-md {
    border-right: $border-size-md solid $c-border-beige-light !important;
    &.dark {
      border-right: $border-size-md solid $c-border-medium !important;
    }
  }
}

.border-t {
  &-sm {
    border-top: $border-size-sm solid $c-border-beige-light !important;
    &.dark {
      border-top: $border-size-sm solid $c-border-medium !important;
    }
  }
  &-md {
    border-top: $border-size-md solid $c-border-beige-light !important;
    &.dark {
      border-top: $border-size-md solid $c-border-medium !important;
    }
  }
}

.border-b {
  &-sm {
    border-bottom: $border-size-sm solid $c-border-beige-light !important;
    &.dark {
      border-bottom: $border-size-sm solid $c-border-medium !important;
    }
  }
  &-md {
    border-bottom: $border-size-md solid $c-border-beige-light !important;
    &.dark {
      border-bottom: $border-size-md solid $c-border-medium !important;
    }
  }
}

.auto-border {
  > *:not(:last-child) {
    border: 1px solid $c-border-beige-light;
    &.dark {
      border: 1px solid $c-border-medium;
    }
  }

  &-h {
    > *:not(:last-child) {
      border-left: 1px solid $c-border-beige-light;
      border-right: 1px solid $c-border-beige-light;
      &.dark {
        border-left: 1px solid $c-border-medium;
        border-right: 1px solid $c-border-medium;
      }
    }
  }

  &-l {
    > *:not(:first-child) {
      border-left: 1px solid $c-border-beige-light;
      &.dark {
        border-left: 1px solid $c-border-medium;
      }
    }
  }

  &-r {
    > *:not(:last-child) {
      border-right: 1px solid $c-border-beige-light;
      &.dark {
        border-right: 1px solid $c-border-medium;
      }
    }
  }
  
  &-v {
    > *:not(:last-child) {
      border-top: 1px solid $c-border-beige-light;
      border-bottom: 1px solid $c-border-beige-light;
      &.dark {
        border-top: 1px solid $c-border-medium;
        border-bottom: 1px solid $c-border-medium;
      }
    }
  }
  
  &-b {
    > *:not(:last-child) {
      border-bottom: 1px solid $c-border-beige-light;
      &.dark {
        border-bottom: 1px solid $c-border-medium;
      }
    }
  }
  &-t {
    > *:not(:first-child) {
      border-top: 1px solid $c-border-beige-light;
      &.dark {
        border-top: 1px solid $c-border-medium;
      }
    }
  }
}

hr {
  width: 80%;
  margin: 4px auto;
  border: solid 1px $c-border-medium;
}

.card {
  border-radius: 0.6rem;
  border: 1px solid $c-border-beige-light;
  &.dark {
    border: 1px solid $c-border-medium;
  }
}
