$border-size-sm: 1px;
$border-size-md: 2px;
$border-size-lg: 3px;
$border-size-xl: 4px;

@mixin directional-border-colorations($direction) {
  &.highlight {
    border-#{$direction}-color: $c-border-highlight !important;
    &.dark {
      border-#{$direction}-color: $c-border-highlight-dark !important;
    }
    &.light {
      border-#{$direction}-color: $c-border-highlight-light !important;
    }
  }
  &.dark {
    border-#{$direction}-color: $c-border-dark !important;
  }
  &.light {
    border-#{$direction}-color: $c-border-light !important;
  }
}

@mixin border-colorations() {
  &.highlight {
    border-color: $c-border-highlight !important;
    &.dark {
      border-color: $c-border-highlight-dark !important;
    }
    &.light {
      border-color: $c-border-highlight-light !important;
    }
  }
  &.dark {
    border-color: $c-border-dark !important;
  }
  &.light {
    border-color: $c-border-light !important;
  }
}

@mixin border-template($direction) {
  &-sm {
    border-#{$direction}: $border-size-sm solid $c-border-medium !important;
    @include directional-border-colorations($direction);
  }
  &-md {
    border-#{$direction}: $border-size-md solid $c-border-medium !important;
    @include directional-border-colorations($direction);
  }
  &-lg {
    border-#{$direction}: $border-size-lg solid $c-border-medium !important;
    @include directional-border-colorations($direction);
  }
  &-xl {
    border-#{$direction}: $border-size-xl solid $c-border-medium !important;
    @include directional-border-colorations($direction);
  }
}

.border {
  &-sm {
    border: $border-size-sm solid $c-border-medium !important;
    @include border-colorations();
  }
  &-md {
    border: $border-size-md solid $c-border-medium !important;
    @include border-colorations();
  }
  &-lg {
    border: $border-size-lg solid $c-border-medium !important;
    @include border-colorations();
  }
  &-xl {
    border: $border-size-xl solid $c-border-medium !important;
    @include border-colorations();
  }
}

.border-solid-v {
  @include border-template(top, solid, $c-border-medium);
  @include border-template(bottom, solid, $c-border-medium);
}

.border-solid-h {
  @include border-template(left, solid, $c-border-medium);
  @include border-template(right, solid, $c-border-medium);
}

.border-solid-t {
  @include border-template(top);
}

.border-solid-b {
  @include border-template(bottom);
}

.border-solid-r {
  @include border-template(right);
}

.border-solid-l {
  @include border-template(left, solid, $c-border-medium);
}

.border-double-v {
  @include border-template(top, double, $c-border-medium);
  @include border-template(bottom, double, $c-border-medium);
}

.border-double-h {
  @include border-template(left, double, $c-border-medium);
  @include border-template(right, double, $c-border-medium);
}

.border-double-t {
  @include border-template(top, double, $c-border-dark);
}

.border-double-b {
  @include border-template(bottom, double, $c-border-dark);
}

.border-double-r {
  @include border-template(right, double, $c-border-dark);
}

.border-double-l {
  @include border-template(left, double, $c-border-dark);
}

.auto-border {
  > *:not(:last-child) {
    border: 1px solid $c-border-beige-light;
    &.dark {
      border: 1px solid $c-border-medium;
    }
  }

  &-h {
    > *:not(:last-child) {
      border-left: 1px solid $c-border-beige-light;
      border-right: 1px solid $c-border-beige-light;
      &.dark {
        border-left: 1px solid $c-border-medium;
        border-right: 1px solid $c-border-medium;
      }
    }
  }

  &-l {
    > *:not(:first-child) {
      border-left: 1px solid $c-border-beige-light;
      &.dark {
        border-left: 1px solid $c-border-medium;
      }
    }
  }

  &-r {
    > *:not(:last-child) {
      border-right: 1px solid $c-border-beige-light;
      &.dark {
        border-right: 1px solid $c-border-medium;
      }
    }
  }
  
  &-v {
    > *:not(:last-child) {
      border-top: 1px solid $c-border-beige-light;
      border-bottom: 1px solid $c-border-beige-light;
      &.dark {
        border-top: 1px solid $c-border-medium;
        border-bottom: 1px solid $c-border-medium;
      }
    }
  }
  
  &-b {
    > *:not(:last-child) {
      border-bottom: 1px solid $c-border-beige-light;
      &.dark {
        border-bottom: 1px solid $c-border-medium;
      }
    }
  }
  &-t {
    > *:not(:first-child) {
      border-top: 1px solid $c-border-beige-light;
      &.dark {
        border-top: 1px solid $c-border-medium;
      }
    }
  }
}

hr {
  width: 80%;
  margin: 4px auto;
  border: solid 1px $c-border-medium;
}

$card-border-radius: 0.6rem;

.card {
  border-radius: $card-border-radius;
  border: 1px solid $c-border-beige-light;
  &.dark {
    border: 1px solid $c-border-medium;
  }

  .header {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
