$border-size-sm: 1px;
$border-size-md: 2px;

.border {
  &-t {
    &-sm {
      border-top-style: solid;
      border-top-width: $border-size-sm;
    }
    &-md {
      border-top-style: solid;
      border-top-width: $border-size-md;
    }
  }
  &-b {
    &-sm {
      border-bottom-style: solid;
      border-bottom-width: $border-size-sm;
    }
    &-md {
      border-bottom-style: solid;
      border-bottom-width: $border-size-md;
    }
  }
  &-r {
    &-sm {
      border-right-style: solid;
      border-right-width: $border-size-sm;
    }
    &-md {
      border-right-style: solid;
      border-right-width: $border-size-md;
    }
  }
  &-l {
    &-sm {
      border-left-style: solid;
      border-left-width: $border-size-sm;
    }
    &-md {
      border-left-style: solid;
      border-left-width: $border-size-md;
    }
  }
}

.light_mode {
  .border-t-sm, .border-t-md {
    border-top-color: $c-border-light;
  }
  .border-b-sm, .border-b-md {
    border-bottom-color: $c-border-light;
  }
  .border-r-sm, .border-r-md {
    border-right-color: $c-border-light;
  }
  .border-l-sm, .border-l-md {
    border-left-color: $c-border-light;
  }
}
.dark_mode {
  .border-t-sm, .border-t-md {
    border-top-color: $c-border-dark;
  }
  .border-b-sm, .border-b-md {
    border-bottom-color: $c-border-dark;
  }
  .border-l-sm, .border-l-md {
    border-left-color: $c-border-dark;
  }
  .border-r-sm, .border-r-md {
    border-right-color: $c-border-dark;
  }
}
