$border-size-sm: 1px;
$border-size-md: 2px;
$border-size-lg: 3px;
$border-size-xl: 4px;

.border-solid-r {
  &-sm {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-sm !important;
  }
  &-md {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-md !important;
  }
  &-lg {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-lg !important;
  }
  &-xl {
    border-right-color: $c-border-medium !important;
    border-right-style: solid !important;
    border-right-width: $border-size-xl !important;
  }
}

.border-solid-l {
  &-sm {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-sm !important;
  }
  &-md {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-md !important;
  }
  &-lg {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-lg !important;
  }
  &-xl {
    border-left-color: $c-border-medium !important;
    border-left-style: solid !important;
    border-left-width: $border-size-xl !important;
  }
}

.border-solid-b {
  &-sm {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-sm !important;
  }
  &-md {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-md !important;
  }
  &-lg {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-lg !important;
  }
  &-xl {
    border-bottom-color: $c-border-medium !important;
    border-bottom-style: solid !important;
    border-bottom-width: $border-size-xl !important;
  }
}

.border-solid-t {
  &-sm {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-sm !important;
  }
  &-md {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-md !important;
  }
  &-lg {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-lg !important;
  }
  &-xl {
    border-top-color: $c-border-medium !important;
    border-top-style: solid !important;
    border-top-width: $border-size-xl !important;
  }
}

hr {
  width: 80%;
  margin: 4px auto;
  border: solid 1px $c-border-medium;
}

.heavy-border-t {
  border-top-left-radius: $border-radius-md;
  border-top-right-radius: $border-radius-md;
  border-top-width: $border-radius-lg;
}
