.hidden {
  display: none !important;
}

.multiline {
  word-wrap: break-word;
}

.line-height {
  height: $line-height;
  line-height: 1;
  font-size: $font-size-default;
}

// Padding styles
.pad {
  &-xs {
    padding: $padding-xs !important;
  }
  &-sm {
    padding: $padding-sm !important;
  }
  &-md {
    padding: $padding-md !important;
  }
  &-lg {
    padding: $padding-lg !important;
  }
  &-xl {
    padding: $padding-xl !important;
  }

  &-b {
    &-xs {
      padding-bottom: $padding-xs !important;
    }
    &-sm {
      padding-bottom: $padding-sm !important;
    }
    &-md {
      padding-bottom: $padding-md !important;
    }
    &-lg {
      padding-bottom: $padding-lg !important;
    }
    &-xl {
      padding-bottom: $padding-xl !important;
    }
  }
  &-t {
    &-xs {
      padding-top: $padding-xs !important;
    }
    &-sm {
      padding-top: $padding-sm !important;
    }
    &-md {
      padding-top: $padding-md !important;
    }
    &-lg {
      padding-top: $padding-lg !important;
    }
    &-xl {
      padding-top: $padding-xl !important;
    }
  }
  &-l {
    &-xs {
      padding-left: $padding-xs !important;
    }
    &-sm {
      padding-left: $padding-sm !important;
    }
    &-md {
      padding-left: $padding-md !important;
    }
    &-lg {
      padding-left: $padding-lg !important;
    }
    &-xl {
      padding-left: $padding-xl !important;
    }
  }
  &-r {
    &-xs {
      padding-right: $padding-xs !important;
    }
    &-sm {
      padding-right: $padding-sm !important;
    }
    &-md {
      padding-right: $padding-md !important;
    }
    &-lg {
      padding-right: $padding-lg !important;
    }
    &-xl {
      padding-right: $padding-xl !important;
    }
  }
}

// General sizing
.fill {
  width: 100%;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
}

.width-fill {
  width: 100%;
  min-width: inherit;
}

.height-fill {
  height: 100%;
  min-height: inherit;
}

// Specific widths
.width {
  &-xs {
    width: $width-column-xs;
  }
  &-sm {
    width: $width-column-sm;
  }
  &-md {
    width: $width-column-md;
  }
  &-lg {
    width: $width-column-lg;
  }
  &-xl {
    width: $width-column-xl;
  }
  &-xxl {
    width: $width-column-xxl;
  }
}

// Minimum widths
.width-min {
  &-xs {
    min-width: $width-column-xs;
  }
  &-sm {
    min-width: $width-column-sm;
  }
  &-md {
    min-width: $width-column-md;
  }
  &-lg {
    min-width: $width-column-lg;
  }
  &-xl {
    min-width: $width-column-xl;
  }
  &-xxl {
    min-width: $width-column-xxl;
  }
}

// Maximum widths
.width-max {
  &-xs {
    max-width: $width-column-xs;
  }
  &-sm {
    max-width: $width-column-sm;
  }
  &-md {
    max-width: $width-column-md;
  }
  &-lg {
    max-width: $width-column-lg;
  }
  &-xl {
    max-width: $width-column-xl;
  }
  &-xxl {
    max-width: $width-column-xxl;
  }
}

// Margins
.margin {
  &-t {
    &-xs {
      margin-top: $padding-xs;
    }
    &-sm {
      margin-top: $padding-sm;
    }
    &-md {
      margin-top: $padding-md;
    }
    &-lg {
      margin-top: $padding-lg;
    }
  }
  &-b {
    &-xs {
      margin-bottom: $padding-xs;
    }
    &-sm {
      margin-bottom: $padding-sm;
    }
    &-md {
      margin-bottom: $padding-md;
    }
    &-lg {
      margin-bottom: $padding-lg;
    }
  }
  &-l {
    &-xs {
      margin-left: $padding-xs;
    }
    &-sm {
      margin-left: $padding-sm;
    }
    &-md {
      margin-left: $padding-md;
    }
    &-lg {
      margin-left: $padding-lg;
    }
  }
  &-r {
    &-xs {
      margin-right: $padding-xs;
    }
    &-sm {
      margin-right: $padding-sm;
    }
    &-md {
      margin-right: $padding-md;
    }
    &-lg {
      margin-right: $padding-lg;
    }
  }
}

.scrollable-height {
  &-sm {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: $line-height;
    max-height: 150px;
  }
  &-md {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: $line-height;
    max-height: 250px;
  }
  &-lg {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: $line-height;
    max-height: 350px;
  }
}

// Font sizes
.font-size {
  &-xxs {
    font-size: $font-size-xxs;
  }
  &-xs {
    font-size: $font-size-xs;
  }
  &-sm {
    font-size: $font-size-sm;
  }
  &-default {
    font-size: $font-size-default;
  }
  &-lg {
    font-size: $font-size-lg;
  }
  &-xl {
    font-size: $font-size-xl;
  }
  &-xxl {
    font-size: $font-size-xxl;
  }
}

// Font weight
.font-bold {
  font-weight: bold;
}
