.hidden {
  display: none !important;
}

.multiline {
  word-wrap: break-word;
}

.v-divider {
  width: 1px;
  height: stretch;
  padding-right: 1px; // Ensures symmetry on the right side.
}

.h-divider {
  width: stretch;
  height: 1px;
  margin: 5px 0;
  padding-bottom: 1px; // Ensures symmetry below.
  display: block;

  &-full {
    width: stretch;
    height: 1px;
    margin: 0;
    padding-bottom: 1px; // Ensures symmetry below.
  }
}

.strive {
  .input {
    border-radius: unset;

    .edit-mode {
      height: $input-size-md;
      line-height: $input-size-md;
      font-size: $font-size-md;
    }

    .read-mode {
      height: $input-size-md;
      line-height: $input-size-md;
      font-size: $font-size-md;
      border: unset;
    }

    &.flex-grow {
      .edit-mode {
        flex: 1;
      }
      .read-mode {
        flex: 1;
      }
    }

    &.lg {
      .edit-mode {
        height: $input-size-lg;
        line-height: $input-size-lg;
        font-size: $font-size-lg;
      }

      .read-mode {
        height: $input-size-lg;
        line-height: $input-size-lg;
        font-size: $font-size-lg;
      }
    }
  }
}

.theme-dark {

  .v-divider,
  .h-divider,
  .h-divider-full {
    background-color: $c-border-dark-secondary;
  }

  .gm-only {
    background-color: $c-bg-gm-dark;
    border-top: 1px solid $c-border-dark-secondary;
  }

  .strive {
    .input {
      .edit-mode {
        background-color: $c-bg-input-dark;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-bottom-color: $c-border-dark;
        color: $c-text-dark;

        &:hover,
        &:focus,
        &:focus-within {
          background-color: $c-bg-input-focus-dark;
          border-top: unset;
          border-left: unset;
          border-right: unset;
          border-bottom: 1px solid $c-border-highlight-dark;
          outline: unset;
          box-shadow: none;
        }
      }
    }
  }
}

.theme-light {

  .v-divider,
  .h-divider,
  .h-divider-full {
    background-color: $c-border-light-secondary;
  }

  .gm-only {
    background-color: $c-bg-gm-light;
    border-top: 1px solid $c-border-light-secondary;
  }

  .strive {
    .input {
      .edit-mode {
        background-color: $c-bg-input-light;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-top: unset;
        border-left: unset;
        border-right: unset;
        border-bottom-color: $c-border-light;
        color: $c-text-light;

        &:hover,
        &:focus,
        &:focus-within {
          background-color: $c-bg-input-focus-light;
          border-top: unset;
          border-left: unset;
          border-right: unset;
          border-bottom: 1px solid $c-border-highlight-light;
          outline: unset;
          box-shadow: none;
        }
      }
    }
  }
}

.strive.sheet-section {
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin padding-template($padding) {
  &-xs {
    #{$padding}: $padding-xs !important;
  }

  &-sm {
    #{$padding}: $padding-sm !important;
  }

  &-md {
    #{$padding}: $padding-md !important;
  }

  &-lg {
    #{$padding}: $padding-lg !important;
  }

  &-xl {
    #{$padding}: $padding-xl !important;
  }
};

// Padding styles
.pad {
  @include padding-template(padding);

  &-h {
    @include padding-template(padding-left);
    @include padding-template(padding-right);
  }

  &-v {
    @include padding-template(padding-top);
    @include padding-template(padding-bottom);
  }
  
  &-b {
    @include padding-template(padding-bottom);
  }
  
  &-t {
    @include padding-template(padding-top);
  }
  
  &-l {
    @include padding-template(padding-left);
  }
  
  &-r {
    @include padding-template(padding-right);
  }
}

// General sizing
.fill {
  width: 100%;
  height: 100%;
  min-width: inherit;
  min-height: inherit;
}

.width-fill {
  width: 100%;
  min-width: inherit;
}

.width {
  &-sm {
    width: 3rem;
    max-width: 3rem;
  }
  &-md {
    width: 4rem;
    max-width: 4rem;
  }
  &-lg {
    width: 6rem;
    max-width: 6rem;
  }
}

.height-fill {
  height: 100%;
  min-height: inherit;
}

// Margins
.margin {
  &-t {
    &-xs {
      margin-top: $padding-xs;
    }

    &-sm {
      margin-top: $padding-sm;
    }

    &-md {
      margin-top: $padding-md;
    }

    &-lg {
      margin-top: $padding-lg;
    }

    &-xl {
      margin-top: $padding-xl;
    }
  }

  &-b {
    &-xs {
      margin-bottom: $padding-xs;
    }

    &-sm {
      margin-bottom: $padding-sm;
    }

    &-md {
      margin-bottom: $padding-md;
    }

    &-lg {
      margin-bottom: $padding-lg;
    }

    &-xl {
      margin-bottom: $padding-xl;
    }
  }

  &-l {
    &-xs {
      margin-left: $padding-xs;
    }

    &-sm {
      margin-left: $padding-sm;
    }

    &-md {
      margin-left: $padding-md;
    }

    &-lg {
      margin-left: $padding-lg;
    }

    &-xl {
      margin-left: $padding-xl;
    }
  }

  &-r {
    &-xs {
      margin-right: $padding-xs;
    }

    &-sm {
      margin-right: $padding-sm;
    }

    &-md {
      margin-right: $padding-md;
    }

    &-lg {
      margin-right: $padding-lg;
    }

    &-xl {
      margin-right: $padding-xl;
    }
  }
}

.auto-margin {
  >*:not(:last-child) {
    margin-right: $padding-md;
    margin-bottom: $padding-md;
  }

  &-h {
    >*:not(:last-child) {
      margin-right: $padding-md;
    }

    &-xs {
      >*:not(:last-child) {
        margin-right: $padding-xs;
      }
    }

    &-sm {
      >*:not(:last-child) {
        margin-right: $padding-sm;
      }
    }

    &-md {
      >*:not(:last-child) {
        margin-right: $padding-md;
      }
    }

    &-lg {
      >*:not(:last-child) {
        margin-right: $padding-lg;
      }
    }

    &-xl {
      >*:not(:last-child) {
        margin-right: $padding-xl;
      }
    }
  }

  &-v {
    >*:not(:last-child) {
      margin-bottom: $padding-md;
    }

    &-xs {
      >*:not(:last-child) {
        margin-bottom: $padding-xs;
      }
    }

    &-sm {
      >*:not(:last-child) {
        margin-bottom: $padding-sm;
      }
    }

    &-md {
      >*:not(:last-child) {
        margin-bottom: $padding-md;
      }
    }

    &-lg {
      >*:not(:last-child) {
        margin-bottom: $padding-lg;
      }
    }

    &-xl {
      >*:not(:last-child) {
        margin-bottom: $padding-xl;
      }
    }
  }
}

.scrollable-height {
  &-sm {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: $font-size-md;
    max-height: 150px;
  }

  &-md {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: $font-size-md;
    max-height: 250px;
  }

  &-lg {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: $font-size-md;
    max-height: 350px;
  }
}

// Relative arrangements

.strive-stackable {
  position: relative;
}

.strive-stacked {
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 0.5rem;
  padding: 1px;
  border-radius: 4px;
}