@import './borders';

$grid-border-thickness: 1px;

// Grid.
@mixin grid-columns-template($columnCount) {
  // grid-column: span $columnCount / span $columnCount;
  grid-template-columns: repeat($columnCount, minmax(0, 1fr));
}

// The following sorcery was partially pilfered from: https://geary.co/internal-borders-css-grid/
@mixin grid-borders($gap) {
  .grid-item {
    position: relative;
  }

  &.border-between-rows {
    .grid-item::after {
      content: '';
      position: absolute;
      z-index: 1;

      inline-size: 100vw;
      block-size: $grid-border-thickness;
      inset-inline-start: -50vw;
      inset-block-start: calc(100% + (($gap - $grid-border-thickness) / 2))
    }
  }
  
  &.border-between-cols {
    .grid-item::before {
      content: '';
      position: absolute;
      z-index: 1;

      inline-size: $grid-border-thickness;
      block-size: 100vh;
      inset-block-start: -50vh;
      inset-inline-start: calc(100% + (($gap - $grid-border-thickness) / 2))
    }
  }
}

.grid {
  display: grid;
  overflow: hidden;

  &.col2 {
    @include grid-columns-template(2);
  }
  &.col3 {
    @include grid-columns-template(3);
  }
  &.col4 {
    @include grid-columns-template(4);
  }
  &.col5 {
    @include grid-columns-template(5);
  }
  &.col6 {
    @include grid-columns-template(6);
  }
  &.col7 {
    @include grid-columns-template(7);
  }

  &.gap {
    &-xs {
      gap: $padding-xs;
      @include grid-borders($padding-xs);
    }
    &-sm {
      gap: $padding-sm;
      @include grid-borders($padding-sm);
    }
    &-md {
      gap: $padding-md;
      @include grid-borders($padding-md);
    }
    &-lg {
      gap: $padding-lg;
      @include grid-borders($padding-lg);
    }
    &-xl {
      gap: $padding-xl;
      @include grid-borders($padding-xl);
    }
  }
}

.grid-span-2 { grid-column-end: span 2 }
.grid-span-3 { grid-column-end: span 3 }
.grid-span-4 { grid-column-end: span 4 }
.grid-span-5 { grid-column-end: span 5 }
.grid-span-6 { grid-column-end: span 6 }
.grid-span-7 { grid-column-end: span 7 }
.grid-span-8 { grid-column-end: span 8 }
.grid-span-9 { grid-column-end: span 9 }
.grid-span-10 { grid-column-end: span 10 }
.grid-span-11 { grid-column-end: span 11 }
.grid-span-12 { grid-column-end: span 12 }

.theme-dark {
  .grid-item {
    &::after,
    &::before {
      background-color: $c-border-dark-secondary;
    }
  }
}
.theme-light {
  .grid-item {
    &::after,
    &::before {
      background-color: $c-border-light-secondary;
    }
  }
}
