@import './borders';

// The following sorcery was partially pilfered from: https://geary.co/internal-borders-css-grid/

// Grid.
@mixin grid-columns-template($columnCount) {
  grid-column: span $columnCount / span $columnCount;
  grid-template-columns: repeat($columnCount, minmax(0, 1fr));
}

@mixin grid-borders($gap, $borderThickness) {
  &.borders {
    $line-offset: calc($gap / 2);
    > * {
      position: relative;
    }
    > {
      ::before,
      ::after {
        content: '';
        position: absolute;
        z-index: 1;
      }
  
      // Row Borders
      ::after {
        inline-size: 100vw;
        block-size: $borderThickness;
        inset-inline-start: 0;
        inset-block-start: calc($line-offset * -1);
      }
  
      // Column Borders
      ::before {
        inline-size: $borderThickness;
        block-size: 100vh;
        inset-inline-start: calc($line-offset * -1);
      }
    }
    &.dark {
      ::before,
      ::after {
        background-color: $c-border-dark;
      }
      &.highlight {
        ::before,
        ::after {
          background-color: $c-border-highlight-dark;
        }
      }
    }
    &.light {
      ::before,
      ::after {
        background-color: $c-border-light;
      }
      &.highlight {
        ::before,
        ::after {
          background-color: $c-border-highlight-light;
        }
      }
    }
  }
}

.grid {
  display: grid;
  overflow: hidden;

  &.col2 {
    @include grid-columns-template(2);
  }
  &.col3 {
    @include grid-columns-template(3);
  }
  &.col4 {
    @include grid-columns-template(4);
  }
  &.col5 {
    @include grid-columns-template(5);
  }
  &.col6 {
    @include grid-columns-template(6);
  }
  &.col7 {
    @include grid-columns-template(7);
  }

  &.gap {
    &-xs {
      gap: $padding-xs;
      @include grid-borders($padding-xs, 2px);
    }
    &-sm {
      gap: $padding-sm;
      @include grid-borders($padding-sm, 2px);
    }
    &-md {
      gap: $padding-md;
      @include grid-borders($padding-md, 2px);
    }
    &-lg {
      gap: $padding-lg;
      @include grid-borders($padding-lg, 2px);
    }
    &-xl {
      gap: $padding-xl;
      @include grid-borders($padding-xl, 2px);
    }
  }
}

.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3col {
  display: grid;
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-6col {
  display: grid;
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  display: grid;
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-span-2 { grid-column-end: span 2 }
.grid-span-3 { grid-column-end: span 3 }
.grid-span-4 { grid-column-end: span 4 }
.grid-span-5 { grid-column-end: span 5 }
.grid-span-6 { grid-column-end: span 6 }
.grid-span-7 { grid-column-end: span 7 }
.grid-span-8 { grid-column-end: span 8 }
.grid-span-9 { grid-column-end: span 9 }
.grid-span-10 { grid-column-end: span 10 }
.grid-span-11 { grid-column-end: span 11 }
.grid-span-12 { grid-column-end: span 12 }

.grid-gap-xs { gap: $padding-xs; }
.grid-gap-sm { gap: $padding-sm; }
.grid-gap-md { gap: $padding-md; }
.grid-gap-lg { gap: $padding-lg; }
.grid-gap-xl { gap: $padding-xl; }
