.ico {
  aspect-ratio: 1/1;
  background-size: cover;
  display: inline-block;
}

.icon-with-centered-label {
  position: relative;
  text-align: center;

  i.icon-with-centered-label-image,
  img.icon-with-centered-label-image {
    display: block;
  }

  .icon-with-centered-label-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@function getTheme($isDark) {
  @if $isDark == true {
    @return "dark";
  } @else {
    @return "light";
  }
}

@mixin icon-template-24($urlPartial, $isDark) {
  $theme: getTheme($isDark);
  &.x24 {
    background-image: url($urlPartial + "-24-" + $theme + ".svg");
    font-size: 24px;
    height: 24px;
  }
}

@mixin icon-template-32($urlPartial, $isDark) {
  $theme: getTheme($isDark);
  &.x32 {
    background-image: url($urlPartial + "-32-" + $theme + ".svg");
    font-size: 32px;
    height: 32px;
  }
}

// Specific light-mode icons -> use dark variants!
.theme-light {
  i.ico-arrow-right {
    @include icon-template-24("/systems/strive/presentation/image/arrow-right", true);
  }
  i.ico-cannot-read {
    @include icon-template-24("/systems/strive/presentation/image/cannot-read", true);
  }
  i.ico-can-read {
    @include icon-template-24("/systems/strive/presentation/image/can-read", true);
  }
  i.ico-chain-link {
    @include icon-template-24("/systems/strive/presentation/image/chain-link", true);
  }
  i.ico-chain-link-broken {
    @include icon-template-24("/systems/strive/presentation/image/chain-link-broken", true);
  }
  i.ico-edit {
    @include icon-template-24("/systems/strive/presentation/image/edit", true);
  }
  i.ico-floppy {
    @include icon-template-24("/systems/strive/presentation/image/floppy", true);
  }
  i.ico-healing-progress {
    @include icon-template-24("/systems/strive/presentation/image/healing-progress", true);
  }
  i.ico-illness-state-active {
    @include icon-template-24("/systems/strive/presentation/image/illness-state-active", true);
  }
  i.ico-illness-state-treated {
    @include icon-template-24("/systems/strive/presentation/image/illness-state-treated", true);
  }
  i.ico-injury-state-active {
    @include icon-template-24("/systems/strive/presentation/image/injury-state-active", true);
  }
  i.ico-injury-state-treated {
    @include icon-template-24("/systems/strive/presentation/image/injury-state-treated", true);
  }
  i.ico-obstacle {
    @include icon-template-24("/systems/strive/presentation/image/obstacle", true);
  }
  i.ico-pushes {
    @include icon-template-24("/systems/strive/presentation/image/pushes", true);
  }
  i.ico-quality {
    @include icon-template-24("/systems/strive/presentation/image/quality", true);
  }
  i.ico-quantity {
    @include icon-template-24("/systems/strive/presentation/image/quantity", true);
  }
  i.ico-skill {
    @include icon-template-24("/systems/strive/presentation/image/skill", true);
  }
  i.ico-speech-bubble {
    @include icon-template-24("/systems/strive/presentation/image/speech-bubble", true);
  }
  i.ico-treatment-supplies {
    @include icon-template-24("/systems/strive/presentation/image/treatment-supplies", true);
  }
  i.ico-treatment-date {
    @include icon-template-24("/systems/strive/presentation/image/treatment-date", true);
  }
  i.ico-triangle-down {
    @include icon-template-24("/systems/strive/presentation/image/triangle-down", true);
  }
}

// Specific dark-mode icons -> use light variants!
.theme-dark {
  i.ico-arrow-right {
    @include icon-template-24("/systems/strive/presentation/image/arrow-right", false);
  }
  i.ico-cannot-read {
    @include icon-template-24("/systems/strive/presentation/image/cannot-read", false);
  }
  i.ico-can-read {
    @include icon-template-24("/systems/strive/presentation/image/can-read", false);
  }
  i.ico-chain-link {
    @include icon-template-24("/systems/strive/presentation/image/chain-link", false);
  }
  i.ico-chain-link-broken {
    @include icon-template-24("/systems/strive/presentation/image/chain-link-broken", false);
  }
  i.ico-edit {
    @include icon-template-24("/systems/strive/presentation/image/edit", false);
  }
  i.ico-floppy {
    @include icon-template-24("/systems/strive/presentation/image/floppy", false);
  }
  i.ico-healing-progress {
    @include icon-template-24("/systems/strive/presentation/image/healing-progress", false);
  }
  i.ico-illness-state-active {
    @include icon-template-24("/systems/strive/presentation/image/illness-state-active", false);
  }
  i.ico-illness-state-treated {
    @include icon-template-24("/systems/strive/presentation/image/illness-state-treated", false);
  }
  i.ico-injury-state-active {
    @include icon-template-24("/systems/strive/presentation/image/injury-state-active", false);
  }
  i.ico-injury-state-treated {
    @include icon-template-24("/systems/strive/presentation/image/injury-state-treated", false);
  }
  i.ico-obstacle {
    @include icon-template-24("/systems/strive/presentation/image/obstacle", false);
  }
  i.ico-pushes {
    @include icon-template-24("/systems/strive/presentation/image/pushes", false);
  }
  i.ico-quality {
    @include icon-template-24("/systems/strive/presentation/image/quality", false);
  }
  i.ico-quantity {
    @include icon-template-24("/systems/strive/presentation/image/quantity", false);
  }
  i.ico-skill {
    @include icon-template-24("/systems/strive/presentation/image/skill", false);
  }
  i.ico-speech-bubble {
    @include icon-template-24("/systems/strive/presentation/image/speech-bubble", false);
  }
  i.ico-treatment-supplies {
    @include icon-template-24("/systems/strive/presentation/image/treatment-supplies", false);
  }
  i.ico-treatment-date {
    @include icon-template-24("/systems/strive/presentation/image/treatment-date", false);
  }
  i.ico-triangle-down {
    @include icon-template-24("/systems/strive/presentation/image/triangle-down", false);
  }
}
