$size-sm: 26px;
$size-md: 48px;
$size-lg: 64px;
$size-xl: 100px;

// The following ensures theming is works for images. To make it work, use the "themedImage" Handlebars mixin. 
body {
  &.theme-dark {
    img.light-mode, i.light-mode {
      display: none;
    }
  }

  &.theme-light {
    img.dark-mode, i.dark-mode {
      display: none;
    }
  }
}

.theme-dark {
  img.strive.themed.dark {
    display: none;
  }
}

.theme-light {
  img.strive.themed.light {
    display: none;
  }
}
