$die-mini-size: 1.1em;
$c-hit: #18520b;
$c-hit-muted: #5b7455;
$c-miss: #712625;
$c-miss-muted: #7b5655;
$c-ob-muted: #666666;

.dice-roll-chat-message-container {
  .dice-rolls-container {
    overflow: hidden;

    &.mini {
      li.roll.die {
        width: $die-mini-size;
        height: $die-mini-size;
        line-height: $die-mini-size;
        font-size: $die-mini-size;

        &.roll-success {
          color: $c-hit-muted;
        }
        &.roll-failure {
          color: $c-miss-muted;
        }
      }

      li.roll-obstacle {
        height: $die-mini-size;
        line-height: $die-mini-size;
        font-size: $die-mini-size;
        color: $c-ob-muted;
      }
    }
  }
  .dice-number {
    font-size: $font-size-default;
    font-weight: bold;
  }
  .dice-composition {
    color: $c-text-lighter;
    font-size: $font-size-xs;
  }
}

ol.dice-rolls {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li.roll-obstacle {
  width: auto;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  margin: 2px;
  background-color: transparent;
  border-left: 2px solid $c-border-medium;
  border-right: 2px solid $c-border-medium;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
}

.dice-rolls li.roll {
  position: relative;
  width: 24px;
  line-height: 24px;
  float: left;
  margin-right: 1px;
  font-size: 16px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin: 2px;

  &.die-sm {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
  }
}
li.roll.die.d6.roll-failure {
  color: $c-miss;
}
li.roll.die.d6.roll-success {
  color: $c-hit;
}
li.roll.die.d6.roll-missing {
  background-color: transparent;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.16);
  border-width: 0.15rem;
  min-height: 24px;
}

.dice-result {
  font-size: 1.1rem;
  width: 100%;
  display: block;
  border-radius: 5px;
  text-align: center;

  &.failure {
    background-color: #8200002e;
  }

  &.partial {
    background: #8200002e;
    background: linear-gradient(315deg, #8200002e 49%, #0082072e 51%);
  }

  &.success {
    background-color: #0082072e;
  }
}

.roll-damage-value {
  font-weight: bold;
  font-size: $font-size-lg;
}

.roll-damage-value-total {
  font-weight: bold;
  font-size: $font-size-xl;
}

.roll-details-button {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #FFF inset;
}
