$c-neutral: #191813;
$c-neutral-muted: #676662;
$c-hit: #18520b;
$c-hit-muted: #5b7455;
$c-miss: #712625;
$c-miss-muted: #7b5655;
$c-ob: #2e2e2e;
$c-ob-muted: #666666;

$die-size-sm: 20px;
$die-size-md: 26px;

$font-size-sm: 1.1em;
$font-size-md: 1.3em;

.dice-result {
  font-size: 1.1rem;
  width: 100%;
  display: block;
  border-radius: 5px;
  text-align: center;

  &.failure {
    background-color: #8200002e;
  }

  &.partial {
    background: #8200002e;
    background: linear-gradient(315deg, #8200002e 49%, #0082072e 51%);
  }

  &.success {
    background-color: #0082072e;
  }
}

.roll-damage-value {
  font-weight: bold;
  font-size: $font-size-lg;
}

.roll-damage-value-total {
  font-weight: bold;
  font-size: $font-size-xl;
}

.d6 {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  color: $c-neutral;
  float: left;
  font-weight: bold;
  margin: 2px;
  text-align: center;
  width: $die-size-md;
  height: $die-size-md;
  line-height: $die-size-md;
  font-size: $font-size-md;

  &.failure {
    color: $c-miss;
  }

  &.success {
    color: $c-hit;
  }

  &.missing {
    background-color: transparent;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.16);
    border-width: 0.15rem;
  }
}

.roll-obstacle {
  height: $die-size-md;
  line-height: $die-size-md;
  font-size: $font-size-md;
  color: $c-ob;
  width: auto;
  padding: 0 3px;
  margin: 2px;
  background-color: transparent;
  border-left: 2px solid $c-border-medium;
  border-right: 2px solid $c-border-medium;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.12);
}

// Overrides

// Apply this to a parent container at any depth and it will override 
// the way the dice are displayed, making them less emphasized. 
.override-roll-to-mute {
  .d6 {
    width: $die-size-sm;
    height: $die-size-sm;
    font-size: $font-size-sm;
    line-height: $die-size-sm;
    color: $c-neutral-muted;

    &.success {
      color: $c-hit-muted;
    }

    &.failure {
      color: $c-miss-muted;
    }

    &.missing {
      border-color: rgba(0, 0, 0, 0.1);
    }
  }

  .roll-obstacle {
    height: $die-size-sm;
    line-height: $die-size-sm;
    font-size: $font-size-sm;
    background-color: rgba(0, 0, 0, 0.1);
    color: $c-ob-muted;
  }
}
