$c-black: #000;
$c-dark: #191813;

$c-bg-light: #e2dfd6ff;
$c-bg-dark: #18171fff;

$c-bg-input-light: #00000012;
$c-bg-input-dark: #fff7dc12;

$c-border-light: #232323ff;
$c-border-dark: #cfcabaff;
$c-border-highlight-light: #616161ff;
$c-border-highlight-dark: #fffbedff;

$c-text-light: #232323ff;
$c-text-light-disabled: #464646;
$c-text-dark: #cfcabaff;
$c-text-dark-disabled: #969592;

$c-themed-bg-disabled: #676662;
$c-themed-bg-lighter: #ec81237d;
$c-themed-bg-light: #e0771c7d;

// Themed operation state - success, warn, error and failure

// Headers
$c-themed-header-bg-success: rgb(53, 94, 70);
$c-themed-header-bg-warn: rgb(94, 76, 39);
$c-themed-header-bg-error: rgb(106 35 35);
$c-themed-header-bg-info: rgb(40, 35, 106);

$c-themed-header-success: rgb(191, 255, 191);
$c-themed-header-warn: rgb(255, 242, 159);
$c-themed-header-error: rgb(255 197 197);
$c-themed-header-info: rgb(197, 197, 255);

// Content
$c-themed-success: #105010;
$c-themed-warn: #524d3b;
$c-themed-error: #541717;
$c-themed-info: #253864;

$c-themed-bg-success: #99bd9d;
$c-themed-bg-warn: #f1e3b6;
$c-themed-bg-error: #e9b9b9;
$c-themed-bg-info: #a3b3d1;

$c-themed-border-success: rgb(75 137 74);
$c-themed-border-warn: rgb(181, 167, 83);
$c-themed-border-error: rgb(131 67 67);
$c-themed-border-info: rgb(77 114 145);
