$strive-regular-font: 'STRIVE-Regular';

// Font sizes
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 3rem;

// Font sizes
.font-size {
  &-xs {
    font-size: $font-size-xs;
  }

  &-sm {
    font-size: $font-size-sm;
  }

  &-md {
    font-size: $font-size-md;
  }

  &-lg {
    font-size: $font-size-lg;
  }

  &-xl {
    font-size: $font-size-xl;
  }
}

// Font weight
.font-bold {
  font-weight: bold;
}

// Overrides

body.strive-regular-font .strive-regular-font {
  font-family: $strive-regular-font;
}

form.strive-regular-font h1.window-title {
  font-size: 1.5rem;
}

h1.strive {
  font-size: 3em;
  font-weight: unset;
  text-transform: uppercase;
  user-select: text;
}

h2.strive {
  font-size: 2.5em;
  font-weight: unset;
  text-transform: uppercase;
  user-select: text;
}

h3.strive {
  font-size: 2em;
  font-weight: unset;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-transform: uppercase;
  user-select: text;
}

h4.strive {
  font-size: 1.5em;
  font-weight: unset;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-transform: uppercase;
  user-select: text;
}

.theme-dark {
  h3.strive,
  h4.strive {
    border-bottom-color: $c-border-dark;
  }
}
.theme-light {
  h3.strive,
  h4.strive {
    border-bottom-color: $c-border-light;
  }
}
