$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-fancy: 'Black-Chancery';

.fancy-font {
  font-family: $font-fancy;
}

.font-primary {
  font-family: $font-primary;
}
