// Padding sizes
$padding-xs: 1px;
$padding-sm: 2px;
$padding-md: 5px;
$padding-lg: 10px;

$border-groove: 2px groove #eeede0;

$line-height: 26px;

// Font sizes
$font-size-xxs: 0.7rem;
$font-size-xs: 0.8rem;
$font-size-sm: 0.9rem;
$font-size-default: 1rem;
$font-size-lg: 1.1rem;
$font-size-xl: 1.4rem;
$font-size-xxl: 1.6rem;
$font-size-3xl: 1.8rem;

// Column widths
$width-column-xs: 20px;
$width-column-sm: 30px;
$width-column-md: 50px;
$width-column-lg: 60px;
$width-column-xl: 80px;
$width-column-xxl: 100px;

// Border-radius sizes
$border-radius-xs: 0.1rem;
$border-radius-sm: 0.2rem;
$border-radius-md: 0.3rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 0.8rem;