$input-size-sm: 1.5rem; // 24px at 1:1 scale
$input-size-md: 2.375rem; // 38px at 1:1 scale
$input-size-lg: 3rem; // 48px at 1:1 scale

// Padding sizes
$padding-xs: 1px;
$padding-sm: 3px;
$padding-md: 5px;
$padding-lg: 10px;
$padding-xl: 20px;
