.momentum-bar-root {
  .momentum-bar {
    position: relative;
    height: 64px;
    margin-left: 8px;
    margin-right: 8px;

    img.momentum-bar-decoration {
      position: absolute;
      left: 0;
      top: 0;
    }
    .momentum-bar-handle {
      position: absolute;
      cursor: grab;
    }
  }

  .custom-system-read-only, .custom-system-edit {
    color: #f0f0e0;
  }
}
