{{!-- Requires context:
viewModel: {SkillListItemViewModel}
--}}
{{!-- Row 1 --}}
<div class="flex flex-row">
  {{!-- TODO --}}
  <div class="flex flex-grow">
    {{!-- Send to chat --}}
    {{> buttonSendToChat target=viewModel.item }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.injury"}}
    </span>
    <span class="flex-grow margin-r-md">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" contextTemplate="skill-list-item" }}
    </span>
    {{!-- State --}}
  </div>
  {{!-- Delete --}}
  {{> buttonDelete target=viewModel.item withDialog=true }}
</div>
{{!-- Row 3 --}}
{{!-- Description --}}
<div class="flex flex-row">
  {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true cssClass="fill" contextTemplate="skill-list-item" }}
</div>