{{!-- Requires context:
viewModel: {SkillItemSheetViewModel}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{viewModel.item.img}}" data-edit="img" title="{{viewModel.item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="name" placeholder="ambersteel.labels.name" contextTemplate="skill-item-sheet" }}
        </h1>
        {{#if viewModel.isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat target=viewModel.item }}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Related Attribute --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.relatedAttribute"}}
    </div>
    <div class="flex-grow">
      {{> inputDropDown isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.relatedAttribute" options=viewModel.attributeOptions contextTemplate="skill-item-sheet" }}
    </div>
  </div>
  {{!-- Category --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.category"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.category" contextTemplate="skill-item-sheet" }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea isEditable=viewModel.isEditable propertyOwner=viewModel.item propertyPath="data.data.description" placeholder="ambersteel.labels.description" allowResize=true cssClass="fill" contextTemplate="skill-item-sheet" }}
    </div>
  </div>
  {{!-- Skill Abilites --}}
  {{#if viewModel.isSkillAbilityListVisible }}
    {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.skillAbilityTableViewModel }}
  {{/if}}
</form>