{{!-- Requires context:
isEditable: {Boolean}
isSendable: {Boolean}
item: {Item} = {
  id: {String}
  name: {String}
  img: {String}
  data: {ItemData} = {
    data: {Object} = {
      description: {String}
      groupName: {String}
      value: {Number}
      successes: {Number}
      failures: {Number}
      relatedAttribute: {String}
      requiredSuccessses: {Number}
      requiredFailures: {Number}
      abilities: {[Object]} -> see item/skill-ability/skill-ability-table.hbs,
      category: {String}
    }
  }
}
actor: {Actor | undefined}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        <img class="header-image" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1 class="header-name">
          {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="name" placeholder="ambersteel.labels.name" }}
        </h1>
        {{#if isSendable}}
          <div class="flex flex-center">
            {{> buttonSendToChat isEditable=isEditable target=item }}
          </div>
        {{/if}}
      </div>
    </div>
  </header>
  {{!-- Related Attribute --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.relatedAttribute"}}
    </div>
    <div class="flex-grow">
      {{> inputDropDown isEditable=isEditable propertyOwner=item propertyPath="data.data.relatedAttribute" options=(game.ambersteel.getAttributeOptions) }}
    </div>
  </div>
  {{!-- Category --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.category"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField isEditable=isEditable propertyOwner=item propertyPath="data.data.category" }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea isEditable=isEditable propertyOwner=item propertyPath="data.data.description" placeholder=(localize "ambersteel.labels.description") allowResize=true cssClass="fill" }}
    </div>
  </div>
  {{!-- Skill Abilites --}}
  {{#if (or (eq isEditable true) (neq item.data.data.abilities.length 0)) }}
    {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" 
      isEditable=isEditable 
      skillAbilitiesInitiallyVisible=true 
      visGroupId=(generateId) 
      item=item 
      actor=actor 
    }}
  {{/if}}
</form>