{{!-- Parameters:
viewModel: {SkillItemSheetViewModel}
cssClass: {undefined | String}
--}}
<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flex-column flex-grow">
      <div class="flex flex-row">
        {{> inputImage viewModel=viewModel.vmImg cssClass="custom-icon-md" }}
        <h1 class="header-name">
          {{> inputTextField viewModel=viewModel.vmTfName }}
        </h1>
        <div class="flex flex-center">
          {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
        </div>
      </div>
    </div>
  </header>
  {{!-- Related Attribute --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.relatedAttribute"}}
    </div>
    <div class="flex-grow">
      {{> inputDropDown viewModel=viewModel.vmDdRelatedAttribute }}
    </div>
  </div>
  {{!-- Category --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.category"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfCategory }}
    </div>
  </div>
  {{!-- IsMagicSchol --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.magicSchool"}}
    </div>
    <div class="flex-grow">
      {{> buttonToggle viewModel=viewModel.vmSwIsMagicSchool }}
    </div>
  </div>
  {{!-- Description --}}
  <div class="sheet-block flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text=(localize "ambersteel.labels.description")}}
    </div>
    <div class="flex-grow">
      {{> inputTextarea viewModel=viewModel.vmTaDescription cssClass="fill" }}
    </div>
  </div>
  {{!-- Skill Abilites --}}
  {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable cssClass=(ifThenElse viewModel.isSkillAbilityListVisible "" "hidden") }}
</form>