{{!-- Requires context:
viewModel: {SkillListItemViewModel}
--}}
{{!-- Row 1 --}}
<div class="flex flex-row">
  <div class="flex flex-grow">
    {{!-- Send to chat --}}
    {{> buttonSendToChat viewModel=viewModel.vmBtnSendToChat }}
    {{!-- Name --}}
    <span class="width-min-xl">
      {{> inputLabel text="ambersteel.labels.injury"}}
    </span>
    <span class="flex-grow margin-r-md">
      {{> inputTextField viewModel=viewModel.vmTfName }}
    </span>
  </div>
  {{!-- Delete --}}
  {{> buttonDelete viewModel=viewModel.vmBtnDelete }}
</div>
{{!-- Row 2 --}}
<div class="flex flex-row">
  {{!-- Related Attribute --}}
  <div class="flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.relatedAttribute"}}
    </div>
    <div class="flex-grow">
      {{> inputDropDown viewModel=viewModel.vmDdRelatedAttribute }}
    </div>
  </div>
  {{!-- Category --}}
  <div class="flex flex-row margin-b-md">
    <div class="width-min-xxl">
      {{> inputLabel text="ambersteel.labels.category"}}
    </div>
    <div class="flex-grow">
      {{> inputTextField viewModel=viewModel.vmTfCategory }}
    </div>
  </div>
</div>
{{!-- Row 3 --}}
{{!-- Description --}}
<div class="flex flex-row">
  {{> inputTextarea viewModel=viewModel.vmTaDescription cssClass="fill" }}
</div>
{{!-- Row 4 --}}
{{!-- Skill Abilites --}}
{{#if viewModel.isSkillAbilityListVisible }}
  {{> "systems/ambersteel/templates/item/skill-ability/skill-ability-table.hbs" viewModel=viewModel.vmSkillAbilityTable }}
{{/if}}