code {
  padding: 0 .4em;
  margin: 0;
  white-space: nowrap;
  border-radius: .3em;
  font-family: unset;
  font-weight: bold;
}

.theme-light {
  code {
    background-color: $c-bg-light-secondary;
  }
}
.theme-dark {
  code {
    background-color: $c-bg-dark-secondary;
  }
}
