.description-editor {
  min-height: 100px;

  .editor-content {
    min-height: 100px;
  }
}

div.tox-tiered-menu {
  > div.tox-menu.tox-collection.tox-collection--list.tox-selected-menu {
    background-color: $c-tox-button-override-bg;
    
    > div.tox-collection__group {
      > div.tox-collection__item--active {
        background-color: $c-tox-button-hover-override-bg;
      }
      > div.tox-collection__item--enabled {
        background-color: unset;
      }
      > div.tox-collection__item--active.tox-collection__item--enabled {
        background-color: $c-tox-button-hover-override-bg;
      }
    }
  }
}

div.custom-system-edit.component-rich-text-container {
  code {
    padding: 0 .4em;
    margin: 0;
    white-space: nowrap;
    background-color: $c-bg-dark;
    border-radius: 6px;
    border: 1px solid $c-bg-dark;
    font-family: unset;
    font-weight: bold;
  }
}
